@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.25;
}

.h2 {
  font-size: 48px;
  font-weight: 700;
  color: #1a1a1a;
}

.h3 {
  font-size: 40px;
  font-weight: 700;
  color: #1A1A1A;
}

.h4 {
  font-size: 32px;
  font-weight: 600;
}

.p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #1a1a1a;
}

.accordion-active {
  transform: rotate(0deg) !important;
  transition: 0.2s !important;
}

.content_container {
  padding: 0 35px;
}

.logo-motto__aside {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-mask-repeat: no-repeat;
  height: fit-content;
  padding-left: 30px;
}
.logo-motto__aside .text-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo-motto__aside .text-bg .logo_wrapper {
  padding-top: 32px;
}
.logo-motto__aside .text-bg .logo_wrapper .logo-text {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  background: linear-gradient(to right, #395ECA, #848BD8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 26px;
}

.img-logo {
  width: 54px;
  height: 54px;
  margin-top: 20px;
}

.motto_text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-weight: 200;
  margin-top: 30px;
}

.wrapper {
  max-width: 1270px;
  margin: 0 auto;
}

.landing_container {
  display: flex;
  padding: 0 35px;
}

.header-wrapper {
  width: -webkit-fill-available;
  padding: 20px 35px;
  top: 0;
  transition: 0.3s;
  position: fixed;
  box-sizing: border-box;
  z-index: 1100;
  background-color: transparent;
}

.header {
  display: flex;
  font-weight: 200;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navigation_list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 60px;
  align-items: center;
}

.navigation_link {
  margin-right: 25px;
  padding: 16px 0;
  text-decoration: none;
  color: black;
  width: 100%;
  line-height: 1.5;
}

.landing_message {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
}
.landing_message .landing_message__wrapper {
  width: 66.6%;
}
.landing_message .landing_message__wrapper .landing-h1 {
  font-family: Rubik, sans-serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 1.25;
}
.landing_message .landing_message__wrapper .landing-p {
  font-family: Rubik, sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.5;
  padding-top: 48px;
  padding-bottom: 62px;
}
.landing_message .landing_message__wrapper .landing-button_link {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-size: 19px;
  color: black;
  z-index: 1;
}
.landing_message .landing_message__wrapper .landing-button_link:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.landing_message .landing_message__wrapper .landing-button_link:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #395ECA;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.landing_message .landing_message__wrapper .landing-button_link:hover {
  color: #ffffff;
  border: 2px solid #395ECA;
}
.landing_message .landing_message__wrapper .landing-button_link:hover:before {
  top: -35%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.landing_message .landing_message__wrapper .landing-button_link:hover:after {
  top: -45%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.contact-button_wrapper {
  width: 140px;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  padding-right: 25px;
  z-index: 9999;
}

.contact-button {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-size: 16px;
  color: black;
  z-index: 1;
}

.contact-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.contact-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #395ECA;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.contact-button:hover {
  color: #ffffff;
  border: 2px solid #395ECA;
}

.contact-button:hover:before {
  top: -35%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.contact-button:hover:after {
  top: -45%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.mobile {
  display: none;
}

.burger-menu-wrapper {
  border: 2px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  display: flex;
  position: absolute;
  right: 32px;
  z-index: 99;
  width: 64px;
  overflow: hidden;
  height: 56px;
  box-sizing: border-box;
  margin: 30px 0 30px auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.burger-menu-wrapper .burger-menu {
  width: 18px;
  height: 10px;
  position: relative;
}
.burger-menu-wrapper .burger-menu .burger-element {
  width: 100%;
  height: 2px;
  background-color: #1A1A1A;
  position: absolute;
  transition: 0.2s;
}
.burger-menu-wrapper .burger-menu .burger-element:first-child {
  top: 0;
}
.burger-menu-wrapper .burger-menu .burger-element:last-child {
  bottom: 0;
}

.mobile .burger-menu-wrapper:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.mobile .burger-menu-wrapper:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #395ECA;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.mobile .burger-menu-wrapper:hover {
  color: #ffffff;
  border: 2px solid #395ECA;
}
.mobile .burger-menu-wrapper:hover .burger-menu .burger-element {
  background-color: white;
  transition: 0.3s;
}
.mobile .burger-menu-wrapper:hover:before {
  top: -35%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.mobile .burger-menu-wrapper:hover:after {
  top: -45%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.burger-element-top-active {
  transform: rotate(45deg) !important;
  top: 50% !important;
}

.burger-element-bottom-active {
  transform: rotate(-45deg) !important;
  top: 50% !important;
  bottom: unset !important;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: white;
  transition: 0.3s;
}
.mobile-nav .navigation_list {
  display: flex;
  height: 100%;
  padding: 100px 0;
  flex-direction: column;
  margin-top: 30px;
  transition: 0.3s;
}
.mobile-nav .navigation_list .navigation_item {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}
.mobile-nav .navigation_list .navigation_item .navigation_link {
  margin-right: 0;
  font-size: 28px;
  padding: 8px 0;
  position: relative;
}
.mobile-nav .contact-button {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-size: 16px;
  color: black;
  z-index: 1;
}
.mobile-nav .contact-button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.mobile-nav .contact-button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #395ECA;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.mobile-nav .contact-button:hover {
  color: #ffffff;
  border: 2px solid #395ECA;
}
.mobile-nav .contact-button:hover:before {
  top: -35%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.mobile-nav .contact-button:hover:after {
  top: -45%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.mobile-nav-active {
  display: block;
  z-index: 2;
  height: 100%;
  transition: 0.3s;
}

.top-right_image {
  background-image: url("../img/image-2.jpg");
  position: absolute;
  background-repeat: no-repeat;
  right: 0;
  background-size: 370px;
  object-fit: cover;
  width: 370px;
  height: 614px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../img/image-mask.svg");
  z-index: 1000;
}

.divider-desktop {
  padding-bottom: 160px;
}

.text-image-lr {
  align-items: center;
  display: flex;
}
.text-image-lr .text {
  width: 41.66%;
}
.text-image-lr .text .h3 {
  margin-bottom: 30px;
}
.text-image-lr .text .p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #1A1A1A;
  margin-bottom: 30px;
}
.text-image-lr .text ul {
  padding-left: 20px;
}
.text-image-lr .text ul .li {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}
.text-image-lr .image {
  padding-left: 15px;
  margin-left: 8.33%;
  padding-right: 0;
  width: 50%;
}
.text-image-lr .image img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 414px;
}

.description-vertical {
  width: 50%;
}
.description-vertical .p {
  padding: 40px 0;
}

.description-horizontal-lr {
  display: flex;
}
.description-horizontal-lr .h2 {
  padding-left: 0;
  padding-right: 15px;
  width: 50%;
}
.description-horizontal-lr .p {
  width: 50%;
  padding-right: 0;
  padding-left: 15px;
}

.accordion-rl {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
}
.accordion-rl .image {
  width: 41.66%;
  padding-left: 0;
  padding-right: 15px;
}
.accordion-rl .image .img {
  height: 660px;
  object-fit: cover;
}
.accordion-rl .text {
  padding-right: 0;
  padding-left: 15px;
  margin-left: 8.33%;
  width: 50%;
}
.accordion-rl .text .h3 {
  padding: 40px 0;
}
.accordion-rl .text .p {
  padding-bottom: 40px;
}
.accordion-rl .text .accordion-menu {
  transition: 0.4s;
}
.accordion-rl .text .accordion-menu .accordion-button-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
}
.accordion-rl .text .accordion-menu .accordion-button {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}
.accordion-rl .text .accordion-menu .accordion-button .accordion-toggle {
  cursor: pointer;
  transition: 0.2s;
  transform: rotate(135deg);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 0;
  outline: 0;
}
.accordion-rl .text .accordion-menu .accordion-content {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.accordion-rl .text .accordion-menu .accordion-content .accordion-text {
  max-height: 0;
  margin-left: 64px;
  transition: 0.4s;
  overflow: hidden;
}
.accordion-rl .text .accordion-menu .accordion-content .accordion-text .accordion-p {
  color: rgba(26, 26, 26, 0.6);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.accordion-lr .text {
  width: 50%;
}
.accordion-lr .text .accordion-menu {
  transition: 0.4s;
}
.accordion-lr .text .accordion-menu .accordion-button-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
}
.accordion-lr .text .accordion-menu .accordion-button {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}
.accordion-lr .text .accordion-menu .accordion-button .accordion-toggle {
  cursor: pointer;
  transition: 0.2s;
  transform: rotate(135deg);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 0;
  outline: 0;
}
.accordion-lr .text .accordion-menu .accordion-content {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.accordion-lr .text .accordion-menu .accordion-content .accordion-text {
  max-height: 0;
  margin-left: 64px;
  transition: 0.4s;
  overflow: hidden;
}
.accordion-lr .text .accordion-menu .accordion-content .accordion-text .accordion-p {
  color: rgba(26, 26, 26, 0.6);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.accordion-lr .image {
  width: 41.66%;
}
.accordion-lr .image .img {
  height: 660px;
  width: 100%;
}

.product_building {
  padding-bottom: 80px;
}

.product_design {
  padding-bottom: 160px;
}

.strategic-support .text .desc-p {
  color: rgba(26, 26, 26, 0.6);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.strategic-support .text .button {
  padding-top: 28px;
}
.strategic-support .text .button .btn {
  position: relative;
  padding: 12px 0;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
  color: #1A1A1A;
}
.strategic-support .text .button .btn:after {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #395ECA;
  right: 0;
}
.strategic-support .text .button .btn:hover:after {
  background-color: #848BD8;
  width: 100%;
  transition: 0.3s;
}

.team-scaling {
  display: flex;
  align-items: center;
}
.team-scaling .text {
  padding-left: 0;
  padding-right: 15px;
  width: 50%;
}
.team-scaling .text .h3 {
  padding: 40px 0;
}
.team-scaling .text .p {
  padding-bottom: 40px;
}
.team-scaling .text .desc-p {
  color: rgba(26, 26, 26, 0.6);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.team-scaling .text .button {
  padding-top: 28px;
}
.team-scaling .text .button .btn {
  position: relative;
  padding: 12px 0;
  border: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
  color: #1A1A1A;
}
.team-scaling .text .button .btn:after {
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #395ECA;
  right: 0;
}
.team-scaling .text .button .btn:hover:after {
  background-color: #848BD8;
  width: 100%;
  transition: 0.3s;
}
.team-scaling .image {
  padding-left: 15px;
  padding-right: 0;
  margin-left: 8.33%;
  width: 41.66%;
}
.team-scaling .image .img {
  height: 660px;
  object-fit: cover;
  width: 100%;
}

.innovation-experts .p:last-child {
  padding: 0;
}

.members-container {
  max-width: 1270px;
  background-color: #1A1A1A;
  display: none;
}
.members-container .members-wrapper {
  padding: 0 60px;
  margin: 0 auto;
}
.members-container .members-wrapper .members-primary {
  display: flex;
  padding: 64px 0;
}
.members-container .members-wrapper .members-primary .members-image {
  width: 41.66%;
  padding-left: 0;
  padding-right: 15px;
}
.members-container .members-wrapper .members-primary .members-image .member-img {
  padding-left: 5px;
  height: 640px;
}
.members-container .members-wrapper .members-primary .members-description {
  padding-left: 35px;
  padding-right: 0;
  width: 50%;
  margin-left: 8.33%;
}
.members-container .members-wrapper .members-primary .members-description .description .description-p {
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}
.members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .members-name .name {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  color: #fff;
}
.members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .buttons {
  display: flex;
}
.members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .buttons .button {
  display: inline-block;
  padding: 18px 20px;
  cursor: pointer;
  border: 2px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-size: 16px;
  color: white;
  z-index: 1;
}
.members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .buttons .button .arrow {
  width: 15px;
  height: 15px;
}
.members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .buttons .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .buttons .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #395ECA;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .buttons .button:hover {
  color: #ffffff;
  border: 2px solid #395ECA;
}
.members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .buttons .button:hover:before {
  top: -35%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .buttons .button:hover:after {
  top: -45%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .buttons .button-prev {
  margin-right: 16px;
}
.members-container .members-wrapper .members-primary .members-description .pagination {
  margin: 50px 0 40px;
  display: flex;
  justify-content: space-between;
}
.members-container .members-wrapper .members-primary .members-description .post-media-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 50px;
}
.members-container .members-wrapper .members-primary .members-description .post-media-wrapper .post {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 10px;
}

.pagination-element {
  background-color: #fff;
  opacity: 0.5;
  flex: 1;
  height: 3px;
  border-radius: 0;
  cursor: pointer;
  margin-right: 8px;
}
.pagination-element:last-child {
  margin-right: 0;
}

.pagination-element-active {
  background-color: #395ECA;
  opacity: 1;
}

.text-button-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-button-c .h3 {
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 400 !important;
}
.text-button-c .btn {
  width: fit-content;
  margin: 0 auto;
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-size: 19px;
  color: black;
  z-index: 1;
}
.text-button-c .btn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.text-button-c .btn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #395ECA;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.text-button-c .btn:hover {
  color: #ffffff;
  border: 2px solid #395ECA;
}
.text-button-c .btn:hover:before {
  top: -35%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.text-button-c .btn:hover:after {
  top: -45%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.example-heading {
  width: 30%;
  padding-bottom: 80px;
}

.example-element {
  background-color: #006699;
}
.example-element .cover-link {
  text-decoration: none;
}
.example-element .cover-link:hover .h3 {
  text-underline: white;
}
.example-element .cover-link .element {
  max-width: 1270px;
  display: flex;
  align-items: center;
}
.example-element .cover-link .element .text-logo {
  padding: 40px 60px 40px 96px;
  width: 50%;
}
.example-element .cover-link .element .text-logo .logo {
  height: 40px;
  max-width: 100%;
}
.example-element .cover-link .element .text-logo .h3 {
  margin-top: 32px;
  color: #fff;
  margin-bottom: 16px;
}
.example-element .cover-link .element .text-logo .p {
  color: #fff;
  font-weight: 400;
  font-size: 16px !important;
}
.example-element .cover-link .element .text-logo .button {
  margin-top: 32px;
}
.example-element .cover-link .element .text-logo .button .button-wrapper {
  display: flex;
  width: fit-content;
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  font-size: 19px;
  color: black;
  z-index: 1;
}
.example-element .cover-link .element .text-logo .button .button-wrapper .arrow {
  font-weight: 400;
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 100%;
  height: auto;
}
.example-element .cover-link .element .text-logo .button .button-wrapper:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.example-element .cover-link .element .text-logo .button .button-wrapper:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #395ECA;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.example-element .cover-link .element .text-logo .button .button-wrapper:hover {
  color: #ffffff;
  border: 2px solid #395ECA;
}
.example-element .cover-link .element .text-logo .button .button-wrapper:hover:before {
  top: -35%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.example-element .cover-link .element .text-logo .button .button-wrapper:hover:after {
  top: -45%;
  background-color: #395ECA;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.example-element .cover-link .element .image {
  width: 50%;
  padding-right: 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding-left: 15px;
}
.example-element .cover-link .element .image .img {
  position: relative;
  top: 0;
  right: 0;
  object-position: left;
  height: 100%;
  max-width: 100%;
}

footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 48px 25px 64px 25px;
  background-color: #1A1A1A;
  position: relative;
}
footer .footer_container {
  max-width: 1270px;
  padding: 0 35px;
  margin: 0 auto;
}
footer .footer_container .footer-wrapper {
  width: 66.6%;
}
footer .footer_container .footer-wrapper .name {
  background: linear-gradient(to right, #395ECA, #848BD8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 26px;
  padding-bottom: 40px;
  font-family: "Ubuntu", sans-serif;
  width: fit-content;
}
footer .footer_container .footer-wrapper img {
  width: 70px;
  margin-bottom: 32px;
  max-width: 100%;
  height: 70px;
}
footer .footer_container .footer-wrapper .motto {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
footer .footer_container .footer-wrapper .locations {
  flex-wrap: wrap;
  display: flex;
  color: #868686;
  padding-top: 2px;
  padding-bottom: 40px;
}
footer .footer_container .footer-wrapper .locations .location {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
footer .footer_container .footer-wrapper .locations .location:after {
  content: "•";
  margin: 0 10px;
}
footer .footer_container .footer-wrapper .locations .location:first-child {
  content: "" !important;
}
footer .footer_container .footer-wrapper .locations .location:last-child {
  content: "" !important;
}
footer .footer_container .footer-wrapper .newsletter-input {
  display: flex;
  gap: 15px;
}
footer .footer_container .footer-wrapper .newsletter-input input {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border-radius: unset;
  padding: 16px 20px;
  border: 2px solid #fff;
  color: #fff !important;
  background-clip: padding-box;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
  max-width: 100%;
}
footer .footer_container .footer-wrapper .newsletter-input .input-wrapper {
  margin-bottom: 20px;
  width: 50%;
}
footer .footer_container .footer-wrapper .newsletter-input .button .subscribe {
  transition: 0.3s;
  margin-bottom: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 20px;
  border-radius: 0;
  border: 2px solid #fff;
  background-color: transparent;
  box-shadow: 4px 4px 0 #fff;
}
footer .footer_container .footer-wrapper .newsletter-input .button .subscribe:hover {
  box-shadow: 2px 2px 0 #fff;
  transition: 0.3s;
}
footer .footer_container .footer-wrapper .logos-wrapper {
  margin-top: 32px;
  margin-bottom: 28px;
  box-sizing: border-box;
}
footer .footer_container .footer-wrapper .logos-wrapper .element {
  width: 25px;
  height: 28px;
  box-sizing: border-box;
}
footer .footer_container .footer-wrapper .logos-wrapper a {
  padding-left: 40px;
}
footer .footer_container .footer-wrapper .logos-wrapper a:first-child {
  padding-left: 0;
}
footer .footer_container .footer-wrapper .logos-wrapper .fa-brands {
  font-size: 28px;
}
footer .footer_container .footer-wrapper .links-wrapper .links {
  display: flex;
}
footer .footer_container .footer-wrapper .links-wrapper .links .link {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  padding-left: 32px;
  margin-bottom: 8px;
}
footer .footer_container .footer-wrapper .links-wrapper .links .link:first-child {
  padding-left: 0;
}
footer .footer_container .footer-wrapper .site-name {
  padding-top: 40px;
}
footer .footer_container .footer-wrapper .site-name p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.element-active {
  display: block;
}

@media screen and (max-width: 1500px) {
  body .header-wrapper .header .header_nav-menu {
    padding-left: 0;
  }

  .wrapper {
    padding: 0 118px;
  }
}
@media screen and (max-width: 1450px) {
  footer .footer_container {
    padding: 0 100px;
  }
}
@media screen and (max-width: 1300px) {
  body .header-wrapper .header .header_nav-menu {
    margin-left: 160px;
  }
}
@media screen and (max-width: 960px) {
  .logo-motto__aside {
    width: fit-content;
  }

  body .wrapper {
    padding: 0 90px;
  }

  .members-header .header-h2 {
    font-size: 37px;
  }

  .tools-wrapper .tools-header .header-h2 {
    width: -webkit-fill-available;
    font-size: 37px;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper .description-vertical {
    box-sizing: border-box;
  }
  .wrapper .description-vertical h2 {
    font-size: 37px;
  }
  .wrapper .description-vertical p {
    font-size: 18px;
  }
  .wrapper .example-heading {
    width: 100%;
  }
  .wrapper .example-element .cover-link .element {
    padding: 15px 0;
  }
  .wrapper .example-element .cover-link .element .text-logo {
    padding-left: 48px;
    padding-right: 0;
  }
  .wrapper .example-element .cover-link .element .text-logo h3 {
    font-size: 26px;
  }
  .wrapper .example-element .cover-link .element .text-logo p {
    font-size: 16px;
  }
  .wrapper .team-scaling {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 72px;
  }
  .wrapper .team-scaling .image {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
  }
  .wrapper .team-scaling .image .img {
    width: 100%;
    height: 528px;
  }
  .wrapper .team-scaling .text {
    width: 100%;
  }
  .wrapper .strategic-support {
    display: block;
  }
  .wrapper .strategic-support .image {
    width: 100%;
    padding-right: 0;
  }
  .wrapper .strategic-support .image .img {
    height: 528px;
    margin-bottom: 56px;
    width: 100%;
  }
  .wrapper .strategic-support .text {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
  .wrapper .product_development {
    display: flex;
    flex-direction: column-reverse;
  }
  .wrapper .product_development .image {
    width: 100%;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 56px;
  }
  .wrapper .product_development .text {
    width: 100%;
  }
  .wrapper .product_design {
    display: block;
  }
  .wrapper .product_design .image {
    width: 100%;
  }
  .wrapper .product_design .image .img {
    width: 100%;
    height: 528px;
    margin-bottom: 16px;
  }
  .wrapper .product_design .text {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
  .wrapper .product_building {
    padding-top: 120px;
  }
  .wrapper .product-discovery {
    display: flex;
    flex-direction: column-reverse;
  }
  .wrapper .product-discovery .image {
    margin: 0 0 56px 0;
    width: 100%;
    padding-left: 0;
  }
  .wrapper .product-discovery .image .img {
    height: 528px;
    object-fit: cover;
    width: 100%;
  }
  .wrapper .product-discovery .text {
    width: 100%;
  }
  .wrapper .idea-maturity {
    display: block;
  }
  .wrapper .idea-maturity .text {
    width: 100%;
  }
  .wrapper .idea-maturity .image {
    width: 100%;
    padding: 0;
    margin: 50px 0 0 0;
  }
  .wrapper .idea-maturity .image img {
    height: 289px;
    object-fit: cover;
    object-position: 50% 50%;
  }
  .wrapper .description-vertical {
    width: 100%;
  }
  .wrapper .description-horizontal-lr {
    display: block;
  }
  .wrapper .description-horizontal-lr h2 {
    width: 100%;
  }
  .wrapper .description-horizontal-lr p {
    width: 100%;
    padding-left: 0;
    padding-top: 32px;
  }

  .product-strategy {
    display: block;
    padding-bottom: 28px;
  }
  .product-strategy .image {
    width: 100%;
  }
  .product-strategy .image .img {
    width: 100%;
    height: 528px;
    margin-bottom: 56px;
  }
  .product-strategy .text {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .divider-1200 {
    display: none;
  }

  .wrapper {
    max-width: 780px;
    padding: 0;
  }

  .header-wrapper .header .header_nav-menu {
    display: none;
  }
  .header-wrapper .header .contact-button_wrapper {
    display: none;
  }

  .top-right_image {
    display: none;
  }

  .landing_message {
    padding-top: 120px;
  }

  .landing_container {
    margin: 0 auto;
    max-width: 780px;
  }
  .landing_container .landing_message__wrapper {
    width: 100%;
  }
  .landing_container .landing_message__wrapper .landing-h1 {
    font-size: 50px;
  }
  .landing_container .landing_message__wrapper .landing-p {
    font-size: 24px;
  }

  .plug-img_wrapper .plug_img {
    object-position: 50% 50%;
    object-fit: cover;
    height: 260px;
  }

  .wrapper .content_container .partners-wrapper .partners-heading {
    width: 100%;
  }

  .heading-wrapper-laptop {
    width: 70%;
  }

  .heading-laptop {
    font-size: 42px !important;
  }

  .plug-img_3_wrapper .plug_img-3 {
    height: 260px;
  }

  .header-h2 {
    width: 100%;
    font-size: 42px;
  }

  .header-h3 {
    font-size: 34px;
  }

  .header-h2 {
    font-size: 34px;
  }

  .members-container .members-wrapper {
    padding: 0 40px;
  }
  .members-container .members-wrapper .members-primary {
    display: block;
    padding: 20px 0 32px;
  }
  .members-container .members-wrapper .members-primary .members-image {
    width: 100%;
  }
  .members-container .members-wrapper .members-primary .members-image .member-img {
    object-position: 49.61% 21.6%;
    object-fit: cover;
    height: 640px;
    margin-bottom: 32px;
    width: 100%;
  }
  .members-container .members-wrapper .members-primary .members-description {
    padding-left: 0;
    width: 100%;
    margin-left: 0;
  }
  .members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .members-name .name {
    font-size: 34px;
  }

  .members-header {
    width: -webkit-fill-available;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
  }

  body footer .footer_container {
    max-width: 780px;
  }
  body footer .footer_container .footer-wrapper {
    padding: 0 35px;
  }
  body footer .footer_container .footer-wrapper .newsletter-input {
    flex-direction: column;
  }
  body footer .footer_container .footer-wrapper .newsletter-input .input-wrapper {
    width: 100%;
  }

  .header-wrapper {
    padding: 0;
    min-height: 120px;
  }

  .mobile-nav .button-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .mobile-nav .button-container .contact-button_wrapper {
    box-sizing: border-box;
    margin-left: 14px;
    padding-right: 0;
    justify-content: center;
    display: inline-block;
    z-index: 5000;
    margin-bottom: 20px;
    position: static;
    margin-top: 40px;
  }
  .mobile-nav .button-container .contact-button_wrapper .contact-button {
    display: inline-block;
    padding: 12px 20px;
    border: 2px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    font-size: 16px;
    color: black;
    z-index: 1;
  }
  .mobile-nav .button-container .contact-button_wrapper .contact-button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .mobile-nav .button-container .contact-button_wrapper .contact-button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #395ECA;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  .mobile-nav .button-container .contact-button_wrapper .contact-button:hover {
    color: #ffffff;
    border: 2px solid #395ECA;
  }
  .mobile-nav .button-container .contact-button_wrapper .contact-button:hover:before {
    top: -35%;
    background-color: #395ECA;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .mobile-nav .button-container .contact-button_wrapper .contact-button:hover:after {
    top: -45%;
    background-color: #395ECA;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .mobile-nav .navigation_list {
    padding-top: 100px;
    padding-bottom: 0;
  }

  .mobile {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  .wrapper .header-wrapper .header .logo-motto__aside {
    width: fit-content;
    position: absolute;
    padding-left: 30px;
  }
  .wrapper .text-button-c h2 {
    font-size: 48px;
    padding: 0;
  }
  .wrapper .product-strategy {
    padding-bottom: 28px;
  }
  .wrapper .product_development .text h3 {
    font-size: 32px;
  }
  .wrapper .description-horizontal-lr h2 {
    font-size: 40px;
  }
  .wrapper .example-heading {
    font-size: 40px;
    padding: 0 16px 56px 16px;
    box-sizing: border-box;
  }
  .wrapper .example-element .cover-link .element {
    padding: 15px 0;
  }
  .wrapper .example-element .cover-link .element .text-logo {
    padding: 37px;
    width: 100%;
  }
  .wrapper .example-element .cover-link .element .text-logo h3 {
    font-size: 26px;
  }
  .wrapper .example-element .cover-link .element .text-logo p {
    font-size: 16px;
  }
  .wrapper .example-element .cover-link .element .image {
    display: none;
  }

  body .wrapper {
    padding: 0 16px;
  }

  .landing_container {
    padding: 0 16px;
  }

  .content_container {
    padding: 0 16px;
  }

  .heading-wrapper-laptop {
    width: 100% !important;
  }
  .heading-wrapper-laptop .heading-laptop {
    font-size: 37px !important;
  }

  .landing_message .landing_message__wrapper .landing-h1 {
    font-size: 44px !important;
  }
  .landing_message .landing_message__wrapper .landing-p {
    font-size: 21px;
  }

  .members-header {
    padding-left: 0;
    padding-right: 0;
  }

  body footer .footer_container {
    padding: 0 35px;
  }
  body footer .footer_container .footer-wrapper {
    padding: 0;
  }
  body footer .footer_container .footer-wrapper .links-wrapper .links {
    flex-direction: column;
  }
  body footer .footer_container .footer-wrapper .links-wrapper .links .link {
    padding-left: 0;
  }
  body footer .footer_container .footer-wrapper .logos-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  body footer .footer_container .footer-wrapper .logos-wrapper a {
    padding: 0;
  }
}
@media screen and (max-width: 550px) {
  .members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .members-name {
    padding-bottom: 8px;
  }
}

/*# sourceMappingURL=style-PI.css.map */
