@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.current {
  padding: 22px 0;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 2px #1A1A1A;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

.nice-select:hover {
  border-color: #1A1A1A;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #1A1A1A;
}

.nice-select:after {
  border-bottom: 2px solid #1A1A1A;
  border-right: 2px solid #1A1A1A;
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}

.nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}

.nice-select.disabled {
  border-color: #ededed;
  color: #1A1A1A;
  pointer-events: none;
}

.nice-select.disabled:after {
  border-color: #cccccc;
}

.nice-select.wide {
  width: 100%;
}

.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}

.nice-select.right {
  float: right;
}

.nice-select.right .list {
  left: auto;
  right: 0;
}

.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}

.nice-select.small:after {
  height: 4px;
  width: 4px;
}

.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}

.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  width: 100%;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}

.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}

.nice-select .option.selected {
  font-weight: bold;
}

.nice-select .option.disabled {
  background-color: transparent;
  color: #1A1A1A;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

.accordion-active {
  transform: rotate(0deg) !important;
  transition: 0.2s !important;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.25;
}

.h2 {
  font-size: 48px;
  font-weight: 700;
  color: #1a1a1a;
}

.h3 {
  font-size: 40px;
  font-weight: 700;
  color: #1A1A1A;
}

.h4 {
  font-size: 32px;
  font-weight: 600;
}

.p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #1a1a1a;
}

.content_container {
  padding: 0 35px;
}

.logo-motto__aside {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 412px;
  width: 6%;
  -webkit-mask-image: url(../img/logomask.svg);
  mask-image: url(../img/logomask.svg);
  background-color: white;
}

.img-logo {
  width: 54px;
  height: 54px;
  margin-top: 20px;
}

.motto_text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-weight: 200;
  margin-top: 30px;
}

.wrapper {
  max-width: 1270px;
  margin: 0 auto;
}

.landing_container {
  display: flex;
  padding: 0 35px;
}

.header-wrapper {
  width: -webkit-fill-available;
  padding: 20px 35px;
  top: 0;
  transition: 0.3s;
  position: fixed;
  box-sizing: border-box;
  z-index: 10;
  background-color: transparent;
}

.header {
  display: flex;
  font-weight: 200;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.mobile {
  display: none;
}

.burger-menu-wrapper {
  display: flex;
  position: absolute;
  right: 32px;
  z-index: 99;
  width: 64px;
  height: 56px;
  border: 2px solid #1A1A1A;
  box-shadow: 4px 4px 0 #1A1A1A;
  margin: 30px 0 30px auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.burger-menu-wrapper .burger-menu {
  width: 18px;
  height: 10px;
  position: relative;
}
.burger-menu-wrapper .burger-menu .burger-element {
  width: 100%;
  height: 2px;
  background-color: #1A1A1A;
  position: absolute;
  transition: 0.2s;
}
.burger-menu-wrapper .burger-menu .burger-element:first-child {
  top: 0;
}
.burger-menu-wrapper .burger-menu .burger-element:last-child {
  bottom: 0;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: white;
  transition: 0.3s;
}
.mobile-nav .navigation_list {
  display: flex;
  height: 100%;
  padding: 100px 0;
  flex-direction: column;
  margin-top: 30px;
  transition: 0.3s;
}
.mobile-nav .navigation_list .navigation_item {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}
.mobile-nav .navigation_list .navigation_item .navigation_link {
  margin-right: 0;
  font-size: 28px;
  padding: 8px 0;
  position: relative;
}
.mobile-nav .contact-button {
  text-align: center;
  width: 140px;
  border: 2px solid #1a1a1a;
  padding: 16px 20px;
  color: #1a1a1a;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 4px 4px 0 #1a1a1a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: 0.3s;
  text-decoration: none;
  z-index: 9999;
}
.mobile-nav .contact-button:hover {
  box-shadow: 2px 2px 0 #1a1a1a;
  transition: 0.3s;
}

.mobile-nav-active {
  display: block;
  z-index: 200;
  height: 100%;
  transition: 0.3s;
}

.navigation_list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 60px;
  align-items: center;
}

.navigation_link {
  margin-right: 25px;
  padding: 16px 0;
  text-decoration: none;
  color: black;
  width: 100%;
  line-height: 1.5;
}

.landing_message {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}
.landing_message .landing_message__wrapper {
  width: 66.6%;
}
.landing_message .landing_message__wrapper .landing-h1 {
  font-family: Rubik, sans-serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 1.25;
}
.landing_message .landing_message__wrapper .landing-p {
  font-family: Rubik, sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.5;
  padding-top: 48px;
  padding-bottom: 62px;
}
.landing_message .landing_message__wrapper .landing-button_link {
  border: 2px solid #1a1a1a;
  padding: 16px 20px;
  color: #1a1a1a;
  background-color: #fff;
  border-radius: 0;
  min-width: 140px;
  box-shadow: 6px 6px 0 #00ff15, inset 0 0 0 2px #00ff15;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
}
.landing_message .landing_message__wrapper .landing-button_link:hover {
  box-shadow: 2px 2px 2px #00FFFF, inset 0 0 0 3px #00FFFF;
  transition: 0.3s;
}

.contact-button_wrapper {
  width: 140px;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  padding-right: 25px;
  z-index: 9999;
}

.contact-button {
  text-align: center;
  width: 140px;
  border: 2px solid #1a1a1a;
  padding: 16px 20px;
  color: #1a1a1a;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 4px 4px 0 #1a1a1a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: 0.3s;
  text-decoration: none;
}
.contact-button:hover {
  box-shadow: 2px 2px 0 #1a1a1a;
  transition: 0.3s;
}

.top-right_image {
  background-image: url("../img/careers/careers-image-hero.jpg");
  position: absolute;
  background-repeat: no-repeat;
  right: 0;
  background-size: 370px;
  object-fit: cover;
  width: 370px;
  height: 614px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../img/image-mask.svg");
  z-index: 9000;
}

.divider-desktop {
  padding-bottom: 160px;
}

.description-rewards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.description-rewards .images {
  display: flex;
}
.description-rewards .images .img {
  height: 440px;
  object-fit: cover;
  object-position: 50% 50%;
  max-width: 100%;
}
.description-rewards .images .img:first-child {
  padding-right: 6px;
  margin-bottom: 85px;
}
.description-rewards .images .img:last-child {
  padding-left: 6px;
  margin-top: 85px;
}
.description-rewards .text {
  width: 41.66%;
}
.description-rewards .text .h3 {
  padding-bottom: 30px;
}
.description-rewards .text .p {
  padding-bottom: 70px;
}

.reversed {
  flex-direction: row-reverse;
}

.text-image-variations .text-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-image-variations .text-image:first-child {
  margin-bottom: 80px;
}
.text-image-variations .text-image .text {
  width: 41.66%;
}
.text-image-variations .text-image .text .h3 {
  padding-bottom: 30px;
}
.text-image-variations .text-image .image {
  width: 50%;
}
.text-image-variations .text-image .image .img {
  width: 100%;
  height: 414px;
  object-position: 50% 50%;
  object-fit: cover;
  max-width: 100%;
}

.values-header {
  padding: 0 60px 80px 60px;
}

.values-bg {
  background-color: #1A1A1A;
}

.values-primary {
  padding: 64px 60px;
  max-width: 1270px;
  display: flex;
}
.values-primary .values-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}
.values-primary .values-text .element .p {
  color: white;
}
.values-primary .values-text .element .h3 {
  padding: 16px 0;
  color: white;
}
.values-primary .values-images {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.values-primary .values-images .column {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.values-primary .values-images .column:last-child {
  flex-direction: column-reverse;
}
.values-primary .values-images .column .img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
}
.values-primary .values-images .column .img:first-child {
  height: 440px;
}
.values-primary .values-images .column .img:last-child {
  height: 264px;
}
.values-primary .values-images .column .top {
  margin-bottom: 25px;
}

.opportunities .h2 {
  width: 60%;
  margin-bottom: 80px;
}
.opportunities .element {
  display: flex;
  justify-content: space-between;
  padding-bottom: 64px;
}
.opportunities .element:last-child {
  padding-bottom: 0;
}
.opportunities .element .text {
  width: 25%;
}
.opportunities .element .text .p {
  margin-bottom: 16px;
}
.opportunities .element .image-accordion {
  width: 66.6%;
}
.opportunities .element .image-accordion .image {
  height: 320px;
  object-fit: cover;
  margin-bottom: 64px;
  max-width: 100%;
  width: 100%;
}

.accordion-menu {
  transition: 0.4s;
}
.accordion-menu .accordion-button-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
}
.accordion-menu .accordion-button {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
}
.accordion-menu .accordion-button .accordion-toggle {
  cursor: pointer;
  transition: 0.4s;
  transform: rotate(135deg);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 0;
  outline: 0;
}
.accordion-menu .accordion-content {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.accordion-menu .accordion-content .accordion-text {
  max-height: 0;
  margin-left: 64px;
  transition: 0.4s;
  overflow: hidden;
}
.accordion-menu .accordion-content .accordion-text .accordion-p {
  color: #1A1A1A;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

.transparency-header {
  padding-bottom: 80px;
}
.transparency-header .h2 {
  padding: 0 60px;
}

.transparency-bg {
  background-color: #1A1A1A;
  width: 100%;
  max-width: 1270px;
}
.transparency-bg .transparency-primary {
  padding: 64px 60px;
}
.transparency-bg .transparency-primary .transparency-text-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.transparency-bg .transparency-primary .transparency-text-image:last-child {
  margin-bottom: 0;
}
.transparency-bg .transparency-primary .transparency-text-image .text {
  width: 41.66%;
}
.transparency-bg .transparency-primary .transparency-text-image .text .h3 {
  padding-bottom: 30px;
  color: white;
}
.transparency-bg .transparency-primary .transparency-text-image .text .p {
  color: white;
}
.transparency-bg .transparency-primary .transparency-text-image .image {
  width: 50%;
}
.transparency-bg .transparency-primary .transparency-text-image .image .img {
  width: 100%;
  height: 414px;
  object-position: 50% 50%;
  object-fit: cover;
  max-width: 100%;
}

.dropdown-content {
  display: none;
}

.dropdown-active {
  display: block !important;
}

.dropdown-hidden {
  display: none !important;
}

.wrapper-active {
  border-bottom: none !important;
}

.category-select {
  z-index: 10 !important;
}

.positions .positions-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.positions .positions-header .dropdowns {
  width: 60%;
  display: flex;
  align-items: center;
}
.positions .positions-header .dropdowns .dropdowns-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.positions .positions-header .dropdowns .dropdowns-container .dropdown {
  width: 100%;
  z-index: 50;
}
.positions .positions-header .dropdowns .dropdowns-container .dropdown option {
  padding: 22px 0 22px 24px;
}
.positions .positions-header .dropdowns .dropdowns-container .location {
  width: 50%;
  margin-right: 15px;
  position: relative;
}
.positions .positions-header .dropdowns .dropdowns-container .location .label-wrapper {
  margin-bottom: 8px;
}
.positions .positions-header .dropdowns .dropdowns-container .location .label-wrapper label {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #1a1a1a;
}
.positions .positions-header .dropdowns .dropdowns-container .location .dropdown-content {
  background-color: white;
  position: absolute;
  padding: 0 0 22px 24px;
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  width: 100%;
  block-size: fit-content;
  border-top: none;
}
.positions .positions-header .dropdowns .dropdowns-container .location .dropdown-content .option {
  padding: 22px 0;
}
.positions .positions-header .dropdowns .dropdowns-container .categories {
  width: 50%;
  margin-left: 15px;
  position: relative;
}
.positions .positions-header .dropdowns .dropdowns-container .categories .label-wrapper {
  margin-bottom: 8px;
}
.positions .positions-header .dropdowns .dropdowns-container .categories .label-wrapper label {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #1a1a1a;
}
.positions .positions-header .dropdowns .dropdowns-container .categories .dropdown-content {
  background-color: white;
  position: absolute;
  padding: 0 0 22px 24px;
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  width: 100%;
  block-size: fit-content;
  border-top: none;
}
.positions .positions-header .dropdowns .dropdowns-container .categories .dropdown-content .option {
  padding: 22px 0;
}
.positions .positions-header .dropdowns .filter-button {
  margin-left: 30px;
  margin-top: 30px;
  text-decoration: none;
  color: #1A1A1A;
  font-weight: 500;
  width: 20%;
  cursor: pointer;
  padding: 16px 20px;
  box-sizing: content-box;
  justify-content: center;
  background-color: transparent;
  border-radius: 0;
  border: 2px solid #1A1A1A;
  text-align: center;
  transition: 0.3s;
  box-shadow: 4px 4px 0 #1A1A1A;
}
.positions .positions-header .dropdowns .filter-button:hover {
  box-shadow: 2px 2px 0 #1A1A1A;
}
.positions .positions-header .freelance-button {
  margin-top: 30px;
}
.positions .positions-header .freelance-button .button {
  border: 2px solid #1A1A1A;
  display: flex;
  justify-content: center;
  transition: 0.3s;
  padding: 16px 20px;
  background-color: white;
  border-radius: 0;
  width: fit-content;
  box-shadow: 6px 6px 0 #00ff15, inset 0 0 0 2px #00ff15;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: #1A1A1A;
  margin: 0 auto;
  align-items: center;
}
.positions .positions-header .freelance-button .button:hover {
  box-shadow: 2px 2px 2px #00FFFF, inset 0 0 0 3px #00FFFF;
  transition: 0.3s;
}
.positions .primary .position-element {
  padding: 40px 0;
  border-bottom: 1px solid rgba(26, 26, 26, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.positions .primary .position-element .description .p {
  font-weight: 400;
  font-size: 26px;
}
.positions .primary .position-element .description .tags {
  display: flex;
  align-items: center;
}
.positions .primary .position-element .description .tags .tag .p {
  padding: 4px 10px;
  font-size: 14px;
  margin-right: 16px;
}
.positions .primary .position-element .description .tags .tag .location {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #1a1a1a;
  margin: 0;
  padding: 0;
}
.positions .primary .position-element .apply-button .button {
  text-decoration: none;
  color: #1A1A1A;
  font-weight: 500;
  padding: 16px 20px;
  min-width: 140px;
  justify-content: center;
  background-color: transparent;
  border-radius: 0;
  border: 2px solid #1A1A1A;
  transition: 0.3s;
  box-shadow: 4px 4px 0 #1A1A1A;
}
.positions .primary .position-element .apply-button .button:hover {
  box-shadow: 2px 2px 0 #1A1A1A;
}

.type {
  background-color: #1A1A1A;
  color: white;
  font-weight: 400;
}

.application-bg {
  background-color: #1A1A1A;
  margin-top: 40px;
}
.application-bg .application-primary {
  align-items: center;
  padding: 36px 64px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.application-bg .application-primary .p {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
  color: white;
}
.application-bg .application-primary .apply-button {
  padding: 16px 20px;
  max-width: 140px;
  justify-content: center;
  color: #1A1A1A;
  background-color: transparent;
  border-radius: 0;
  border: 2px solid white;
  transition: 0.3s;
  box-shadow: 4px 4px 0 white;
}
.application-bg .application-primary .apply-button:hover {
  box-shadow: 2px 2px 0 white;
}
.application-bg .application-primary .apply-button .button {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.instagram .header {
  padding-bottom: 80px;
}
.instagram .primary {
  display: flex;
  flex-wrap: wrap;
}
.instagram .primary .image {
  padding: 4px !important;
  width: 25%;
  box-sizing: border-box;
}
.instagram .primary .image .link {
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.instagram .primary .image .link .img {
  object-fit: cover;
  transition: 0.3s;
  width: 100%;
  max-width: 100%;
  height: 276px;
}
.instagram .primary .image .link .img:hover {
  transform: scale(1.1);
}

footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 46px 25px 0 25px;
  background-color: #1A1A1A;
}
footer .footer_container {
  max-width: 1270px;
  padding: 0 35px;
  margin: 0 auto;
}
footer .footer_container .footer-wrapper {
  width: 66.6%;
}
footer .footer_container .footer-wrapper img {
  width: 70px;
  margin-bottom: 32px;
  max-width: 100%;
  height: 70px;
}
footer .footer_container .footer-wrapper .motto {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
footer .footer_container .footer-wrapper .locations {
  display: flex;
  color: #868686;
  padding-top: 2px;
  padding-bottom: 40px;
}
footer .footer_container .footer-wrapper .locations .location {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
footer .footer_container .footer-wrapper .locations .location:after {
  content: "•";
  margin: 0 10px;
}
footer .footer_container .footer-wrapper .locations .location:first-child {
  content: "" !important;
}
footer .footer_container .footer-wrapper .locations .location:last-child {
  content: "" !important;
}
footer .footer_container .footer-wrapper .newsletter-input {
  display: flex;
  gap: 15px;
}
footer .footer_container .footer-wrapper .newsletter-input input {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border-radius: unset;
  padding: 16px 20px;
  border: 2px solid #fff;
  color: #fff !important;
  background-clip: padding-box;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
  max-width: 100%;
}
footer .footer_container .footer-wrapper .newsletter-input .input-wrapper {
  margin-bottom: 20px;
  width: 50%;
}
footer .footer_container .footer-wrapper .newsletter-input .button .subscribe {
  transition: 0.3s;
  margin-bottom: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 20px;
  border-radius: 0;
  border: 2px solid #fff;
  background-color: transparent;
  box-shadow: 4px 4px 0 #fff;
}
footer .footer_container .footer-wrapper .newsletter-input .button .subscribe:hover {
  box-shadow: 2px 2px 0 #fff;
  transition: 0.3s;
}
footer .footer_container .footer-wrapper .logos-wrapper {
  margin-top: 32px;
  margin-bottom: 28px;
  box-sizing: border-box;
}
footer .footer_container .footer-wrapper .logos-wrapper .element {
  width: 25px;
  height: 28px;
  box-sizing: border-box;
}
footer .footer_container .footer-wrapper .logos-wrapper a {
  padding-left: 40px;
}
footer .footer_container .footer-wrapper .logos-wrapper a:first-child {
  padding-left: 0;
}
footer .footer_container .footer-wrapper .logos-wrapper .fa-brands {
  font-size: 28px;
}
footer .footer_container .footer-wrapper .links-wrapper .links {
  display: flex;
}
footer .footer_container .footer-wrapper .links-wrapper .links .link {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  padding-left: 32px;
  margin-bottom: 8px;
}
footer .footer_container .footer-wrapper .links-wrapper .links .link:first-child {
  padding-left: 0;
}
footer .footer_container .footer-wrapper .site-name {
  padding-top: 40px;
}
footer .footer_container .footer-wrapper .site-name p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
.nice-select .nice-select:hover {
  border-color: #dbdbdb;
}
.nice-select .nice-select:active, .nice-select .nice-select.open, .nice-select .nice-select:focus {
  border-color: #999;
}
.nice-select .nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.nice-select .nice-select.open:after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.nice-select .nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
}
.nice-select .nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select .nice-select.disabled .nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select .nice-select.wide {
  width: 100%;
}
.nice-select .nice-select.wide .nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select .nice-select.right {
  float: right;
}
.nice-select .nice-select.right .nice-select.right .list {
  left: auto;
  right: 0;
}
.nice-select .nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select .nice-select.small .nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select .nice-select.small .nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.nice-select .nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0.75) translateY(-21px);
  -ms-transform: scale(0.75) translateY(-21px);
  transform: scale(0.75) translateY(-21px);
  -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.nice-select .nice-select .list .nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nice-select .nice-select .option .nice-select .option:hover, .nice-select .nice-select .option .nice-select .option.focus, .nice-select .nice-select .option .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .nice-select .option .nice-select .option.selected {
  font-weight: bold;
}
.nice-select .nice-select .option .nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}

.no-csspointerevents .nice-select.open .list {
  display: block;
}

.nav-link-active {
  text-decoration: underline #00ff15;
}

.burger-element-top-active {
  transform: rotate(45deg) !important;
  top: 50% !important;
}

.burger-element-bottom-active {
  transform: rotate(-45deg) !important;
  top: 50% !important;
  bottom: unset !important;
}

@media screen and (max-width: 1500px) {
  .wrapper {
    padding: 0 118px;
  }
}
@media screen and (max-width: 1450px) {
  footer .footer_container {
    padding: 0 100px;
  }
}
@media screen and (max-width: 960px) {
  .logo-motto__aside {
    width: 8%;
  }

  body .wrapper {
    padding: 0 90px;
  }

  .members-header .header-h2 {
    font-size: 37px;
  }

  .tools-wrapper .tools-header .header-h2 {
    width: -webkit-fill-available;
    font-size: 37px;
  }
}
@media screen and (max-width: 1200px) {
  body .wrapper .positions .positions-header .dropdowns {
    display: block;
  }
  body .wrapper .positions .positions-header .dropdowns .filter-button {
    margin-left: 0;
    width: fit-content;
  }
  body .wrapper .transparency-bg .transparency-primary {
    padding: 40px 25px;
  }
  body .wrapper .transparency-bg .transparency-primary .transparency-text-image .text h3 {
    font-size: 31px;
  }
  body .wrapper .transparency-bg .transparency-primary .transparency-text-image .text p {
    font-size: 18px;
  }
  body .wrapper .transparency-header {
    padding-bottom: 56px;
  }
  body .wrapper .transparency-header h2 {
    font-size: 37px;
  }
  body .wrapper .values-bg .values-primary {
    padding: 40px 25px;
  }
  body .wrapper .values-header {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
  }
  body .wrapper .values-header h2 {
    font-size: 37px;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element {
    display: block;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .heading {
    width: 100%;
    display: block;
    padding-bottom: 32px;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .description {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .description .list {
    padding-left: 20px;
  }

  .logo-motto__aside {
    width: 10%;
  }

  .wrapper {
    max-width: 780px;
    padding: 0;
  }
  .wrapper .header-wrapper .header .header_nav-menu {
    display: none;
  }
  .wrapper .header-wrapper .header .contact-button_wrapper {
    display: none;
  }

  .top-right_image {
    display: none;
  }

  .landing_message {
    padding-top: 120px;
  }

  .landing_container {
    margin: 0 auto;
    max-width: 780px;
  }
  .landing_container .landing_message__wrapper {
    width: 100%;
  }
  .landing_container .landing_message__wrapper .landing-h1 {
    font-size: 50px;
  }
  .landing_container .landing_message__wrapper .landing-p {
    font-size: 24px;
  }

  .plug-img_wrapper .plug_img {
    object-position: 50% 50%;
    object-fit: cover;
    height: 260px;
  }

  .wrapper .content_container .partners-wrapper .partners-heading {
    width: 100%;
  }

  .heading-wrapper-laptop {
    width: 70%;
  }

  .heading-laptop {
    font-size: 42px !important;
  }

  .plug-img_3_wrapper .plug_img-3 {
    height: 260px;
  }

  .example_heading {
    width: 100%;
  }

  .example_element {
    display: block;
  }
  .example_element .example_image {
    width: 100%;
    margin-bottom: 32px;
  }
  .example_element .example_image .img {
    height: 289px;
    object-fit: cover;
  }
  .example_element .example_description {
    width: 100%;
  }

  .header-h2 {
    width: 100%;
    font-size: 42px;
  }

  .header-h3 {
    font-size: 34px;
  }

  .scopes-container {
    display: block;
  }
  .scopes-container .scopes-image {
    width: 100%;
  }
  .scopes-container .scopes-image .scopes-img {
    height: 528px;
    object-fit: cover;
  }
  .scopes-container .scopes-description {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .header-h2 {
    font-size: 34px;
  }

  .members-container .members-wrapper {
    padding: 0 40px;
  }
  .members-container .members-wrapper .members-primary {
    display: block;
    padding: 20px 0 32px;
  }
  .members-container .members-wrapper .members-primary .members-image {
    width: 100%;
  }
  .members-container .members-wrapper .members-primary .members-image .member-img {
    object-position: 49.61% 21.6%;
    object-fit: cover;
    height: 640px;
    margin-bottom: 32px;
    width: 100%;
  }
  .members-container .members-wrapper .members-primary .members-description {
    padding-left: 0;
    width: 100%;
    margin-left: 0;
  }
  .members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .members-name .name {
    font-size: 34px;
  }

  .members-header {
    width: -webkit-fill-available;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
  }

  .achievements-wrapper .achievements-primary {
    display: block;
  }
  .achievements-wrapper .achievements-primary .description {
    width: 100%;
  }
  .achievements-wrapper .achievements-primary .image {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
  .achievements-wrapper .achievements-primary .image .img {
    object-fit: cover;
    object-position: 47.12% 11.7%;
    height: 289px;
    margin-top: 32px;
    width: 100%;
  }

  .review-wrapper .review-text {
    width: 100%;
  }
  .review-wrapper .review-text .h2 {
    font-size: 42px;
  }
  .review-wrapper .secondary .element {
    padding-left: 15px;
    padding-right: 15px;
  }
  .review-wrapper .secondary .element:first-child {
    padding-left: 0;
  }
  .review-wrapper .secondary .element:last-child {
    padding-right: 0;
  }
  .review-wrapper .secondary .element .img {
    max-width: 100%;
    height: auto;
  }
  .review-wrapper .secondary .element .element-p-title {
    font-size: 34px;
  }

  .form-wrapper {
    display: block;
  }
  .form-wrapper .form-description {
    width: 100%;
    padding-right: 0;
  }
  .form-wrapper .form-description .decoration {
    display: none;
  }
  .form-wrapper .form {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .faq {
    padding: 0 35px;
  }
  .faq .h2 {
    font-size: 42px;
    width: 100%;
  }
  .faq .faq-accordion-menu .faq-accordion-button .accordion-button-title {
    font-size: 24px;
    width: 99%;
  }

  .achievements-wrapper .achievements-primary .description h2 {
    font-size: 42px;
  }

  .offices-wrapper .h2 {
    font-size: 42px;
    padding-bottom: 64px;
  }
  .offices-wrapper .primary {
    width: 100%;
    flex-wrap: wrap;
  }
  .offices-wrapper .primary .office-element {
    padding-bottom: 30px;
    width: 47%;
    box-sizing: border-box;
  }
  .offices-wrapper .primary .office-element:nth-child(2) {
    padding-right: 0;
  }
  .offices-wrapper .primary .office-element:nth-child(3) {
    padding-left: 0;
  }
  .offices-wrapper .primary .office-element:nth-child(4) {
    padding-right: 0;
  }

  body footer .footer_container {
    max-width: 780px;
    width: auto;
  }
  body footer .footer_container .footer-wrapper {
    width: auto;
    padding: 0 35px;
  }
  body footer .footer_container .footer-wrapper .newsletter-input {
    flex-direction: column;
  }
  body footer .footer_container .footer-wrapper .newsletter-input .input-wrapper {
    width: 100%;
  }

  .header-wrapper {
    padding: 0;
    min-height: 120px;
  }

  .mobile-nav .button-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .mobile-nav .button-container .contact-button_wrapper {
    box-sizing: border-box;
    margin-left: 14px;
    padding-right: 0;
    justify-content: center;
    display: inline-block;
    z-index: 5000;
    margin-bottom: 20px;
    position: static;
    margin-top: 40px;
  }
  .mobile-nav .button-container .contact-button_wrapper .contact-button {
    text-align: center;
    width: 140px;
    border: 2px solid #1a1a1a;
    padding: 16px 20px;
    color: #1a1a1a;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 4px 4px 0 #1a1a1a;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: 0.3s;
    text-decoration: none;
    z-index: 9999;
  }
  .mobile-nav .button-container .contact-button_wrapper .contact-button:hover {
    box-shadow: 2px 2px 0 #1a1a1a;
    transition: 0.3s;
  }
  .mobile-nav .navigation_list {
    padding-top: 100px;
    padding-bottom: 0;
  }

  .mobile {
    display: block;
  }

  .tools-element {
    width: 25%;
  }

  .tools_primary {
    justify-content: space-between;
  }

  .benefits-wrapper .benefits-heading_wrapper {
    width: 100%;
  }
  .benefits-wrapper .benefits-primary_wrapper .benefits-element {
    padding: 60px 0;
    display: block;
  }
  .benefits-wrapper .benefits-primary_wrapper .benefits-element .benefits-heading {
    display: block;
    padding-bottom: 32px;
    width: 100%;
  }
  .benefits-wrapper .benefits-primary_wrapper .benefits-element .benefits-heading h4 {
    font-size: 26px;
  }
  .benefits-wrapper .benefits-primary_wrapper .benefits-element .benefits-heading p {
    margin-bottom: 8px;
  }
  .benefits-wrapper .benefits-primary_wrapper .benefits-element .benefits-description {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  .accents-wrapper .accents-heading_wrapper {
    width: 100%;
  }
  .accents-wrapper .accents-primary_wrapper .accents-element {
    display: block;
    padding: 60px 0;
  }
  .accents-wrapper .accents-primary_wrapper .accents-element .accents-heading {
    display: block;
    padding-bottom: 32px;
    width: 100%;
  }
  .accents-wrapper .accents-primary_wrapper .accents-element .accents-heading h4 {
    font-size: 26px;
  }
  .accents-wrapper .accents-primary_wrapper .accents-element .accents-heading p {
    margin-bottom: 8px;
  }
  .accents-wrapper .accents-primary_wrapper .accents-element .accents-description {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  body .wrapper .video .video-wrapper {
    display: block;
  }
  body .wrapper .video .video-wrapper .YT-embedded {
    width: 100%;
  }
  body .wrapper .video .video-wrapper .text {
    width: 100%;
    padding-top: 30px;
  }

  body .wrapper .primary-container .navbar {
    flex-direction: column;
    justify-content: center;
  }
  body .wrapper .primary-container .navbar .buttons {
    margin: 0 auto;
    padding-bottom: 30px;
  }
  body .wrapper .primary-container .navbar .search-bar {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  body .wrapper .primary-container .navbar .search-bar .form .nav-search {
    width: 100%;
  }
  body .wrapper .primary-container .page-1 .post-link .headliner {
    display: block;
  }
  body .wrapper .primary-container .page-1 .post-link .headliner .description {
    width: 100%;
  }
  body .wrapper .primary-container .page-1 .post-link .headliner .image {
    width: 100%;
  }
  body .wrapper .primary-container .page-1 .post-link .headliner .image .img {
    width: 100%;
  }
  body .wrapper .primary-container .page-1 .posts .post-link {
    width: 100%;
  }

  body .wrapper .description-rewards {
    display: block;
  }
  body .wrapper .description-rewards .text {
    width: 100%;
  }
  body .wrapper .description-rewards .text .img-decor {
    display: none;
  }
  body .wrapper .description-rewards .images {
    width: 100%;
    display: flex;
  }
  body .wrapper .description-rewards .images .img {
    width: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    height: 573px;
  }
  body .wrapper .text-image-variations .text-image {
    flex-direction: column;
  }
  body .wrapper .text-image-variations .text-image .text {
    width: 100%;
    margin-bottom: 64px;
  }
  body .wrapper .text-image-variations .text-image .image {
    width: 100%;
  }
  body .wrapper .text-image-variations .text-image .image .img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    height: 289px;
  }
  body .wrapper .values-primary {
    display: block;
  }
  body .wrapper .values-primary .values-text {
    width: 100%;
  }
  body .wrapper .values-primary .values-text .element {
    margin-bottom: 32px;
  }
  body .wrapper .values-primary .values-images {
    width: 100%;
  }
  body .wrapper .opportunities .element {
    display: block;
  }
  body .wrapper .opportunities .element .text {
    width: 100%;
    padding-bottom: 32px;
  }
  body .wrapper .opportunities .element .image-accordion {
    width: 100%;
  }
  body .wrapper .opportunities .element .image-accordion .image {
    height: 260px;
  }
  body .wrapper .transparency-header h2 {
    padding: 0;
  }
  body .wrapper .transparency-bg .transparency-primary .transparency-text-image {
    flex-direction: column-reverse;
  }
  body .wrapper .transparency-bg .transparency-primary .transparency-text-image .text {
    width: 100%;
  }
  body .wrapper .transparency-bg .transparency-primary .transparency-text-image .image {
    width: 100%;
    padding-bottom: 32px;
  }
  body .wrapper .transparency-bg .transparency-primary .transparency-text-image .image .img {
    height: 289px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}
@media screen and (max-width: 720px) {
  body .wrapper .instagram .header h2 {
    font-size: 37px;
  }
  body .wrapper .application-bg .application-primary {
    padding: 36px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .wrapper .application-bg .application-primary p {
    padding-bottom: 24px;
  }
  body .wrapper .application-bg .application-primary .apply-button {
    width: -webkit-fill-available;
    text-align: center;
  }
  body .wrapper .description-rewards .images .img {
    box-sizing: border-box;
    width: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    height: 280px;
  }

  body {
    overflow-x: hidden;
  }
  body .wrapper .opportunities h2 {
    width: 100%;
  }
  body .wrapper .opportunities .element .accordion-menu .accordion-button .accordion-button-title {
    font-size: 21px;
  }
  body .wrapper .opportunities .element .accordion-menu .accordion-content .accordion-text .accordion-p {
    font-size: 18px;
  }
  body .logo-motto__aside {
    display: none;
  }

  body .wrapper {
    padding: 0 16px;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .description {
    display: block;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .description .list {
    width: 100%;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .description .list:last-child {
    margin-left: 0;
  }

  .landing_container {
    padding: 0 16px;
  }

  .content_container {
    padding: 0 16px;
  }

  .heading-wrapper-laptop {
    width: 100% !important;
  }
  .heading-wrapper-laptop .heading-laptop {
    font-size: 37px !important;
  }

  .landing_message .landing_message__wrapper .landing-h1 {
    font-size: 44px !important;
  }
  .landing_message .landing_message__wrapper .landing-p {
    font-size: 21px;
  }

  .members-header {
    padding-left: 0;
    padding-right: 0;
  }

  .tools-wrapper .tools-header .header-h2 {
    width: -webkit-fill-available;
  }

  body footer .footer_container {
    padding: 0 35px;
  }
  body footer .footer_container .footer-wrapper {
    padding: 0;
  }
  body footer .footer_container .footer-wrapper .links-wrapper .links {
    flex-direction: column;
  }
  body footer .footer_container .footer-wrapper .links-wrapper .links .link {
    padding-left: 0;
  }
  body footer .footer_container .footer-wrapper .logos-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  body footer .footer_container .footer-wrapper .logos-wrapper a {
    padding: 0;
  }
  body .wrapper .works-container .example-element .cover-link .element {
    display: flex;
    flex-direction: column-reverse;
  }
  body .wrapper .works-container .example-element .cover-link .element .image {
    padding-left: 0;
    width: fit-content;
  }
  body .wrapper .works-container .example-element .cover-link .element .text-logo {
    width: fit-content;
    padding-left: 40px;
  }
  body .wrapper .works-container .example-element .cover-link .element .text-logo .text h3 {
    font-size: 26px;
  }
  body .wrapper .works-container .example-element .cover-link .element .text-logo .text p {
    font-size: 16px;
  }

  body .wrapper .positions .positions-header {
    display: block;
  }
  body .wrapper .positions .positions-header .dropdowns {
    display: block;
    width: 100%;
  }
  body .wrapper .positions .positions-header .dropdowns .dropdowns-container {
    display: block;
    width: 100%;
  }
  body .wrapper .positions .positions-header .dropdowns .dropdowns-container .location {
    width: 100%;
  }
  body .wrapper .positions .positions-header .dropdowns .dropdowns-container .categories {
    padding-top: 64px;
    width: 100%;
    margin-left: -2px;
  }
  body .wrapper .positions .positions-header .dropdowns .filter-button {
    width: -webkit-fill-available;
    text-align: center;
  }
  body .wrapper .positions .positions-header .freelance-button {
    box-sizing: border-box;
    width: 100%;
  }
  body .wrapper .positions .positions-header .freelance-button .button {
    width: -webkit-fill-available;
  }
  body .wrapper .positions .primary .position-element {
    display: block;
  }
  body .wrapper .positions .primary .position-element .description {
    padding-bottom: 18px;
  }
  body .wrapper .positions .primary .position-element .description .tags .tag .location {
    font-size: 18px;
  }
  body .wrapper .positions .primary .position-element .apply-button .button {
    width: 100%;
    box-sizing: border-box;
    min-width: 140px;
    display: flex;
    justify-content: center;
  }
  body .wrapper .instagram .primary .image {
    width: 50%;
  }
  body .wrapper .instagram .primary .image .link .img {
    height: 179px;
  }
}
@media screen and (max-width: 550px) {
  .members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .members-name {
    padding-bottom: 8px;
  }
}

/*# sourceMappingURL=style-careers.css.map */
