@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.25;
}

.h2 {
  font-size: 48px;
  font-weight: 700;
  color: #1a1a1a;
}

.h3 {
  font-size: 40px;
  font-weight: 700;
  color: #1A1A1A;
}

.h4 {
  font-size: 32px;
  font-weight: 600;
}

.h5 {
  font-size: 26px;
  font-weight: 600;
  color: #1a1a1a;
  line-height: 1.25;
}

.h6 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
  color: #1a1a1a;
}

.p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #1a1a1a;
}

p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #1a1a1a;
}

.accordion-active {
  transform: rotate(0deg) !important;
  transition: 0.2s !important;
}

.content_container {
  padding: 0 35px;
}

.logo-motto__aside {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 412px;
  width: 6%;
  -webkit-mask-image: url(../img/logomask.svg);
  mask-image: url(../img/logomask.svg);
  background-color: white;
}
.logo-motto__aside .motto-wrapper .motto_text-vertical {
  font-size: 16px;
  font-weight: 300;
}

.img-logo {
  width: 54px;
  height: 54px;
  margin-top: 20px;
}

.motto_text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-weight: 200;
  margin-top: 30px;
}

.wrapper {
  max-width: 1270px;
  margin: 0 auto;
}

.landing_container {
  display: flex;
  padding: 0 35px;
}
.landing_container .image {
  object-position: 47.74% 3.79%;
  object-fit: cover;
  top: 110px;
  width: 50%;
  height: 700px;
  mask-repeat: no-repeat;
  position: absolute;
  right: 0;
}

.header-wrapper {
  width: -webkit-fill-available;
  padding: 20px 35px;
  top: 0;
  transition: 0.3s;
  position: fixed;
  box-sizing: border-box;
  z-index: 10;
  background-color: transparent;
}

.header {
  display: flex;
  font-weight: 200;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.mobile {
  display: none;
}

.burger-menu-wrapper {
  display: flex;
  position: absolute;
  right: 32px;
  z-index: 99;
  width: 64px;
  height: 56px;
  border: 2px solid #1A1A1A;
  box-shadow: 4px 4px 0 #1A1A1A;
  margin: 30px 0 30px auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.burger-menu-wrapper .burger-menu {
  width: 18px;
  height: 10px;
  position: relative;
}
.burger-menu-wrapper .burger-menu .burger-element {
  width: 100%;
  height: 2px;
  background-color: #1A1A1A;
  position: absolute;
  transition: 0.2s;
}
.burger-menu-wrapper .burger-menu .burger-element:first-child {
  top: 0;
}
.burger-menu-wrapper .burger-menu .burger-element:last-child {
  bottom: 0;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: white;
  transition: 0.3s;
}
.mobile-nav .navigation_list {
  display: flex;
  height: 100%;
  padding: 100px 0;
  flex-direction: column;
  margin-top: 30px;
  transition: 0.3s;
}
.mobile-nav .navigation_list .navigation_item {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}
.mobile-nav .navigation_list .navigation_item .navigation_link {
  margin-right: 0;
  font-size: 28px;
  padding: 8px 0;
  position: relative;
}
.mobile-nav .contact-button {
  text-align: center;
  width: 140px;
  border: 2px solid #1a1a1a;
  padding: 16px 20px;
  color: #1a1a1a;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 4px 4px 0 #1a1a1a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: 0.3s;
  text-decoration: none;
  z-index: 9999;
}
.mobile-nav .contact-button:hover {
  box-shadow: 2px 2px 0 #1a1a1a;
  transition: 0.3s;
}

.navigation_item {
  margin-bottom: 0;
}

.mobile-nav-active {
  display: block;
  z-index: 1;
  height: 100%;
  transition: 0.3s;
}

.navigation_list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 60px;
  align-items: center;
}

.navigation_link {
  margin-right: 25px;
  padding: 16px 0;
  text-decoration: none;
  font-size: 16px;
  color: black;
  width: 100%;
  line-height: 1.5;
}

.contact-button_wrapper {
  width: 140px;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  padding-right: 25px;
  z-index: 9999;
}

.contact-button {
  text-align: center;
  width: 140px;
  border: 2px solid #1a1a1a;
  padding: 16px 20px;
  color: #1a1a1a;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 4px 4px 0 #1a1a1a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: 0.3s;
  text-decoration: none;
}
.contact-button:hover {
  box-shadow: 2px 2px 0 #1a1a1a;
  transition: 0.3s;
}

.divider-desktop {
  padding-bottom: 160px;
}

.divider-desktop-200 {
  padding-bottom: 200px;
}

.position-heading {
  padding-top: 150px;
}
.position-heading .h1 {
  font-size: 62px;
  font-weight: 700;
  color: #1A1A1A;
  line-height: 1.25;
}
.position-heading .p-tags {
  padding-top: 48px;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.5;
}

.image-wrapper .img-freelance {
  height: 400px;
  object-fit: cover;
  margin-top: 100px;
  margin-bottom: 160px;
  width: 100%;
}
.image-wrapper .img-data-engineer {
  margin: 100px 0 160px;
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.description h2 {
  padding: 18px 0;
}
.description ul {
  padding-left: 20px;
}
.description ul li {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #1A1A1A;
}
.description ul li:last-child {
  margin-bottom: 0;
}

.job-description {
  display: flex;
  justify-content: space-between;
}
.job-description .description {
  width: 66.6%;
}
.job-description .description .h5 {
  padding: 18px 0;
}
.job-description .description .description-list {
  padding-left: 20px;
}
.job-description .description .description-list .description-element {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #1A1A1A;
}
.job-description .description .description-list .description-element:last-child {
  margin-bottom: 0;
}
.job-description .description .p-bold {
  font-weight: 600;
  font-size: 20px;
  margin-top: 18px;
}
.job-description .description .apply-button_link {
  margin-top: 40px;
  display: inline-block;
  border: 2px solid #1a1a1a;
  padding: 16px 20px;
  color: #1a1a1a;
  background-color: #fff;
  border-radius: 0;
  min-width: 140px;
  box-shadow: 6px 6px 0 #00ff15, inset 0 0 0 2px #00ff15;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: 0.3s;
  text-decoration: none;
  text-align: center;
}
.job-description .description .apply-button_link:hover {
  box-shadow: 2px 2px 2px #00FFFF, inset 0 0 0 3px #00FFFF;
  transition: 0.3s;
}
.job-description .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25%;
  padding-top: 18px;
}
.job-description .contact .mail-link {
  margin-top: 16px;
  margin-bottom: 40px;
  text-decoration: underline;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #1A1A1A;
}

footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 46px 25px 0 25px;
  background-color: #1A1A1A;
}
footer .footer_container {
  max-width: 1270px;
  padding: 0 35px;
  margin: 0 auto;
}
footer .footer_container .footer-wrapper {
  width: 66.6%;
}
footer .footer_container .footer-wrapper img {
  width: 70px;
  margin-bottom: 32px;
  max-width: 100%;
  height: 70px;
}
footer .footer_container .footer-wrapper .motto {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
footer .footer_container .footer-wrapper .locations {
  display: flex;
  color: #868686;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .footer_container .footer-wrapper .locations .location {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: white;
}
footer .footer_container .footer-wrapper .locations .location:after {
  content: "•";
  margin: 0 10px;
}
footer .footer_container .footer-wrapper .locations .location:first-child {
  content: "" !important;
}
footer .footer_container .footer-wrapper .locations .location:last-child {
  content: "" !important;
}
footer .footer_container .footer-wrapper .newsletter-input {
  display: flex;
  gap: 15px;
}
footer .footer_container .footer-wrapper .newsletter-input input {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border-radius: unset;
  padding: 16px 20px;
  border: 2px solid #fff;
  color: #fff !important;
  background-clip: padding-box;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
  max-width: 100%;
}
footer .footer_container .footer-wrapper .newsletter-input .input-wrapper {
  margin-bottom: 20px;
  width: 50%;
}
footer .footer_container .footer-wrapper .newsletter-input .button .subscribe {
  transition: 0.3s;
  margin-bottom: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 20px;
  border-radius: 0;
  border: 2px solid #fff;
  background-color: transparent;
  box-shadow: 4px 4px 0 #fff;
}
footer .footer_container .footer-wrapper .newsletter-input .button .subscribe:hover {
  box-shadow: 2px 2px 0 #fff;
  transition: 0.3s;
}
footer .footer_container .footer-wrapper .logos-wrapper {
  box-sizing: border-box;
}
footer .footer_container .footer-wrapper .logos-wrapper .element {
  width: 25px;
  height: 28px;
  box-sizing: border-box;
}
footer .footer_container .footer-wrapper .logos-wrapper a {
  padding-left: 40px;
}
footer .footer_container .footer-wrapper .logos-wrapper a:first-child {
  padding-left: 0;
}
footer .footer_container .footer-wrapper .logos-wrapper .fa-brands {
  font-size: 28px;
}
footer .footer_container .footer-wrapper .links-wrapper .links {
  display: flex;
}
footer .footer_container .footer-wrapper .links-wrapper .links .link {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  padding-left: 32px;
  margin-bottom: 8px;
}
footer .footer_container .footer-wrapper .links-wrapper .links .link:first-child {
  padding-left: 0;
}
footer .footer_container .footer-wrapper .site-name {
  padding-top: 40px;
}
footer .footer_container .footer-wrapper .site-name p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.apply-modal {
  transition: 0.4s;
  width: 100%;
  height: 100%;
}
.apply-modal .form-wrapper {
  z-index: 100;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(200%);
  transition: transform 0.5s;
  justify-content: center;
  display: flex;
}
.apply-modal .form-wrapper .form-container {
  position: relative;
  min-width: 420px;
  background-color: white;
  padding: 30px 40px 40px;
  margin-top: 10%;
  border: 2px solid;
  top: 0;
  max-height: 310px;
}
.apply-modal .form-wrapper .form-container .modal-close-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.apply-modal .form-wrapper .form-container .modal-close-wrapper .container .modal-close {
  cursor: pointer;
  font-size: 16px;
  border: 2px solid;
  padding: 8px 12px;
  background-color: white;
  font-weight: 500;
}
.apply-modal .form-wrapper .form-container .apply-form {
  display: flex;
  flex-direction: column;
}
.apply-modal .form-wrapper .form-container .apply-form label {
  padding: 10px;
}
.apply-modal .form-wrapper .form-container .apply-form input {
  padding: 16px;
  border: 1px solid #1A1A1A;
}
.apply-modal .form-wrapper .form-container .apply-form .button-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.apply-modal .form-wrapper .form-container .apply-form .button-container .submit-button {
  cursor: pointer;
  line-height: 1.5;
  font-size: 16px;
  position: relative;
  text-align: center;
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 0;
  border: 2px solid #1A1A1A;
  transition: 0.3s;
  box-shadow: 4px 4px 0 #1A1A1A, inset 0 0 0 1px #1A1A1A;
  background-color: white;
}
.apply-modal .form-wrapper .form-container .apply-form .button-container .submit-button:hover {
  box-shadow: 2px 2px 0 #1A1A1A, inset 0 0 0 0 #1A1A1A;
}

.substrate-active {
  transition: 1s;
  transform: translateY(0) !important;
}

.nav-link-active {
  text-decoration: underline #00ff15;
}

.burger-element-top-active {
  transform: rotate(45deg) !important;
  top: 50% !important;
}

.burger-element-bottom-active {
  transform: rotate(-45deg) !important;
  top: 50% !important;
  bottom: unset !important;
}

@media screen and (max-width: 1500px) {
  .wrapper {
    padding: 0 118px;
  }
}
@media screen and (max-width: 1450px) {
  footer .footer_container {
    padding: 0 100px;
  }
}
@media screen and (max-width: 960px) {
  .logo-motto__aside {
    width: 8%;
  }

  body .wrapper {
    padding: 0 90px;
  }

  .members-header .header-h2 {
    font-size: 37px;
  }

  .tools-wrapper .tools-header .header-h2 {
    width: -webkit-fill-available;
    font-size: 37px;
  }
}
@media screen and (max-width: 1200px) {
  body .apply-modal .form-wrapper .form-container {
    margin-top: 20%;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element {
    display: block;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .heading {
    width: 100%;
    display: block;
    padding-bottom: 32px;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .description {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .description .list {
    padding-left: 20px;
  }

  .logo-motto__aside {
    width: 10%;
  }

  .wrapper {
    max-width: 780px;
    padding: 0;
  }
  .wrapper .header-wrapper .header .header_nav-menu {
    display: none;
  }
  .wrapper .header-wrapper .header .contact-button_wrapper {
    display: none;
  }

  .top-right_image {
    display: none;
  }

  .landing_message {
    padding-top: 120px;
  }

  .landing_container {
    margin: 0 auto;
    max-width: 780px;
  }
  .landing_container .landing_message__wrapper {
    width: 100%;
  }
  .landing_container .landing_message__wrapper .landing-h1 {
    font-size: 50px;
  }
  .landing_container .landing_message__wrapper .landing-p {
    font-size: 24px;
  }

  .plug-img_wrapper .plug_img {
    object-position: 50% 50%;
    object-fit: cover;
    height: 260px;
  }

  .wrapper .content_container .partners-wrapper .partners-heading {
    width: 100%;
  }

  .heading-wrapper-laptop {
    width: 70%;
  }

  .heading-laptop {
    font-size: 42px !important;
  }

  .plug-img_3_wrapper .plug_img-3 {
    height: 260px;
  }

  .example_heading {
    width: 100%;
  }

  .example_element {
    display: block;
  }
  .example_element .example_image {
    width: 100%;
    margin-bottom: 32px;
  }
  .example_element .example_image .img {
    height: 289px;
    object-fit: cover;
  }
  .example_element .example_description {
    width: 100%;
  }

  .header-h2 {
    width: 100%;
    font-size: 42px;
  }

  .header-h3 {
    font-size: 34px;
  }

  .scopes-container {
    display: block;
  }
  .scopes-container .scopes-image {
    width: 100%;
  }
  .scopes-container .scopes-image .scopes-img {
    height: 528px;
    object-fit: cover;
  }
  .scopes-container .scopes-description {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .header-h2 {
    font-size: 34px;
  }

  .members-container .members-wrapper {
    padding: 0 40px;
  }
  .members-container .members-wrapper .members-primary {
    display: block;
    padding: 20px 0 32px;
  }
  .members-container .members-wrapper .members-primary .members-image {
    width: 100%;
  }
  .members-container .members-wrapper .members-primary .members-image .member-img {
    object-position: 49.61% 21.6%;
    object-fit: cover;
    height: 640px;
    margin-bottom: 32px;
    width: 100%;
  }
  .members-container .members-wrapper .members-primary .members-description {
    padding-left: 0;
    width: 100%;
    margin-left: 0;
  }
  .members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .members-name .name {
    font-size: 34px;
  }

  .members-header {
    width: -webkit-fill-available;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
  }

  .achievements-wrapper .achievements-primary {
    display: block;
  }
  .achievements-wrapper .achievements-primary .description {
    width: 100%;
  }
  .achievements-wrapper .achievements-primary .image {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
  .achievements-wrapper .achievements-primary .image .img {
    object-fit: cover;
    object-position: 47.12% 11.7%;
    height: 289px;
    margin-top: 32px;
    width: 100%;
  }

  .review-wrapper .review-text {
    width: 100%;
  }
  .review-wrapper .review-text .h2 {
    font-size: 42px;
  }
  .review-wrapper .secondary .element {
    padding-left: 15px;
    padding-right: 15px;
  }
  .review-wrapper .secondary .element:first-child {
    padding-left: 0;
  }
  .review-wrapper .secondary .element:last-child {
    padding-right: 0;
  }
  .review-wrapper .secondary .element .img {
    max-width: 100%;
    height: auto;
  }
  .review-wrapper .secondary .element .element-p-title {
    font-size: 34px;
  }

  .form-wrapper {
    display: block;
  }
  .form-wrapper .form-description {
    width: 100%;
    padding-right: 0;
  }
  .form-wrapper .form-description .decoration {
    display: none;
  }
  .form-wrapper .form {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .faq {
    padding: 0 35px;
  }
  .faq .h2 {
    font-size: 42px;
    width: 100%;
  }
  .faq .faq-accordion-menu .faq-accordion-button .accordion-button-title {
    font-size: 24px;
    width: 99%;
  }

  .achievements-wrapper .achievements-primary .description h2 {
    font-size: 42px;
  }

  .offices-wrapper .h2 {
    font-size: 42px;
    padding-bottom: 64px;
  }
  .offices-wrapper .primary {
    width: 100%;
    flex-wrap: wrap;
  }
  .offices-wrapper .primary .office-element {
    padding-bottom: 30px;
    width: 47%;
    box-sizing: border-box;
  }
  .offices-wrapper .primary .office-element:nth-child(2) {
    padding-right: 0;
  }
  .offices-wrapper .primary .office-element:nth-child(3) {
    padding-left: 0;
  }
  .offices-wrapper .primary .office-element:nth-child(4) {
    padding-right: 0;
  }

  body footer .footer_container {
    max-width: 780px;
    width: auto;
  }
  body footer .footer_container .footer-wrapper {
    width: auto;
    padding: 0 35px;
  }
  body footer .footer_container .footer-wrapper .newsletter-input {
    flex-direction: column;
  }
  body footer .footer_container .footer-wrapper .newsletter-input .input-wrapper {
    width: 100%;
  }

  .header-wrapper {
    padding: 0;
    min-height: 120px;
  }

  .mobile-nav .button-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .mobile-nav .button-container .contact-button_wrapper {
    box-sizing: border-box;
    margin-left: 14px;
    padding-right: 0;
    justify-content: center;
    display: inline-block;
    z-index: 5000;
    margin-bottom: 20px;
    position: static;
    margin-top: 40px;
  }
  .mobile-nav .button-container .contact-button_wrapper .contact-button {
    text-align: center;
    width: 140px;
    border: 2px solid #1a1a1a;
    padding: 16px 20px;
    color: #1a1a1a;
    background-color: #fff;
    border-radius: 0;
    box-shadow: 4px 4px 0 #1a1a1a;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    transition: 0.3s;
    text-decoration: none;
    z-index: 9999;
  }
  .mobile-nav .button-container .contact-button_wrapper .contact-button:hover {
    box-shadow: 2px 2px 0 #1a1a1a;
    transition: 0.3s;
  }
  .mobile-nav .navigation_list {
    padding-top: 100px;
    padding-bottom: 0;
  }

  .mobile {
    display: block;
  }

  .tools-element {
    width: 25%;
  }

  .tools_primary {
    justify-content: space-between;
  }

  .benefits-wrapper .benefits-heading_wrapper {
    width: 100%;
  }
  .benefits-wrapper .benefits-primary_wrapper .benefits-element {
    padding: 60px 0;
    display: block;
  }
  .benefits-wrapper .benefits-primary_wrapper .benefits-element .benefits-heading {
    display: block;
    padding-bottom: 32px;
    width: 100%;
  }
  .benefits-wrapper .benefits-primary_wrapper .benefits-element .benefits-heading h4 {
    font-size: 26px;
  }
  .benefits-wrapper .benefits-primary_wrapper .benefits-element .benefits-heading p {
    margin-bottom: 8px;
  }
  .benefits-wrapper .benefits-primary_wrapper .benefits-element .benefits-description {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  .accents-wrapper .accents-heading_wrapper {
    width: 100%;
  }
  .accents-wrapper .accents-primary_wrapper .accents-element {
    display: block;
    padding: 60px 0;
  }
  .accents-wrapper .accents-primary_wrapper .accents-element .accents-heading {
    display: block;
    padding-bottom: 32px;
    width: 100%;
  }
  .accents-wrapper .accents-primary_wrapper .accents-element .accents-heading h4 {
    font-size: 26px;
  }
  .accents-wrapper .accents-primary_wrapper .accents-element .accents-heading p {
    margin-bottom: 8px;
  }
  .accents-wrapper .accents-primary_wrapper .accents-element .accents-description {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
  }

  body .wrapper .video .video-wrapper {
    display: block;
  }
  body .wrapper .video .video-wrapper .YT-embedded {
    width: 100%;
  }
  body .wrapper .video .video-wrapper .text {
    width: 100%;
    padding-top: 30px;
  }

  body .wrapper .primary-container .navbar {
    flex-direction: column;
    justify-content: center;
  }
  body .wrapper .primary-container .navbar .buttons {
    margin: 0 auto;
    padding-bottom: 30px;
  }
  body .wrapper .primary-container .navbar .search-bar {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  body .wrapper .primary-container .navbar .search-bar .form .nav-search {
    width: 100%;
  }
  body .wrapper .primary-container .page-1 .post-link .headliner {
    display: block;
  }
  body .wrapper .primary-container .page-1 .post-link .headliner .description {
    width: 100%;
  }
  body .wrapper .primary-container .page-1 .post-link .headliner .image {
    width: 100%;
  }
  body .wrapper .primary-container .page-1 .post-link .headliner .image .img {
    width: 100%;
  }
  body .wrapper .primary-container .page-1 .posts .post-link {
    width: 100%;
  }

  body .wrapper .description-rewards {
    display: block;
  }
  body .wrapper .description-rewards .text {
    width: 100%;
  }
  body .wrapper .description-rewards .text .img-decor {
    display: none;
  }
  body .wrapper .description-rewards .images {
    width: 100%;
    display: block;
  }
  body .wrapper .description-rewards .images .img {
    object-fit: cover;
    object-position: 50% 50%;
    height: 573px;
  }
  body .wrapper .text-image-variations .text-image {
    flex-direction: column;
  }
  body .wrapper .text-image-variations .text-image .text {
    width: 100%;
    margin-bottom: 64px;
  }
  body .wrapper .text-image-variations .text-image .image {
    width: 100%;
  }
  body .wrapper .text-image-variations .text-image .image .img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    height: 289px;
  }
  body .wrapper .values-primary {
    display: block;
  }
  body .wrapper .values-primary .values-text {
    width: 100%;
  }
  body .wrapper .values-primary .values-text .element {
    margin-bottom: 32px;
  }
  body .wrapper .values-primary .values-images {
    width: 100%;
  }
  body .wrapper .opportunities .element {
    display: block;
  }
  body .wrapper .opportunities .element .text {
    width: 100%;
    padding-bottom: 32px;
  }
  body .wrapper .opportunities .element .image-accordion {
    width: 100%;
  }
  body .wrapper .opportunities .element .image-accordion .image {
    height: 260px;
  }
  body .wrapper .transparency-header h2 {
    padding: 0;
  }
  body .wrapper .transparency-bg .transparency-primary .transparency-text-image {
    flex-direction: column-reverse;
  }
  body .wrapper .transparency-bg .transparency-primary .transparency-text-image .text {
    width: 100%;
  }
  body .wrapper .transparency-bg .transparency-primary .transparency-text-image .image {
    width: 100%;
    padding-bottom: 32px;
  }
  body .wrapper .transparency-bg .transparency-primary .transparency-text-image .image .img {
    height: 289px;
    object-fit: cover;
    object-position: 50% 50%;
  }
  body .wrapper .positions .positions-header .dropdowns .filter-button {
    display: none;
  }
  body .wrapper .headquarters {
    flex-direction: column-reverse;
  }
  body .wrapper .headquarters .text-column {
    padding-top: 50px;
    width: 100%;
  }
  body .wrapper .headquarters .text-column h2 {
    padding: 32px 0;
  }
  body .wrapper .headquarters .headquarters-images {
    width: 100%;
  }
  body .wrapper .headquarters .headquarters-images .headquarters-image {
    height: 573px;
  }
  body .wrapper .contact-form-wrapper .contact-form-primary {
    width: fit-content;
    box-sizing: border-box;
  }
  body .wrapper .contact-form-wrapper .contact-form-primary .contact-form .form-columns {
    display: block;
  }
  body .wrapper .contact-form-wrapper .contact-form-primary .contact-form .form-columns .column {
    width: fit-content;
    margin-right: 0;
  }
  body .wrapper .contact-form-wrapper .contact-form-primary .contact-form .form-columns .column:last-child {
    margin-left: 0;
  }
  body .wrapper .assistance .assistance-wrapper {
    padding: 20px 25px;
    display: block;
  }
  body .wrapper .assistance .assistance-wrapper .text {
    width: 100%;
  }
  body .wrapper .assistance .assistance-wrapper .image {
    width: 100%;
    margin-bottom: 32px;
  }
  body .wrapper .assistance .assistance-wrapper .image .img {
    width: 100%;
    height: 440px;
  }
  body .wrapper .job-description .contact {
    display: none;
  }
  body .wrapper .job-description .description {
    width: 100%;
  }
  body .wrapper .image-wrapper .img-freelance {
    margin-bottom: 120px;
  }
  body .wrapper .image-wrapper .img-data-engineer {
    margin-bottom: 120px;
  }
  body .wrapper .position-heading {
    padding-top: 110px;
  }
}
@media screen and (max-width: 720px) {
  body .apply-modal .form-wrapper .form-container {
    margin-top: 25%;
  }

  .logo-motto__aside {
    display: none;
  }

  body .wrapper {
    padding: 0 16px;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .description {
    display: block;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .description .list {
    width: 100%;
  }
  body .wrapper .list-wrapper .list-primary_wrapper .element .description .list:last-child {
    margin-left: 0;
  }

  .landing_container {
    padding: 0 16px;
  }

  .content_container {
    padding: 0 16px;
  }

  .heading-wrapper-laptop {
    width: 100% !important;
  }
  .heading-wrapper-laptop .heading-laptop {
    font-size: 37px !important;
  }

  .landing_message .landing_message__wrapper .landing-h1 {
    font-size: 44px !important;
  }
  .landing_message .landing_message__wrapper .landing-p {
    font-size: 21px;
  }

  .members-header {
    padding-left: 0;
    padding-right: 0;
  }

  .tools-wrapper .tools-header .header-h2 {
    width: -webkit-fill-available;
  }

  body footer .footer_container {
    padding: 0 35px;
  }
  body footer .footer_container .footer-wrapper {
    padding: 0;
  }
  body footer .footer_container .footer-wrapper .links-wrapper .links {
    flex-direction: column;
  }
  body footer .footer_container .footer-wrapper .links-wrapper .links .link {
    padding-left: 0;
  }
  body footer .footer_container .footer-wrapper .logos-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  body footer .footer_container .footer-wrapper .logos-wrapper a {
    padding: 0;
  }
  body .wrapper .works-container .example-element .cover-link .element {
    display: flex;
    flex-direction: column-reverse;
  }
  body .wrapper .works-container .example-element .cover-link .element .image {
    padding-left: 0;
    width: fit-content;
  }
  body .wrapper .works-container .example-element .cover-link .element .text-logo {
    width: fit-content;
    padding-left: 40px;
  }
  body .wrapper .works-container .example-element .cover-link .element .text-logo .text h3 {
    font-size: 26px;
  }
  body .wrapper .works-container .example-element .cover-link .element .text-logo .text p {
    font-size: 16px;
  }

  body .wrapper .positions .positions-header {
    display: block;
  }
  body .wrapper .positions .positions-header .dropdowns {
    display: block;
    width: 100%;
  }
  body .wrapper .positions .positions-header .dropdowns .location {
    width: 100%;
  }
  body .wrapper .positions .positions-header .dropdowns .categories {
    padding-top: 64px;
    width: 100%;
    margin-left: -2px;
  }
  body .wrapper .positions .positions-header .freelance-button {
    box-sizing: border-box;
    padding-top: 48px;
    width: 100%;
  }
  body .wrapper .positions .primary .position-element {
    display: block;
  }
  body .wrapper .positions .primary .position-element .description {
    padding-bottom: 18px;
  }
  body .wrapper .positions .primary .position-element .apply-button .button {
    width: fit-content;
    box-sizing: border-box;
    min-width: 140px;
    display: flex;
    justify-content: center;
  }
  body .wrapper .instagram .primary .image {
    width: 50%;
  }
  body .wrapper .instagram .primary .image .link .img {
    height: 179px;
  }
  body .wrapper .headquarters .text-column h2 {
    font-size: 37px;
  }
  body .wrapper .headquarters .text-column .headquarters-locations {
    display: block;
  }
  body .wrapper .headquarters .text-column .headquarters-locations .headquarters-location {
    box-sizing: border-box;
    width: 100%;
  }
  body .wrapper .headquarters .text-column .headquarters-locations .headquarters-location:last-child {
    padding-left: 0;
    padding-top: 24px;
  }
  body .wrapper .headquarters .text-column .headquarters-locations .headquarters-location:first-child {
    padding-bottom: 24px;
    border-right: none;
    border-bottom: 1px dashed rgba(26, 26, 26, 0.2);
  }
  body .wrapper .contact-form-wrapper .contact-form-primary {
    padding: 0 !important;
    border: none;
  }
}
@media screen and (max-width: 550px) {
  .members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .members-container .members-wrapper .members-primary .members-description .name-buttons-wrapper .members-name {
    padding-bottom: 8px;
  }

  body .apply-modal .form-wrapper .form-container {
    margin-top: 40%;
    width: -webkit-fill-available;
    min-width: auto;
  }
}
@keyframes background-fadeIn {
  0% {
    background: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/*# sourceMappingURL=style-job-details.css.map */
