@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.25;
}

.h1 {
  font-size: 62px;
  font-weight: 700;
  color: #1a1a1a;
}

.h2 {
  font-size: 48px;
  font-weight: 700;
  color: #1a1a1a;
}

.h3 {
  font-size: 40px;
  font-weight: 700;
  color: #1A1A1A;
}

.h4 {
  font-size: 32px;
  font-weight: 600;
}

.h5 {
  font-size: 26px;
  font-weight: 600;
  color: #1A1A1A;
  line-height: 1.25;
}

.h6 {
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  line-height: 1.25;
}

.p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #1a1a1a;
}

.content_container {
  padding: 0 35px;
}

.logo-motto__aside {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 412px;
  width: 6%;
  -webkit-mask-image: url(../img/logomask.svg);
  mask-image: url(../img/logomask.svg);
  background-color: white;
}

.img-logo {
  width: 54px;
  height: 54px;
  margin-top: 20px;
}

.motto_text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-weight: 200;
  margin-top: 30px;
}

.wrapper {
  max-width: 1270px;
  margin: 0 auto;
}

.header-wrapper {
  width: 100%;
  padding: 20px 35px;
  top: 0;
  transition: 0.3s;
  position: fixed;
  box-sizing: border-box;
  z-index: 9999;
  background-color: transparent;
}

.header {
  display: flex;
  position: static;
  font-weight: 200;
  max-width: 1270px;
}

.navigation_list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 60px;
  align-items: center;
}

.navigation_link {
  margin-right: 25px;
  padding: 16px 0;
  text-decoration: none;
  color: black;
  width: 100%;
  line-height: 1.5;
}

.contact-button_wrapper {
  width: 140px;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  padding-right: 25px;
  z-index: 9999;
}

.contact-button {
  text-align: center;
  width: 140px;
  border: 2px solid #1a1a1a;
  padding: 16px 20px;
  color: #1a1a1a;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 4px 4px 0 #1a1a1a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: 0.3s;
  text-decoration: none;
}
.contact-button:hover {
  box-shadow: 2px 2px 0 #1a1a1a;
  transition: 0.3s;
}

.divider-desktop {
  padding-bottom: 160px;
}

.post-info {
  text-align: center;
  padding-top: 150px;
}
.post-info .author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-info .author .img-author {
  margin: 0 auto 16px auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  max-width: 100%;
}
.post-info .share {
  padding: 40px 0 80px;
}

.cover-image .cover {
  object-position: 48.46% 99.21%;
  object-fit: cover;
  width: 100%;
  margin-bottom: 80px;
  height: 480px;
}

.primary-container {
  padding: 0 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.primary-container .primary {
  text-align: left;
  margin: 0 auto;
  width: 66.66%;
}
.primary-container .primary .p {
  margin-bottom: 18px;
}
.primary-container .primary .h2 {
  margin-top: 36px;
  margin-bottom: 18px;
}
.primary-container .primary .list {
  margin-bottom: 18px;
  padding-left: 20px;
}
.primary-container .primary .list .list-element {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #1A1A1A;
  margin-bottom: 8px;
}
.primary-container .primary .cover-wrapper .cover {
  object-fit: cover;
  box-sizing: border-box;
  margin-bottom: 18px;
  width: 100%;
}
.primary-container .primary a {
  color: #1A1A1A;
}

.share-bottom-wrapper {
  padding-top: 62px;
}
.share-bottom-wrapper .share-primary {
  align-items: center;
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
  border-bottom: 1px dashed rgba(26, 26, 26, 0.2);
  border-top: 1px dashed rgba(26, 26, 26, 0.2);
}
.share-bottom-wrapper .share-primary .p {
  margin-bottom: 0;
}

.author-bottom {
  padding: 40px 0;
  border-bottom: 1px dashed rgba(26, 26, 26, 0.2);
}
.author-bottom .author-info {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.author-bottom .author-info .author {
  width: 30%;
}
.author-bottom .author-info .author .container {
  align-items: center;
  display: flex;
}
.author-bottom .author-info .author .container .img .img-author {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
  max-width: 100%;
}
.author-bottom .author-info .author .container .name-post {
  align-items: center;
}
.author-bottom .author-info .author .container .name-post .name {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #1A1A1A;
}
.author-bottom .author-info .author .container .name-post .post {
  color: rgba(26, 26, 26, 0.6);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
.author-bottom .author-info .description {
  width: 60%;
}
.author-bottom .author-info .description .p {
  margin-bottom: 0;
}

.category {
  padding: 40px 0;
}
.category .tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tags {
  margin-bottom: 40px;
}
.tags .tags-list {
  display: flex;
  flex-wrap: wrap;
}

.p-tag {
  margin-top: 16px;
  margin-right: 8px;
  padding: 4px 10px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  background-color: rgba(26, 26, 26, 0.1019607843);
  line-height: 1.5;
  color: #1A1A1A;
}

.suggestions {
  display: flex;
  justify-content: space-between;
}
.suggestions .post-link {
  text-decoration: none;
  width: 50%;
  color: #1a1a1a;
}
.suggestions .post-link:hover .image {
  transform: scale(1.15);
}
.suggestions .post-link .blog-element {
  padding-bottom: 130px;
  padding-left: 15px;
  padding-right: 15px;
}
.suggestions .post-link .blog-element .image {
  height: 310px;
  transition: all 0.5s ease;
}
.suggestions .post-link .blog-element .image .img {
  object-position: 50% 50%;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

.post-details {
  display: flex;
  align-items: center;
  padding: 40px 0;
}
.post-details .author-image .img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0;
  object-fit: cover;
  max-width: 100%;
}
.post-details .details {
  margin-left: 15px;
}
.post-details .details .author {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1A1A1A;
}
.post-details .details .date {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #abb8c3;
}

footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 46px 25px 0 25px;
  background-color: #1A1A1A;
}
footer .footer_container {
  width: 100%;
  max-width: 1270px;
  padding: 0 35px;
  margin: 0 auto;
}
footer .footer_container .footer-wrapper {
  width: 66.6%;
}
footer .footer_container .footer-wrapper img {
  width: 70px;
  margin-bottom: 32px;
  max-width: 100%;
  height: 70px;
}
footer .footer_container .footer-wrapper .motto {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
footer .footer_container .footer-wrapper .locations {
  display: flex;
  color: #868686;
  padding-top: 2px;
  padding-bottom: 40px;
}
footer .footer_container .footer-wrapper .locations .location {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
footer .footer_container .footer-wrapper .locations .location:after {
  content: "•";
  margin: 0 10px;
}
footer .footer_container .footer-wrapper .locations .location:first-child {
  content: "" !important;
}
footer .footer_container .footer-wrapper .locations .location:last-child {
  content: "" !important;
}
footer .footer_container .footer-wrapper .newsletter-input {
  display: flex;
  gap: 15px;
}
footer .footer_container .footer-wrapper .newsletter-input input {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border-radius: unset;
  padding: 16px 20px;
  border: 2px solid #fff;
  color: #fff !important;
  background-clip: padding-box;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
  max-width: 100%;
}
footer .footer_container .footer-wrapper .newsletter-input .input-wrapper {
  margin-bottom: 20px;
  width: 50%;
}
footer .footer_container .footer-wrapper .newsletter-input .button .subscribe {
  transition: 0.3s;
  margin-bottom: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 20px;
  border-radius: 0;
  border: 2px solid #fff;
  background-color: transparent;
  box-shadow: 4px 4px 0 #fff;
}
footer .footer_container .footer-wrapper .newsletter-input .button .subscribe:hover {
  box-shadow: 2px 2px 0 #fff;
  transition: 0.3s;
}
footer .footer_container .footer-wrapper .logos-wrapper {
  margin-top: 32px;
  margin-bottom: 28px;
  box-sizing: border-box;
}
footer .footer_container .footer-wrapper .logos-wrapper .element {
  width: 25px;
  height: 28px;
  box-sizing: border-box;
}
footer .footer_container .footer-wrapper .logos-wrapper a {
  padding-left: 40px;
}
footer .footer_container .footer-wrapper .logos-wrapper a:first-child {
  padding-left: 0;
}
footer .footer_container .footer-wrapper .logos-wrapper .fa-brands {
  font-size: 28px;
}
footer .footer_container .footer-wrapper .links-wrapper .links {
  display: flex;
}
footer .footer_container .footer-wrapper .links-wrapper .links .link {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  padding-left: 32px;
  margin-bottom: 8px;
}
footer .footer_container .footer-wrapper .links-wrapper .links .link:first-child {
  padding-left: 0;
}
footer .footer_container .footer-wrapper .site-name {
  padding-top: 40px;
}
footer .footer_container .footer-wrapper .site-name p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

/*# sourceMappingURL=style-post.css.map */
