@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.25;
  color: #1A1A1A;
}

.h2 {
  font-size: 48px;
  font-weight: 700;
  color: #1a1a1a;
}

.h3 {
  font-size: 40px;
  font-weight: 700;
  color: #1A1A1A;
}

.h4 {
  font-size: 32px;
  font-weight: 600;
  color: #1A1A1A;
}

.p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: #1a1a1a;
}

.content_container {
  padding: 0 35px;
}

.logo-motto__aside {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 412px;
  width: 6%;
  -webkit-mask-image: url(../img/logomask.svg);
  mask-image: url(../img/logomask.svg);
  background-color: white;
}

.img-logo {
  width: 54px;
  height: 54px;
  margin-top: 20px;
}

.motto_text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-weight: 200;
  margin-top: 30px;
}

.wrapper {
  max-width: 1270px;
  margin: 0 auto;
}

.landing_container {
  display: flex;
  padding: 0 35px;
}

.header-wrapper {
  width: 100%;
  padding: 20px 35px;
  top: 0;
  transition: 0.3s;
  position: fixed;
  box-sizing: border-box;
  z-index: 9999;
  background-color: transparent;
}

.header {
  display: flex;
  position: static;
  font-weight: 200;
  max-width: 1270px;
}

.navigation_list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 60px;
  align-items: center;
}

.navigation_link {
  margin-right: 25px;
  padding: 16px 0;
  text-decoration: none;
  color: black;
  width: 100%;
  line-height: 1.5;
}

.landing_message {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.landing_message .landing_message__wrapper {
  width: 66.66%;
}
.landing_message .landing_message__wrapper .landing-h1 {
  font-family: Rubik, sans-serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 1.25;
}
.landing_message .landing_message__wrapper .landing-p {
  font-family: Rubik, sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.5;
  padding-top: 48px;
  padding-bottom: 62px;
}

.contact-button_wrapper {
  width: 140px;
  display: flex;
  justify-content: center;
  position: fixed;
  right: 0;
  padding-right: 25px;
  z-index: 9999;
}

.contact-button {
  text-align: center;
  width: 140px;
  border: 2px solid #1a1a1a;
  padding: 16px 20px;
  color: #1a1a1a;
  background-color: #fff;
  border-radius: 0;
  box-shadow: 4px 4px 0 #1a1a1a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: 0.3s;
  text-decoration: none;
}
.contact-button:hover {
  box-shadow: 2px 2px 0 #1a1a1a;
  transition: 0.3s;
}

.top-right_image {
  background-image: url("../img/blog/blog-mask.jpeg");
  position: absolute;
  background-repeat: no-repeat;
  right: 0;
  background-size: 370px;
  object-fit: cover;
  width: 370px;
  height: 614px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url("../img/image-mask.svg");
  z-index: 9000;
}

.divider-desktop {
  padding-bottom: 160px;
}

.active {
  border: 2px solid #1A1A1A;
}

.primary-container .navbar {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.primary-container .navbar .buttons {
  display: flex;
}
.primary-container .navbar .buttons .nav-button {
  padding: 14px 18px !important;
  position: relative;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.primary-container .navbar .buttons .nav-button .p {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  word-break: break-word;
}
.primary-container .search-bar {
  display: flex;
}
.primary-container .search-bar .form #id_heading {
  position: relative;
  height: 40px;
  min-height: 40px;
  width: 100%;
  margin: 0;
  background: none;
  border-width: 2px;
  border-style: solid;
  box-shadow: none;
  line-height: 24px;
  font-size: 16px;
  padding: 26px 50px !important;
  border-radius: 0 !important;
  border-color: #1A1A1A;
  font-weight: 500 !important;
}

.post-link {
  text-decoration: none;
}

.post-details {
  display: flex;
  align-items: center;
  padding: 40px 0;
}
.post-details .author-image .img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0;
  object-fit: cover;
  max-width: 100%;
}
.post-details .details {
  margin-left: 15px;
}
.post-details .details .author {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1A1A1A;
}
.post-details .details .date {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #abb8c3;
}

.headliner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 130px;
}
.headliner .description {
  width: 41.66%;
}
.headliner .description .h4 {
  padding-bottom: 64px;
}
.headliner .image {
  width: 50%;
  height: 414px;
}
.headliner .image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
  max-width: 100%;
}

.posts {
  display: flex;
  flex-wrap: wrap;
}
.posts .post-link {
  text-decoration: none;
  width: 50%;
}
.posts .post-link:hover .image {
  transform: scale(1.15);
}
.posts .post-link .blog-element {
  padding-bottom: 130px;
  padding-left: 15px;
  padding-right: 15px;
}
.posts .post-link .blog-element .image {
  height: 310px;
  transition: all 0.5s ease;
}
.posts .post-link .blog-element .image .img {
  object-position: 50% 50%;
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

.page-selector .pagination {
  display: flex;
}

footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 46px 25px 0 25px;
  background-color: #1A1A1A;
}
footer .footer_container {
  width: 100%;
  max-width: 1270px;
  padding: 0 35px;
  margin: 0 auto;
}
footer .footer_container .footer-wrapper {
  width: 66.6%;
}
footer .footer_container .footer-wrapper img {
  width: 70px;
  margin-bottom: 32px;
  max-width: 100%;
  height: 70px;
}
footer .footer_container .footer-wrapper .motto {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
footer .footer_container .footer-wrapper .locations {
  display: flex;
  color: #868686;
  padding-top: 2px;
  padding-bottom: 40px;
}
footer .footer_container .footer-wrapper .locations .location {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
footer .footer_container .footer-wrapper .locations .location:after {
  content: "•";
  margin: 0 10px;
}
footer .footer_container .footer-wrapper .locations .location:first-child {
  content: "" !important;
}
footer .footer_container .footer-wrapper .locations .location:last-child {
  content: "" !important;
}
footer .footer_container .footer-wrapper .newsletter-input {
  display: flex;
  gap: 15px;
}
footer .footer_container .footer-wrapper .newsletter-input input {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border-radius: unset;
  padding: 16px 20px;
  border: 2px solid #fff;
  color: #fff !important;
  background-clip: padding-box;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
  max-width: 100%;
}
footer .footer_container .footer-wrapper .newsletter-input .input-wrapper {
  margin-bottom: 20px;
  width: 50%;
}
footer .footer_container .footer-wrapper .newsletter-input .button .subscribe {
  transition: 0.3s;
  margin-bottom: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 20px;
  border-radius: 0;
  border: 2px solid #fff;
  background-color: transparent;
  box-shadow: 4px 4px 0 #fff;
}
footer .footer_container .footer-wrapper .newsletter-input .button .subscribe:hover {
  box-shadow: 2px 2px 0 #fff;
  transition: 0.3s;
}
footer .footer_container .footer-wrapper .logos-wrapper {
  margin-top: 32px;
  margin-bottom: 28px;
  box-sizing: border-box;
}
footer .footer_container .footer-wrapper .logos-wrapper .element {
  width: 25px;
  height: 28px;
  box-sizing: border-box;
}
footer .footer_container .footer-wrapper .logos-wrapper a {
  padding-left: 40px;
}
footer .footer_container .footer-wrapper .logos-wrapper a:first-child {
  padding-left: 0;
}
footer .footer_container .footer-wrapper .logos-wrapper .fa-brands {
  font-size: 28px;
}
footer .footer_container .footer-wrapper .links-wrapper .links {
  display: flex;
}
footer .footer_container .footer-wrapper .links-wrapper .links .link {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  padding-left: 32px;
  margin-bottom: 8px;
}
footer .footer_container .footer-wrapper .links-wrapper .links .link:first-child {
  padding-left: 0;
}
footer .footer_container .footer-wrapper .site-name {
  padding-top: 40px;
}
footer .footer_container .footer-wrapper .site-name p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.page-selector .pagination {
  display: flex;
  justify-content: center;
}
.page-selector .pagination .page-switch {
  position: relative;
  min-width: 32px;
  margin: 4px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  list-style: none;
  text-align: center;
  vertical-align: middle;
  color: #1A1A1A;
}
.page-selector .pagination .page-switch .page-link {
  font-weight: 400;
  line-height: 1;
  padding: 18px 21px !important;
  outline: none !important;
  font-style: unset;
  text-decoration: none;
  color: #1A1A1A;
}
.page-selector .pagination .page-switch .page-active {
  border: 2px solid #1A1A1A;
}

.nav-link-active {
  text-decoration: underline #00ff15;
}

/*# sourceMappingURL=style-blog.css.map */
