*
  margin: 0
  padding: 0
  font-family: 'Rubik', sans-serif

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700&display=swap')

.h1, .h2, .h3, .h4, .h5, .h6
  line-height: 1.25

.h1
  font-size: 62px
  font-weight: 700
  color: #1a1a1a

.h2
  font-size: 48px
  font-weight: 700
  color: #1a1a1a

.h3
  font-size: 40px
  font-weight: 700
  color: #1A1A1A

.h4
  font-size: 32px
  font-weight: 600

.h6
  font-size: 20px
  font-weight: 600
  color: #1a1a1a
  line-height: 1.25

.p
  font-size: 20px
  line-height: 1.5
  font-weight: 300
  color: #1a1a1a
  list-style: circle
  width: 100%!important

.accordion-active
  transform: rotate(0deg)!important
  transition: .2s!important

.content_container
  padding: 0 35px

.logo-motto__aside
  top: 0
  position: fixed
  display: flex
  flex-direction: column
  align-items: center
  height: 412px
  width: 6%
  -webkit-mask-image: url(../img/logomask.svg)
  mask-image: url(../img/logomask.svg)
  background-color: white

.img-logo
  width: 54px
  height: 54px
  margin-top: 20px

.motto_text-vertical
  writing-mode: vertical-rl
  text-orientation: mixed
  transform: rotate(180deg)
  font-weight: 200
  margin-top: 30px

.wrapper
  max-width: 1270px
  margin: 0 auto

.landing_container
  display: flex
  padding: 0 35px
  .image
    object-position: 47.74% 3.79%
    object-fit: cover
    top: 110px
    width: 50%
    height: 700px
    mask-repeat: no-repeat
    position: absolute
    right: 0

.header-wrapper
  width: -webkit-fill-available
  padding: 20px 35px
  top: 0
  transition: .3s
  position: fixed
  box-sizing: border-box
  z-index: 10
  background-color: transparent

.header
  display: flex
  font-weight: 200
  width: 100%
  align-items: center
  justify-content: space-between

.mobile
  display: none

.burger-menu-wrapper
  display: flex
  position: absolute
  right: 32px
  z-index: 99
  width: 64px
  height: 56px
  border: 2px solid #1A1A1A
  box-shadow: 4px 4px 0 #1A1A1A
  margin: 30px 0 30px auto
  cursor: pointer
  justify-content: center
  align-items: center
  .burger-menu
    width: 18px
    height: 10px
    position: relative
    .burger-element
      width: 100%
      height: 2px
      background-color: #1A1A1A
      position: absolute
      transition: .2s
      &:first-child
        top: 0
      &:last-child
        bottom: 0

.mobile-nav
  display: none
  flex-direction: column
  justify-content: center
  width: 100%
  height: 100%
  position: fixed
  overflow: hidden
  top: 0
  background-color: white
  transition: .3s
  .navigation_list
    display: flex
    height: 100%
    padding: 100px 0
    flex-direction: column
    margin-top: 30px
    transition: .3s
    .navigation_item
      font-size: 20px
      line-height: 1.5
      font-weight: 300
      .navigation_link
        margin-right: 0
        font-size: 28px
        padding: 8px 0
        position: relative
  .contact-button
    text-align: center
    width: 140px
    border: 2px solid #1a1a1a
    padding: 16px 20px
    color: #1a1a1a
    background-color: #fff
    border-radius: 0
    box-shadow: 4px 4px 0 #1a1a1a
    font-weight: 400
    font-size: 16px
    line-height: 1.5
    transition: .3s
    text-decoration: none
    z-index: 9999
    &:hover
      box-shadow: 2px 2px 0 #1a1a1a
      transition: .3s

.mobile-nav-active
  display: block
  z-index: 1
  height: 100%
  transition: .3s

.navigation_list
  display: flex
  flex-direction: row
  margin: 0
  padding: 0
  list-style: none
  min-height: 60px
  align-items: center

.navigation_link
  margin-right: 25px
  padding: 16px 0
  text-decoration: none
  color: black
  width: 100%
  line-height: 1.5
  text-decoration-color: #00ff15
.contact-button_wrapper
  width: 140px
  display: flex
  justify-content: center
  position: fixed
  right: 0
  padding-right: 25px
  z-index: 9999

.contact-button
  text-align: center
  width: 140px
  border: 2px solid #1a1a1a
  padding: 16px 20px
  color: #1a1a1a
  background-color: #fff
  border-radius: 0
  box-shadow: 4px 4px 0 #1a1a1a
  font-weight: 400
  font-size: 16px
  line-height: 1.5
  transition: .3s
  text-decoration: none
  &:hover
    box-shadow: 2px 2px 0 #1a1a1a
    transition: .3s

.divider-desktop
  padding-bottom: 160px

.divider-desktop-200
  padding-bottom: 200px

.example-heading
  padding-top: 150px
  width: 60%
  .logo
    margin-bottom: 48px
    max-width: 100%
    height: auto
  .h1
    font-size: 62px
    font-weight: 700
    color: #1A1A1A
    line-height: 1.25
  .p-tags
    padding-top: 48px
    font-size: 26px
    font-weight: 300
    line-height: 1.5

.image-wrapper
  .img-times
    height: 400px
    object-fit: cover
    margin-top: 100px
    margin-bottom: 160px
    width: 100%

.details-wrapper
  .h2
    padding-bottom: 40px
  .primary
    display: flex
    justify-content: space-between
    .list
      padding-left: 20px
      width: 50%
      .list-element
        font-size: 20px
        line-height: 1.5
        font-weight: 300
        margin-bottom: 8px
    .text-wrapper
      display: flex
      justify-content: space-between
      width: 50%
      .text-column
        .h6
          margin-bottom: 16px

.text-variations
  align-items: center
  display: flex
  justify-content: space-between
  .columns
    width: 50%
    .paragraph
      &:first-child
        margin-bottom: 90px
      .h3
        margin-bottom: 24px
  .column-border
    border: 2px solid #1A1A1A
    padding: 48px 56px!important
    width: 41.66%
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: space-between
    .paragraph
      box-sizing: border-box
      margin-bottom: 78px
      &:last-child
        margin-bottom: 0
      .h6
        margin-bottom: 16px
      .list
        padding-left: 20px
        .list-element
          font-size: 20px
          line-height: 1.5
          font-weight: 300

.paragraph-variation
  margin-bottom: 0!important

.image-wrapper-variation
  .img-times
    object-fit: cover
    object-position: 50% 50%
    height: 560px
    width: 100%

.image-wrapper-variation-400
  .img-times
    object-fit: cover
    object-position: 50% 50%
    height: 400px
    width: 100%

.description
  width: 46.66%
  .h1
    margin-bottom: 18px
  .h2
    margin-bottom: 58px

h1
  font-size: 62px

h2
  font-size: 48px
  margin-top: 18px
  margin-bottom: 48px

.next-example
  .heading
    padding-bottom: 80px
  .example-element
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0
    .cover-link
      text-decoration: none
      .element
        max-width: 1270px
        display: flex
        align-items: center
        .text-logo
          padding: 40px 60px 40px 96px
          width: 50%
          .logo
            height: 100%
            max-width: 100%
          .text
            width: 98%
            .h3
              margin-top: 32px
              color: #fff
              margin-bottom: 16px
            .p
              color: #fff
              font-weight: 400
              font-size: 16px!important
          .button
            margin-top: 32px
            .button-wrapper
              display: flex
              width: fit-content
              box-shadow: 4px 4px 0 #fff
              padding: 16px 20px
              box-sizing: border-box
              min-width: 140px
              justify-content: center
              border-radius: 0
              border: 2px solid #fff
              transition: .3s
              &:hover
                box-shadow: 2px 2px 0 #fff
              .arrow
                font-weight: 400
                margin-left: 12px
                margin-top: auto
                margin-bottom: auto
                max-width: 100%
                height: auto
              .p
                color: white
                font-size: 16px
                line-height: 1.5
                font-weight: 400
        .image
          width: 50%
          padding-right: 0
          position: relative
          display: flex
          justify-content: flex-end
          height: 100%
          padding-left: 15px
          .img
            position: relative
            top: 0
            right: 0
            object-position: left
            height: 100%
            max-width: 100%

.bbc
  background-color: #431547

.collaborate-button
  display: flex
  justify-content: center
  flex-direction: column
  flex-wrap: wrap
  .h3
    padding-bottom: 40px
    margin: 0 auto
    font-weight: 400!important
  .button
    margin: 0 auto
    text-align: center
    border: 2px solid #1A1A1A
    transition: .3s
    padding: 16px 20px
    color: #1A1A1A
    background-color: #fff
    border-radius: 0
    min-width: 140px
    box-shadow: 6px 6px 0 #00ff15, inset 0 0 0 2px #00ff15
    font-size: 16px
    line-height: 1.5
    font-weight: 500
    text-decoration: none
    width: 10%
    &:hover
      box-shadow: 2px 2px 0 #00ff15, inset 0 0 0 2px #00ff15

footer
  max-width: 100%
  margin: 0 auto
  padding: 46px 25px 0 25px
  background-color: #1A1A1A
  .footer_container
    max-width: 1270px
    padding: 0 35px
    margin: 0 auto
    .footer-wrapper
      width: 66.6%
      img
        width: 70px
        margin-bottom: 32px
        max-width: 100%
        height: 70px
      .motto
        font-weight: 400
        font-size: 16px
        line-height: 1.5
        color: #ffffff
      .locations
        display: flex
        color: #868686
        padding-top: 2px
        padding-bottom: 40px
        .location
          font-size: 16px
          font-weight: 300
          line-height: 1.5
          &:after
            content: "\2022"
            margin: 0 10px
          &:first-child
            content: ''!important
          &:last-child
            content: ''!important
      .newsletter-input
        display: flex
        gap: 15px
        input
          box-sizing: border-box
          width: 100%
          background-color: transparent
          border-radius: unset
          padding: 16px 20px
          border: 2px solid #fff
          color: #fff!important
          background-clip: padding-box
          font-size: 16px
          line-height: 1.5
          margin-bottom: 0
          max-width: 100%
        .input-wrapper
          margin-bottom: 20px
          width: 50%
        .button
          .subscribe
            transition: .3s
            margin-bottom: 20px
            color: #ffffff
            cursor: pointer
            font-size: 16px
            line-height: 1.5
            padding: 16px 20px
            border-radius: 0
            border: 2px solid #fff
            background-color: transparent
            box-shadow: 4px 4px 0 #fff
            &:hover
              box-shadow: 2px 2px 0 #fff
              transition: .3s
      .logos-wrapper
        margin-top: 32px
        margin-bottom: 28px
        box-sizing: border-box
        .element
          width: 25px
          height: 28px
          box-sizing: border-box
        a
          padding-left: 40px
          &:first-child
            padding-left: 0
        .fa-brands
          font-size: 28px
      .links-wrapper
        .links
          display: flex
          .link
            font-size: 16px
            font-weight: 300
            line-height: 1.5
            color: #fff
            text-decoration: none
            padding-left: 32px
            margin-bottom: 8px
            &:first-child
              padding-left: 0
      .site-name
        padding-top: 40px
        p
          color: #fff
          font-size: 16px
          font-weight: 300
          line-height: 1.5

.details-wrapper
  p
    text-indent: 0.5em
    list-style-type: disc
    display: list-item
    font-size: 20px
    line-height: 1.5
    font-weight: 300

.work_content
  p > img
    max-width: 100%
    height: auto!important
    object-fit: cover
    object-position: 50% 50%
  p
    width: 100%
    padding-bottom: 20px
    font-size: 20px
    font-weight: 300
    line-height: 1.5
  div
    img
      max-width: 100%
      height: auto!important
      object-fit: cover
      object-position: 50% 50%




.nav-link-active
  text-decoration: underline #00ff15

.burger-element-top-active
  transform: rotate(45deg)!important
  top: 50%!important

.burger-element-bottom-active
  transform: rotate(-45deg)!important
  top: 50%!important
  bottom: unset!important

@media screen and (max-width: 1500px)
  .wrapper
    padding: 0 118px

@media screen and (max-width: 1450px)
  footer
    .footer_container
      padding: 0 100px

@media screen and (max-width: 960px)
  .logo-motto__aside
    width: 8%
  body
    .wrapper
      padding: 0 90px
  .members-header
    .header-h2
      font-size: 37px
  .tools-wrapper
    .tools-header
      .header-h2
        width: -webkit-fill-available
        font-size: 37px

@media screen and (max-width: 1200px)
  body
    .wrapper
      .next-example
        .example-element
          .cover-link
            .element
              flex-direction: column-reverse
              .text-logo
                width: 100%
                box-sizing: border-box
                padding-left: 48px
              .image
                width: 100%
      .work_content
        p
          width: 100%
      .list-wrapper
        .list-primary_wrapper
          .element
            display: block
            .heading
              width: 100%
              display: block
              padding-bottom: 32px
            .description
              padding-left: 0
              margin-left: 0
              width: 100%
              .list
                padding-left: 20px
      .landing_container
        .image
          display: none
      .text-buttons
        .element
          display: block
          .text
            width: 100%
            padding-bottom: 60px
            .decoration
              display: none
          .buttons
            width: 100%
      .example-heading
        padding-top: 120px
        h1
          font-size: 50px
      .image-wrapper
        .img-times
          height: 414px
          object-fit: cover
          margin-bottom: 0
          padding-bottom: 120px
          padding-top: 100px
          margin-top: 0
      .details-wrapper
        .primary
          display: block
          .text-wrapper
            margin-top: 32px
            width: fit-content
            .text-column
              margin-left: 48px
              &:first-child
                margin-left: 0
      .text-variations
        display: block
        .columns
          width: 100%
        .column-border
          margin-top: 60px
          width: 100%
      .description
        width: 100%
        box-sizing: border-box
        h1
          font-size: 50px
        h2
          font-size: 42px
        p
          font-size: 20px
      .image-wrapper-variation
        .img-times
          object-fit: cover
          object-position: 50% 50%
          height: 192px
  .logo-motto__aside
    width: 10%
  .wrapper
    max-width: 780px
    padding: 0
    .header-wrapper
      .header
        .header_nav-menu
          display: none
        .contact-button_wrapper
          display: none
  .top-right_image
    display: none
  .landing_message
    padding-top: 120px
  .landing_container
    margin: 0 auto
    max-width: 780px
    .landing_message__wrapper
      width: 100%
      .landing-h1
        font-size: 50px
      .landing-p
        font-size: 24px
  .plug-img_wrapper
    .plug_img
      object-position: 50% 50%
      object-fit: cover
      height: 260px
  .wrapper
    .content_container
      .partners-wrapper
        .partners-heading
          width: 100%
        .brands-img
          .brands
            max-width: 100%
  .heading-wrapper-laptop
    width: 70%
  .heading-laptop
    font-size: 42px!important
  .plug-img_3_wrapper
    .plug_img-3
      height: 260px
  .example_heading
    width: 100%
  .example_element
    display: block
    .example_image
      width: 100%
      margin-bottom: 32px
      .img
        height: 289px
        object-fit: cover
    .example_description
      width: 100%
  .header-h2
    width: 100%
    font-size: 42px
  .header-h3
    font-size: 34px
  .scopes-container
    display: block
    .scopes-image
      width: 100%
      .scopes-img
        height: 528px
        object-fit: cover
    .scopes-description
      width: 100%
      padding: 0
      margin: 0
  .header-h2
    font-size: 34px
  .members-container
    .members-wrapper
      padding: 0 40px
      .members-primary
        display: block
        padding: 20px 0 32px
        .members-image
          width: 100%
          .member-img
            object-position: 49.61% 21.6%
            object-fit: cover
            height: 640px
            margin-bottom: 32px
            width: 100%
        .members-description
          padding-left: 0
          width: 100%
          margin-left: 0
          .name-buttons-wrapper
            .members-name
              .name
                font-size: 34px
  .reviews-container
    .reviews-wrapper
      padding: 0 40px
      .reviews-primary
        display: block
        padding: 20px 0 32px
        .reviews-image
          width: 100%
          .review-img
            object-position: 49.61% 21.6%
            object-fit: cover
            height: 640px
            margin-bottom: 32px
            width: 100%
        .reviews-description
          padding-left: 0
          width: 100%
          margin-left: 0
          .name-buttons-wrapper
            .members-name
              .name
                font-size: 34px
  .members-header
    width: -webkit-fill-available
    padding-left: 40px
    padding-bottom: 40px
    padding-right: 40px
  .achievements-wrapper
    .achievements-primary
      display: block
      .description
        width: 100%
      .image
        padding-left: 0
        margin-left: 0
        width: 100%
        .img
          object-fit: cover
          object-position: 47.12% 11.7%
          height: 289px
          margin-top: 32px
          width: 100%
  .review-wrapper
    .review-text
      width: 100%
      .h2
        font-size: 42px
    .secondary
      .element
        padding-left: 15px
        padding-right: 15px
        &:first-child
          padding-left: 0
        &:last-child
          padding-right: 0
        .img
          max-width: 100%
          height: auto
        .element-p-title
          font-size: 34px
  .form-wrapper
    display: block
    .form-description
      width: 100%
      padding-right: 0
      .decoration
        display: none
    .form
      width: 100%
      padding-left: 0
      margin-left: 0
  .faq
    padding: 0 35px
    .h2
      font-size: 42px
      width: 100%
    .faq-accordion-menu
      .faq-accordion-button
        .accordion-button-title
          font-size: 24px
          width: 99%
  .achievements-wrapper
    .achievements-primary
      .description
        h2
          font-size: 42px
  .offices-wrapper
    .h2
      font-size: 42px
      padding-bottom: 64px
    .primary
      width: 100%
      flex-wrap: wrap
      .office-element
        padding-bottom: 30px
        width: 47%
        box-sizing: border-box
        &:nth-child(2)
          padding-right: 0
        &:nth-child(3)
          padding-left: 0
        &:nth-child(4)
          padding-right: 0
  body
    footer
      .footer_container
        max-width: 780px
        width: auto
        .footer-wrapper
          width: auto
          padding: 0 35px
          .newsletter-input
            flex-direction: column
            .input-wrapper
              width: 100%
  .header-wrapper
    padding: 0
    min-height: 120px
  .mobile-nav
    .button-container
      width: fit-content
      height: fit-content
      display: flex
      justify-content: center
      margin: 0 auto
      .contact-button_wrapper
        box-sizing: border-box
        margin-left: 14px
        padding-right: 0
        justify-content: center
        display: inline-block
        z-index: 5000
        margin-bottom: 20px
        position: static
        margin-top: 40px
        .contact-button
          text-align: center
          width: 140px
          border: 2px solid #1a1a1a
          padding: 16px 20px
          color: #1a1a1a
          background-color: #fff
          border-radius: 0
          box-shadow: 4px 4px 0 #1a1a1a
          font-weight: 400
          font-size: 16px
          line-height: 1.5
          transition: .3s
          text-decoration: none
          z-index: 9999
          &:hover
            box-shadow: 2px 2px 0 #1a1a1a
            transition: .3s
    .navigation_list
      padding-top: 100px
      padding-bottom: 0
  .mobile
    display: block
  .tools-element
    width: 25%
  .tools_primary
    justify-content: space-between
  .benefits-wrapper
    .benefits-heading_wrapper
      width: 100%
    .benefits-primary_wrapper
      .benefits-element
        padding: 60px 0
        display: block
        .benefits-heading
          display: block
          padding-bottom: 32px
          width: 100%
          h4
            font-size: 26px
          p
            margin-bottom: 8px
        .benefits-description
          margin-left: 0
          padding-left: 0
          width: 100%
  .accents-wrapper
    .accents-heading_wrapper
      width: 100%
    .accents-primary_wrapper
      .accents-element
        display: block
        padding: 60px 0
        .accents-heading
          display: block
          padding-bottom: 32px
          width: 100%
          h4
            font-size: 26px
          p
            margin-bottom: 8px
        .accents-description
          margin-left: 0
          padding-left: 0
          width: 100%
  body
    .wrapper
      .video
        .video-wrapper
          display: block
          .YT-embedded
            width: 100%
          .text
            width: 100%
            padding-top: 30px
  body
    .wrapper
      .primary-container
        .navbar
          flex-direction: column
          justify-content: center
          .buttons
            margin: 0 auto
            padding-bottom: 30px
          .search-bar
            display: block
            margin: 0 auto
            width: 100%
            .form
              .nav-search
                width: 100%
        .page-1
          .post-link
            .headliner
              display: block
              .description
                width: 100%
              .image
                width: 100%
                .img
                  width: 100%
          .posts
            .post-link
              width: 100%
      .services
        .services-wrapper
          padding: 35px 25px
          display: block
          .image
            width: 100%
            margin-bottom: 32px
            .img
              width: 100%
              height: 440px
          .text
            width: 100%
            .text-wrapper
              p
                font-size: 21px
  body
    .wrapper
      .description-rewards
        display: block
        .text
          width: 100%
          .img-decor
            display: none
        .images
          width: 100%
          display: block
          .img
            object-fit: cover
            object-position: 50% 50%
            height: 573px
      .text-image-variations
        .text-image
          flex-direction: column
          .text
            width: 100%
            margin-bottom: 64px
          .image
            width: 100%
            .img
              width: 100%
              object-fit: cover
              object-position: 50% 50%
              height: 289px
      .values-primary
        display: block
        .values-text
          width: 100%
          .element
            margin-bottom: 32px
        .values-images
          width: 100%
      .opportunities
        .element
          display: block
          .text
            width: 100%
            padding-bottom: 32px
          .image-accordion
            width: 100%
            .image
              height: 260px
      .transparency-header
        h2
          padding: 0
      .transparency-bg
        .transparency-primary
          .transparency-text-image
            flex-direction: column-reverse
            .text
              width: 100%
            .image
              width: 100%
              padding-bottom: 32px
              .img
                height: 289px
                object-fit: cover
                object-position: 50% 50%
      .positions
        .positions-header
          .dropdowns
            .filter-button
              display: none
      .headquarters
        flex-direction: column-reverse
        .text-column
          padding-top: 50px
          width: 100%
          h2
            padding: 32px 0
        .headquarters-images
          width: 100%
          .headquarters-image
            height: 573px
      .contact-form-wrapper
        .contact-form-primary
          width: fit-content
          box-sizing: border-box
          .contact-form
            .form-columns
              display: block
              .column
                width: fit-content
                margin-right: 0
                &:last-child
                  margin-left: 0
      .assistance
        .assistance-wrapper
          padding: 20px 25px
          display: block
          .text
            width: 100%
          .image
            width: 100%
            margin-bottom: 32px
            .img
              width: 100%
              height: 440px

@media screen and (max-width: 720px)
  .logo-motto__aside
    display: none
  body
    .wrapper
      padding: 0 16px
      .list-wrapper
        .list-primary_wrapper
          .element
            .description
              display: block
              .list
                width: 100%
                &:last-child
                  margin-left: 0
  .landing_container
    padding: 0 16px
  .content_container
    padding: 0 16px
  .heading-wrapper-laptop
    width: 100%!important
    .heading-laptop
      font-size: 37px!important
  .landing_message
    .landing_message__wrapper
      .landing-h1
        font-size: 44px!important
      .landing-p
        font-size: 21px
  .members-header
    padding-left: 0
    padding-right: 0
  .tools-wrapper
    .tools-header
      .header-h2
        width: -webkit-fill-available
  body
    footer
      .footer_container
        padding: 0 35px
        .footer-wrapper
          padding: 0
          .links-wrapper
            .links
              flex-direction: column
              .link
                padding-left: 0
          .logos-wrapper
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            a
              padding: 0
    .wrapper
      .works-container
        .example-element
          .cover-link
            .element
              display: flex
              flex-direction: column-reverse
              .image
                padding-left: 0
                width: fit-content
              .text-logo
                width: fit-content
                padding-left: 40px
                .text
                  h3
                    font-size: 26px
                  p
                    font-size: 16px
  body
    .wrapper
      .positions
        .positions-header
          display: block
          .dropdowns
            display: block
            width: 100%
            .location
              width: 100%
            .categories
              padding-top: 64px
              width: 100%
              margin-left: -2px
          .freelance-button
            box-sizing: border-box
            padding-top: 48px
            width: 100%
        .primary
          .position-element
            display: block
            .description
              padding-bottom: 18px
            .apply-button
              .button
                width: 100%
                box-sizing: border-box
                min-width: 140px
                display: flex
                justify-content: center
      .instagram
        .primary
          .image
            width: 50%
            .link
              .img
                height: 179px
      .headquarters
        .text-column
          h2
            font-size: 37px
          .headquarters-locations
            display: block
            .headquarters-location
              box-sizing: border-box
              width: 100%
              &:last-child
                padding-left: 0
                padding-top: 24px
              &:first-child
                padding-bottom: 24px
                border-right: none
                border-bottom: 1px dashed rgba(26,26,26,.2)
      .contact-form-wrapper
        .contact-form-primary
          padding: 0!important
          border: none
      .reviews_wrapper
        .reviews-header
          h2
            width: 100%
        .reviews_primary
          display: block
          .reviews-element
            padding-bottom: 24px
      .details-wrapper
        .primary
          .text-wrapper
            display: block
            .text-column
              margin-left: 0
              padding-bottom: 24px
              &:last-child
                padding-bottom: 0

@media screen and (max-width: 550px)
  .members-container
    .members-wrapper
      .members-primary
        .members-description
          .name-buttons-wrapper
            flex-direction: column
            align-items: flex-start
            .members-name
              padding-bottom: 8px
  .reviews-container
    .reviews-wrapper
      .reviews-primary
        .reviews-description
          .name-buttons-wrapper
            flex-direction: column
            align-items: flex-start
            .members-name
              padding-bottom: 8px