{% extends 'utility/base.html' %}
{% load tags %}
{% load static %}
{% block content %}
    <div class="landing_container">
        <div class="landing_message">
            <div class="landing_message__wrapper">
                <h1 class="landing-h1">Q's Journal</h1>
                <p class="landing-p">Sharing is caring, so we do our best to keep you updated with relevant topics.
                    Read about Qumans’ experience with various technologies and how they face daily challenges.</p>
            </div>
        </div>
        <div class="top-right_image"></div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container primary-container">

        <div class="navbar">
            <div class="buttons">
                <div class="nav-button">
                    <a href="{% append_to_url '' 'category' %}" class="p">All</a>
                </div>
                {% for category in categories %}
                <div class="nav-button">
                    <a href="{% append_to_url category.id 'category' %}" class="p">{{ category.name }}</a>
                </div>
                {% endfor %}
            </div>
            <div class="search-bar">
                <form action="" class="form">
                    {{ posts.form.heading_and_tag }}
                </form>
            </div>
        </div>

        <div class="page-1">
            {% if not request.GET and headliner %}
                <a href="{% url 'post' headliner.id %}" class="post-link">
                <div class="headliner">
                    <div class="description">
                        <h4 class="h4">{{ headliner.heading }}</h4>
                        <div class="post-details">
                            <div class="author-image">
                                <img src="{{ headliner.author.avatar.url }}" alt="" class="img">
                            </div>
                            <div class="details">
                                <p class="p author">{{ headliner.author.name }}</p>
                                <p class="p date">{% format_date headliner.created_at %} - 4 min</p>
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <img src="{{ headliner.picture.url }}" alt="" class="img">
                    </div>
                </div>
            </a>
            {% endif %}
            <div class="posts">
                {% for post in page %}
                <a href="{% url 'post' post.id %}" class="post-link">
                    <div class="blog-element">
                        <div class="image">
                            <img src="{{ post.picture.url }}" alt="" class="img">
                        </div>
                        <div class="post-details">
                            <div class="author-image">
                                <img src="{{ post.author.avatar.url }}" alt="" class="img">
                            </div>
                            <div class="details">
                                <p class="p author">{{ post.author.name }}</p>
                                <p class="p date">{{ post.created_at }} - 2 min</p>
                            </div>
                        </div>
                        <h4 class="h4">{{ post.heading }}</h4>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
            {% include "utility/pagination.html" %}
    </div>
    <section class="divider-desktop"></section>
{% endblock %}