{% extends 'utility/base.html' %}
{% load static %}
{% block content %}
    {#  MODAL  #}
    <div class="apply-modal">
        <div class="form-wrapper">
            <div data-modal class="form-container">
                <div class="modal-close-wrapper">
                    <div class="text">
                        <h4>We'll get in touch with you!</h4>
                    </div>
                    <div class="container">
                        <button class="modal-close">X</button>
                    </div>
                </div>
                <form action="" method="POST" class="apply-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="name"></label>
                    {{ form.full_name }}
                    <label for="email"></label>
                    {{ form.email }}
                    <label for="CV"></label>
                    {{ form.resume }}
                    {{ form.captcha }}
                    <div class="button-container">
                        <button type="submit" class="submit-button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {#  MODAL  #}
    <div class="content_container position-heading">
        <h1 class="h1">{{ vacancy.name }}</h1>
        <p class="p-tags">
            {{ vacancy.location }}{% if vacancy.on_site_option %}, On-Site{% endif %}{% if vacancy.remote_option %},
                Remote{% endif %}</p>
    </div>
    <div class="image-wrapper">
        <img src="{{ vacancy.picture.url }}" alt="" class="img-data-engineer">
    </div>
    <div class="content_container job-description">
        <div class="description">
            {{ vacancy.content|safe }}
            <p class="p-bold">Sounds exciting? Click on the button below and apply now :)</p>
            <a href="#" class="apply-button_link">Apply now</a>
        </div>
        <div class="contact">
            <h6 class="h6">CONTACT ADDRESS</h6>
            <a href="mailto:apply@q.agency" class="mail-link">apply@q.agency</a>
            <img src="{% static 'img/decoration.svg' %}" alt="" class="img">
        </div>
    </div>
    <section class="divider-desktop"></section>
{% endblock %}