{% extends 'utility/base.html' %}
{% load static %}
{% block content %}
    <div class="landing_container">
        <div class="landing_message">
            <div class="landing_message__wrapper">
                <h1 class="landing-h1">Are you interested in augmenting your design and development expertise?</h1>
                <p class="landing-p">We can offer you a dedicated software development team. </p>
                <a href="{% url 'contact' %}" class="landing-button_link">Build your team</a>
            </div>
        </div>
        <div class="top-right_image"></div>
    </div>
    <section class="divider-desktop"></section>
    {#    <div class="plug-img_wrapper">#}
    {#        <img src="{% static 'img/plug_img.jpeg' %}" alt="" class="plug_img">#}
    {#    </div>#}
    {#    <section class="divider-desktop"></section>#}
    <div class="content_container benefits-wrapper">
        <div class="benefits-heading_wrapper">
            <h2 class="benefits-h2">Advantages of Employing a Committed Development Team</h2>
        </div>
        <div class="benefits-primary_wrapper">
            <div class="benefits-element first-element">
                <div class="benefits-heading">
                    <p class="heading-number">01</p>
                    <h4 class="heading-h4">Agile Development</h4>
                </div>
                <div class="benefits-description">
                    <p>This refers to a methodology for software development that emphasizes iterative and incremental
                        delivery of the final product, with a focus on adaptability and customer satisfaction.</p>
                </div>
            </div>
            <div class="benefits-element">
                <div class="benefits-heading">
                    <p class="heading-number">02</p>
                    <h4 class="heading-h4">Project Management</h4>
                </div>
                <div class="benefits-description">
                    <p>The implementation of modern methods into your organizational procedures will be facilitated by
                        our team of Project Managers.</p>
                </div>
            </div>
            <div class="benefits-element">
                <div class="benefits-heading">
                    <p class="heading-number">03</p>
                    <h4 class="heading-h4">Efficient Scalability & Talent Oversight</h4>
                </div>
                <div class="benefits-description">
                    <p>You can concentrate on your product while we take care of the rest - you don't need to be an HR
                        firm. Our services encompass end-to-end recruitment and employee satisfaction processes.</p>
                </div>
            </div>
            <div class="benefits-element">
                <div class="benefits-heading">
                    <p class="heading-number">04</p>
                    <h4 class="heading-h4">Acquiring digital products that are already in existence.</h4>
                </div>
                <div class="benefits-description">
                    <p>Our engineers are knowledgeable in undertaking projects burdened with technical debt. Our process
                        begins by conducting a thorough review of your existing codebase, after which we propose
                        appropriate solutions such as updates, migration, and so on. </p>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="plug-img_wrapper">
        <img src="{% static 'img/staff/047A1909_cropped.jpg' %}" alt="" class="plug_img">
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container accents-wrapper">
        <div class="accents-heading_wrapper">
            <h2 class="accents-h2">What is our process for assembling a specialized team?</h2>
        </div>
        <div class="accents-primary_wrapper">
            <div class="accents-element first-element">
                <div class="accents-heading">
                    <p class="heading-number">01</p>
                    <h4 class="heading-h4">Exploratory workshop</h4>
                </div>
                <div class="accents-description">
                    <p>The purpose is to gain insight into your business objectives and client requirements, thereby
                        enabling us to identify the most suitable team composition to deliver on those goals.</p>
                </div>
            </div>
            <div class="accents-element">
                <div class="accents-heading">
                    <p class="heading-number">02</p>
                    <h4 class="heading-h4">Task distribution</h4>
                </div>
                <div class="accents-description">
                    <p>As a team, we collaborate to establish comprehensive job requirements for potential team members
                        and identify the necessary resources needed to effectively manage the team.</p>
                </div>
            </div>
            <div class="accents-element">
                <div class="accents-heading">
                    <p class="heading-number">03</p>
                    <h4 class="heading-h4">Initial screening of candidates.</h4>
                </div>
                <div class="accents-description">
                    <p>You'll be provided with a roster of candidates and their resumes who possess the relevant skills,
                        experiences, and firsthand knowledge to meet your project's specific requirements and
                        expectations.</p>
                </div>
            </div>
            <div class="accents-element">
                <div class="accents-heading">
                    <p class="heading-number">04</p>
                    <h4 class="heading-h4">Interviews</h4>
                </div>
                <div class="accents-description">
                    <p>After you have made your selection, each candidate can proceed with an interview conducted by
                        either your HR or Tech Team to assess whether they meet your criteria.</p>
                </div>
            </div>
            <div class="accents-element">
                <div class="accents-heading">
                    <p class="heading-number">05</p>
                    <h4 class="heading-h4">Experience adoption </h4>
                </div>
                <div class="accents-description">
                    <p>We also offer the option to carry out this process at your office. We highly recommend that our
                        Dedicated Team gets to know your employees and familiarizes themselves with your company's
                        culture.</p>
                </div>
            </div>
            <div class="accents-element last-element">
                <div class="accents-heading">
                    <p class="heading-number">06</p>
                    <h4 class="heading-h4">Daily status reports</h4>
                </div>
                <div class="accents-description">
                    <p>Dedicated Team is seamlessly integrated into your own team, and provides daily progress reports
                        on their activities, as well as participating in regular stand-up calls and other necessary
                        meetings.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="plug-img_3_wrapper">
        <img src="{% static 'img/staff/047A1956_cropped.jpg' %}" alt="" class="plug_img-3">
    </div>
    {% if works %}
        <section class="divider-desktop"></section>
        <div class="content_container examples_container">
            <div class="example_heading">
                <h2 class="example_h2 h2">Koodrick's Success Stories</h2>
            </div>
            {% for work in works %}
                <div class="example_element">
                    <div class="example_image">
                        <img src="{{ work.success_story_picture.url }}" alt="streamways" class="img">
                    </div>
                    <div class="example_description">
                        <div class="example_logo">
                            <img src="{{ work.logo_dark.url }}" alt="streamways-logo" class="logo">
                        </div>
                        <div class="example_tags">
                            <p class="example_tag">{{ work.team }}</p>
                            <p class="example_tag">{{ work.industry }}</p>
                            <p class="example_tag">{{ work.location }}</p>
                        </div>
                        <div class="example_text">
                            <p class="example_p">{{ work.brief|truncatewords:30|safe }}</p>
                        </div>
                        <div class="details-button_wrapper">
                            <a href="{% url 'works_details' work.id %}" class="details-button_link details-button">Project
                                Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <section class="divider-desktop"></section>
    <div class="prompt">
        <div class="prompt_text">
            <p class="prompt_p">Are you looking for a team of software specialists exclusively dedicated to your
                project?</p>
        </div>
        <div class="prompt_btn">
            <a href="{% url 'contact' %}" class="prompt-button_link prompt-button">Build your team now</a>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="plug-img_wrapper">
        <img src="{% static 'img/staff/047A1918_cropped.jpg' %}" alt="" class="plug_img">
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container reviews_wrapper">
        <div class="reviews-header">
            <h2 class="header-h2">What Can You Get From Koodrick?</h2>
        </div>
    </div>
    {#    <section class="divider-desktop"></section>#}
    <div class="content_container scopes-container">
        <div class="scopes-image">
            <img src="{% static 'img/staff/047A1769.JPG' %}" alt="" class="scopes-img">
        </div>
        <div class="scopes-description">
            <h3 class="scopes-h3">Research</h3>
            <p class="scopes-p">Once we have thoroughly familiarized ourselves with the critical features of your
                product, we commence the process of transforming it into a software solution.
                <br>Our team of software developers possess extensive expertise in:</p>
            <div class="scopes-accordion-menu">
                <div class="scopes-accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Front-End</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">React</p>
                        <p class="accordion-p">Angular</p>
                        <p class="accordion-p">Vue.js</p>
                    </div>
                </div>
            </div>
            <div class="scopes-accordion-menu">
                <div class="scopes-accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Back-End</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">C#</p>
                        <p class="accordion-p">Node.js</p>
                        <p class="accordion-p">Java</p>
                        <p class="accordion-p">Python</p>
                    </div>
                </div>
            </div>
            <div class="scopes-accordion-menu">
                <div class="scopes-accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Mobile</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Flutter</p>
                        <p class="accordion-p">Swift</p>
                        <p class="accordion-p">Kotlin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container tools-wrapper">
        <div class="tools-header">
            <h2 class="header-h2">Tools We Use</h2>
        </div>
        <div class="tools_primary">
            <div class="tools-element">
                <img src="{% static 'img/tools-1.svg' %}" alt="" class="tools-image">
                <p class="tools-element-p-title">Slack</p>
                <p class="tools-element-p">Daily project-related communication</p>
            </div>
            <div class="tools-element">
                <img src="{% static 'img/tools-2.svg' %}" alt="" class="tools-image">
                <p class="tools-element-p-title">GitLab / GitHub</p>
                <p class="tools-element-p">Code-related matters</p>
            </div>
            <div class="tools-element">
                <img src="{% static 'img/tools-3.svg' %}" alt="" class="tools-image">
                <p class="tools-element-p-title">Google Meet</p>
                <p class="tools-element-p">Video conferences</p>
            </div>
            <div class="tools-element">
                <img src="{% static 'img/tools-4.svg' %}" alt="" class="tools-image">
                <p class="tools-element-p-title">Jira / Teamwork</p>
                <p class="tools-element-p">Project management</p>
            </div>
            <div class="tools-element">
                <img src="{% static 'img/tools-5.svg' %}" alt="" class="tools-image">
                <p class="tools-element-p-title">Figma</p>
                <p class="tools-element-p">Showcasing designs</p>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="members-header">
        <p class="header-h2">Our Tech Team</p>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/staff/047A1790.JPG' %}" alt="david" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">David Alkamian</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="post-media-wrapper">
{#                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">#}
                        <p class="post">Team Lead</p>
                    </div>
                    <div class="pagination">
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                    </div>
                    <div class="description">
                        <p class="description-p">David is an exceptional software developer with extensive
                            knowledge and experience in creating innovative solutions for our clients. He is dedicated
                            to staying up-to-date with the latest industry trends and technologies, ensuring that our
                            projects are always cutting-edge. His ability to work collaboratively with others and manage
                            projects efficiently makes him an invaluable asset to our team.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/staff/047A1780.JPG' %}" alt="goran" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Ernest Nuritdinov</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="post-media-wrapper">
{#                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">#}
                        <p class="post">Back-end Developer & Program Manager</p>
                    </div>
                    <div class="pagination">
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                    </div>
                    <div class="description">
                        <p class="description-p">Ernest is an accomplished Back-end Developer and Program Manager at
                            Koodrick. He excels at managing complex projects and ensuring their successful delivery
                            through his expertise in software development and project management.</p>
                        <br>
                        <p class="description-p">His ability to work collaboratively with cross-functional teams
                            and his commitment to delivering high-quality work make him an essential member of our team
                            at Koodrick.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/staff/047A1758.JPG' %}" alt="josip" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Akhbor Akhrorov</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="post-media-wrapper">
{#                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">#}
                        <p class="post">Android Developer</p>
                    </div>
                    <div class="pagination">
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                    </div>
                    <div class="description">
                        <p class="description-p">He is an Android developer with a passion for creating
                            innovative mobile applications that deliver exceptional user experiences. His expertise in
                            Java and Kotlin allows him to develop high-quality, robust applications that
                            meet the needs of our clients.</p>
                        <br>
                        <p class="description-p">With his meticulous attention to detail and exceptional problem-solving
                            skills, he consistently delivers high-quality work.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/staff/047A1810.JPG' %}" alt="josip" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Sanjar Abdullaev</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="post-media-wrapper">
{#                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">#}
                        <p class="post">Front-end Developer</p>
                    </div>
                    <div class="pagination">
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                    </div>
                    <div class="description">
                        <p class="description-p">His passion for creating high-quality and secure software is evident in
                            every project. He ensures that the web applications he develops are efficient and effective,
                            with a focus on delivering the best possible user experience.</p>
                        <br>
                        <p class="description-p">With a keen eye for detail and
                            a commitment to quality, he consistently produces exceptional work.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container achievements-wrapper">
        {#        <div class="achievements-primary">#}
        {#            <div class="description">#}
        {#                <h2 class="description-h2">Moj posao #1 employer 2020, 2021</h2>#}
        {#                <p class="description-p">Qumans have spoken and brought us the most prestigious regional award for#}
        {#                    employers#}
        {#                    for the second year in a row.</p>#}
        {#            </div>#}
        {#            <div class="image">#}
        {#                <img src="{% static 'img/achievements-img.jpg' %}" alt="adria 2021" class="img">#}
        {#            </div>#}
        {#        </div>#}
        <div class="achievements_secondary">
            {#            <div class="achievements-element">#}
            {#                <p class="achievements-element-p-title">#1</p>#}
            {#                <p class="achievements-element-p">2020 & 2021<br>Best Employer in Croatia</p>#}
            {#            </div>#}
            {#            <div class="achievements-element">#}
            {#                <p class="achievements-element-p-title">350+</p>#}
            {#                <p class="achievements-element-p">Experts in our<br>development teams</p>#}
            {#            </div>#}
            <div class="achievements-element">
                <p class="achievements-element-p-title">5</p>
                <p class="achievements-element-p">Members is average<br>Agile team size</p>
            </div>
            <div class="achievements-element">
                <p class="achievements-element-p-title">4+</p>
                <p class="achievements-element-p">Years in average seniority<br>of our developers</p>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    {#    <div class="content_container review-wrapper">#}
    {#        <div class="review-text">#}
    {#            <h2 class="h2">Quality in Numbers</h2>#}
    {#            <p class="p">*Results show average scores from monthly surveys Conducted in Q3 2021 on all our clients.</p>#}
    {#        </div>#}
    {#        <div class="secondary">#}
    {#            <div class="element">#}
    {#                <img src="{% static 'img/stars-1.svg' %}" alt="rating" class="img">#}
    {#                <p class="element-p">2020 & 2021<br>Best Employer in Croatia</p>#}
    {#            </div>#}
    {#            <div class="element">#}
    {#                <img src="{% static 'img/stars-2.svg' %}" alt="rating" class="img">#}
    {#                <p class="element-p">Experts in our<br>development teams</p>#}
    {#            </div>#}
    {#            <div class="element">#}
    {#                <p class="element-p-title">47%</p>#}
    {#                <p class="element-p">Members is average<br>Agile team size</p>#}
    {#            </div>#}
    {#            <div class="element">#}
    {#                <img src="{% static 'img/flags.svg' %}" alt="flags" class="img">#}
    {#                <p class="element-p">Years in average seniority<br>of our developers</p>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <section class="divider-desktop"></section>#}
    {#    <div class="plug-img_wrapper">#}
    {#        <img src="{% static 'img/plug-5.jpeg' %}" alt="" class="plug_img">#}
    {#    </div>#}
    {#    <section class="divider-desktop"></section>#}
    <div class="content_container form-wrapper">
        <div class="form-description">
            <h2 class="h2">Take action now to build your team</h2>
            <p class="p">Shall we begin? You may either complete the form below to provide us with more information
                regarding your project, or schedule a call to discuss your requirements.</p>
            <img src="{% static 'img/decoration.svg' %}" alt="" class="decoration">
        </div>
        <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="email form-input">
                    <label for="email" class="label">Business email</label>
                    {{ form.business_email }}
                </div>
                <div class="info form-input">
                    <label for="text" class="label">Tell us more about your project</label>
                    {{ form.project_details }}
                </div>
                {{ form.captcha }}
                <p class="p">This site is protected by reCAPTCHA and the Google Privacy Policy and <a class=""
                                                                                                      href="https://policies.google.com/terms">Terms
                    of Service</a> apply.</p>
                <button class="submit">Send</button>
            </form>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="faq">
        <h2 class="h2">Frequently Asked Questions</h2>
        <div class="faq-accordion-menu">
            <div class="faq-accordion-button">
                <div>
                    <button class="accordion-toggle_2">
                        <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                    </button>
                </div>
                <p class="accordion-button-title">What does "dedicated software development team" mean?</p>
            </div>
            <div class="accordion-content">
                <div class="accordion-text_2">
                    <p class="accordion-p">A Dedicated Software Development Team refers to a group of chosen software
                        developers who are solely dedicated to developing your software solution. They are an external
                        team, typically based offshore or nearshore.</p>
                </div>
            </div>
        </div>
        <div class="faq-accordion-menu">
            <div class="faq-accordion-button">
                <div>
                    <button class="accordion-toggle_2">
                        <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                    </button>
                </div>
                <p class="accordion-button-title">How we build our management process for dedicated teams?</p>
            </div>
            <div class="accordion-content">
                <div class="accordion-text_2">
                    <p class="accordion-p">The management of a Dedicated Software Development Team can either be handled
                        by your own organization or delegated to the project manager from the company that you have
                        contracted the team from.</p>
                </div>
            </div>
        </div>
        <div class="faq-accordion-menu">
            <div class="faq-accordion-button">
                <div>
                    <button class="accordion-toggle_2">
                        <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                    </button>
                </div>
                <p class="accordion-button-title">What are the benefits of outsourcing a dedicated software development
                    team? </p>
            </div>
            <div class="accordion-content">
                <div class="accordion-text_2">
                    <p class="accordion-p">Outsourcing a dedicated software development team can bring several benefits,
                        such as access to a larger talent pool, cost savings, increased efficiency and flexibility, and
                        the ability to focus on your core business functions while leaving the technical development to
                        the experts. Additionally, outsourcing allows you to scale your team up or down as needed,
                        depending on the project's requirements.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    {#    <div class="content_container offices-wrapper">#}
    {#        <h2 class="h2">Offices</h2>#}
    {#        <div class="primary">#}
    {#            <div class="office-element">#}
    {#                <div class="image">#}
    {#                    <img src="{% static 'img/zagreb.jpg' %}" alt="zagreb" class="img">#}
    {#                </div>#}
    {#                <div class="description">#}
    {#                    <h5 class="h5">Zagreb HQ</h5>#}
    {#                    <a href="#" class="link">#}
    {#                        <p>Reljkoviceva 4, 10000<br>Zagreb, Croatia</p>#}
    {#                    </a>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="office-element">#}
    {#                <div class="image">#}
    {#                    <img src="{% static 'img/london.jpg' %}" alt="london" class="img">#}
    {#                </div>#}
    {#                <div class="description">#}
    {#                    <h5 class="h5">London HQ</h5>#}
    {#                    <a href="#" class="link">#}
    {#                        <p>Borough Yards, 13 Dirty<br>Lane, London, SE1 9PA</p>#}
    {#                    </a>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="office-element">#}
    {#                <div class="image">#}
    {#                    <img src="{% static 'img/zurich.jpg' %}" alt="zurich" class="img">#}
    {#                </div>#}
    {#                <div class="description">#}
    {#                    <h5 class="h5">Zürich HQ</h5>#}
    {#                    <a href="#" class="link">#}
    {#                        <p>Brandstrasse 33, 8952<br>Schlieren/Zurich,<br>Switzerland</p>#}
    {#                    </a>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="office-element">#}
    {#                <div class="image">#}
    {#                    <img src="{% static 'img/belgrade.jpg' %}" alt="belgrade" class="img">#}
    {#                </div>#}
    {#                <div class="description">#}
    {#                    <h5 class="h5">Belgrade HQ</h5>#}
    {#                    <a href="#" class="link">#}
    {#                        <p>Vitezova Karadordeve<br>zvezde 50, 11000<br>Belgrade, Serbia</p>#}
    {#                    </a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <section class="divider-desktop"></section>#}
{% endblock %}