{% extends 'utility/base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="landing_container">
        <div class="landing_message">
            <div class="landing_message__wrapper">
                <h1 class="landing-h1">Dedicated Software Development Team</h1>
                <p class="landing-p">Looking to expand your design and development experts?</p>
                <a href="#" class="landing-button_link">Build your team now</a>
            </div>
        </div>
        <div class="top-right_image"></div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container">
        <div class="partners-wrapper">
            <div class="partners-heading">
                <h1 class="partners-heading_h1">Global Brands That Gave Us Their Trust</h1>
            </div>
            <div class="brands-img">
                <img src="{% static 'img/brands.svg' %}" alt="brands" class="brands">
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="plug-img_wrapper">
        <img src="{% static 'img/plug_img.jpeg' %}" alt="" class="plug_img">
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container benefits-wrapper">
        <div class="benefits-heading_wrapper">
            <h2 class="benefits-h2">The Benefits of Hiring a Dedicated Development Team</h2>
        </div>
        <div class="benefits-primary_wrapper">
            <div class="benefits-element first-element">
                <div class="benefits-heading">
                    <p class="heading-number">01</p>
                    <h4 class="heading-h4">Agile Development</h4>
                </div>
                <div class="benefits-description">
                    <p>All of our Developers are experienced in working with Scrum framework – continuous iteration and
                        testing throughout the project lifecycle.</p>
                </div>
            </div>
            <div class="benefits-element">
                <div class="benefits-heading">
                    <p class="heading-number">02</p>
                    <h4 class="heading-h4">Project Management & Agile Coaching</h4>
                </div>
                <div class="benefits-description">
                    <p>Our Project Managers are trained Agile Coaches and will help you with introducing the latest
                        practices into your organisational processes.</p>
                </div>
            </div>
            <div class="benefits-element">
                <div class="benefits-heading">
                    <p class="heading-number">03</p>
                    <h4 class="heading-h4">Fast Scalability & Talent Management</h4>
                </div>
                <div class="benefits-description">
                    <p>You don’t have to be an HR company – focus on your product and let us do the rest. We cover
                        end-to-end recruitment and employee satisfaction processes.</p>
                </div>
            </div>
            <div class="benefits-element">
                <div class="benefits-heading">
                    <p class="heading-number">04</p>
                    <h4 class="heading-h4">Scalable Cloud Infrastructure</h4>
                </div>
                <div class="benefits-description">
                    <p>If you’re in need of scalable and secure infrastructure – our DevOps team is here to help. From
                        Docker, AWS, Azure to event driven architecture and more.</p>
                </div>
            </div>
            <div class="benefits-element">
                <div class="benefits-heading">
                    <p class="heading-number">05</p>
                    <h4 class="heading-h4">Taking Over Existing Digital Products</h4>
                </div>
                <div class="benefits-description">
                    <p>Our engineers have experience in taking over the projects with “Technical debt”. We start with
                        deep dive into your current codebase with code-review and suggest the appropriate updates,
                        migration etc.</p>
                </div>
            </div>
            <div class="benefits-element last-element">
                <div class="benefits-heading">
                    <p class="heading-number">06</p>
                    <h4 class="heading-h4">Security & Quality</h4>
                </div>
                <div class="benefits-description">
                    <p>We are certified with ISO 27001:2013 for covering security governance, ISO 9001:2015 for covering
                        quality management for services, ISO 27701:2019 for GDPR, so you can feel safe for being in good
                        hands when working with Q.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="plug-img_wrapper">
        <img src="{% static 'img/plug-2.jpeg' %}" alt="" class="plug_img">
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container accents-wrapper">
        <div class="accents-heading_wrapper">
            <h2 class="accents-h2">How Do You Build Your Dedicated Team?</h2>
        </div>
        <div class="accents-primary_wrapper">
            <div class="accents-element first-element">
                <div class="accents-heading">
                    <p class="heading-number">01</p>
                    <h4 class="heading-h4">Discovery workshop</h4>
                </div>
                <div class="accents-description">
                    <p>The goal of the workshop is to understand your business goals and your clients’ needs in order to
                        know the type of team that will achieve them.</p>
                </div>
            </div>
            <div class="accents-element">
                <div class="accents-heading">
                    <p class="heading-number">02</p>
                    <h4 class="heading-h4">Job specification</h4>
                </div>
                <div class="accents-description">
                    <p>Together, we define detailed job specifications for each team candidate, as well as all the
                        resources that you require for the management of the team.</p>
                </div>
            </div>
            <div class="accents-element">
                <div class="accents-heading">
                    <p class="heading-number">03</p>
                    <h4 class="heading-h4">Candidates preselection</h4>
                </div>
                <div class="accents-description">
                    <p>You will receive a list of candidates and their resumés. They possess specific skills,
                        experiences
                        and first-hand knowledge that match your project requirements and expectations.</p>
                </div>
            </div>
            <div class="accents-element">
                <div class="accents-heading">
                    <p class="heading-number">04</p>
                    <h4 class="heading-h4">Interviews</h4>
                </div>
                <div class="accents-description">
                    <p>Each candidate you(?) select can go through the interview with your HR or Tech Team to see if
                        they
                        meet your requirements.</p>
                </div>
            </div>
            <div class="accents-element">
                <div class="accents-heading">
                    <p class="heading-number">05</p>
                    <h4 class="heading-h4">Onboarding</h4>
                </div>
                <div class="accents-description">
                    <p>This process can be done at your office too. We encourage our clients to have the Dedicated Team
                        meet your employees as well as learn about your company’s culture.</p>
                </div>
            </div>
            <div class="accents-element last-element">
                <div class="accents-heading">
                    <p class="heading-number">06</p>
                    <h4 class="heading-h4">Daily reporting</h4>
                </div>
                <div class="accents-description">
                    <p>Dedicated team becomes an integral part of your team which includes daily reports on what they’ve
                        been working on, standup calls etc.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="plug-img_3_wrapper">
        <img src="{% static 'img/plug-3.jpg' %}" alt="" class="plug_img-3">
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container examples_container">
        <div class="example_heading">
            <h2 class="example_h2 h2">Q Teams’ Success Stories</h2>
        </div>
        {% for work in works %}
        <div class="example_element">
            <div class="example_image">
                <img src="{{ work.success_story_picture.url }}" alt="streamways" class="img">
            </div>
            <div class="example_description">
                <div class="example_logo">
                    <img src="{{ work.logo.url }}" alt="streamways-logo" class="logo">
                </div>
                <div class="example_tags">
                    <p class="example_tag">{{ work.team }}</p>
                    <p class="example_tag">{{ work.industry }}</p>
                    <p class="example_tag">{{ work.location }}</p>
                </div>
                <div class="example_text">
                    <p class="example_p">{{ work.brief|truncatewords:30|safe }}</p>
                </div>
                <div class="details-button_wrapper">
                    <a href="{% url 'works_details' work.id %}" class="details-button_link details-button">Project Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
{#        <div class="example_element-second">#}
{#            <div class="example_description-second second-desc_element">#}
{#                <div class="example_logo-second">#}
{#                    <img src="{% static 'img/medi-logo.svg' %}" alt="streamways-logo" class="logo-second">#}
{#                </div>#}
{#                <div class="example_tags-second">#}
{#                    <p class="example_tag">GERMANY</p>#}
{#                    <p class="example_tag">HEALTHTECH</p>#}
{#                    <p class="example_tag">MOBILE TEAM</p>#}
{#                </div>#}
{#                <div class="example_text-second">#}
{#                    <p class="example_p-second">Spurred on by the joy of business challenges, Medi thrives to set#}
{#                        industry standards with their products and concepts. By thinking beyond borders and breaking new#}
{#                        grounds Medi found a steady partner in Q with the know-how to develop Medi Vision together.</p>#}
{#                </div>#}
{#                <div class="details-button_wrapper">#}
{#                    <a href="#" class="details-button_link details-button">Project Details</a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="example_image-second second-img_element">#}
{#                <img src="{% static 'img/medi.jpg' %}" alt="medi" class="img-second">#}
{#            </div>#}
{#        </div>#}
    </div>
    <section class="divider-desktop"></section>
    <div class="prompt">
        <div class="prompt_text">
            <p class="prompt_p">Do you need a dedicated team of software experts?</p>
        </div>
        <div class="prompt_btn">
            <a href="#" class="prompt-button_link prompt-button">Start building your team now</a>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="plug-img_wrapper">
        <img src="{% static 'img/plug-4.jpg' %}" alt="" class="plug_img">
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container reviews_wrapper">
        <div class="reviews-header">
            <h2 class="header-h2">What Can You Get From Q?</h2>
            <h2 class="header-h3">Quality and Reliability</h2>
            <p class="header-p">We have a proven track record of:</p>
        </div>
        <div class="reviews_primary">
            <div class="reviews-element">
                <img src="{% static 'img/review-1.svg' %}" alt="" class="review-image">
                <p class="reviews-element-p-title">Clutch</p>
                <p class="reviews-element-p">Top 15 companies</p>
            </div>
            <div class="reviews-element">
                <img src="{% static 'img/review-2.svg' %}" alt="" class="review-image">
                <p class="reviews-element-p-title">Quality</p>
                <p class="reviews-element-p">ISO 9001:2015</p>
            </div>
            <div class="reviews-element">
                <img src="{% static 'img/review-3.svg' %}" alt="" class="review-image">
                <p class="reviews-element-p-title">Security</p>
                <p class="reviews-element-p">ISO 27001:2013</p>
            </div>
            <div class="reviews-element">
                <img src="{% static 'img/review-4.svg' %}" alt="" class="review-image">
                <p class="reviews-element-p-title">Privacy</p>
                <p class="reviews-element-p">ISO 27701:2019</p>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container scopes-container">
        <div class="scopes-image">
            <img src="{% static 'img/scopes.jpeg' %}" alt="" class="scopes-img">
        </div>
        <div class="scopes-description">
            <h3 class="scopes-h3">Expertise</h3>
            <p class="scopes-p">Having learned all the priority functionalities of your product, we begin translating it
                into a software solution. <br>Our software developers are experts in:</p>
            <div class="scopes-accordion-menu">
                <div class="scopes-accordion-button">
                    <button class="accordion-toggle">
                        <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                    </button>
                    <p class="accordion-button-title">Front-End</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">React</p>
                        <p class="accordion-p">Angular</p>
                        <p class="accordion-p">Vue.js</p>
                        <p class="accordion-p">Craft CMS</p>
                        <p class="accordion-p">WordPress</p>
                    </div>
                </div>
            </div>
            <div class="scopes-accordion-menu">
                <div class="scopes-accordion-button">
                    <button class="accordion-toggle">
                        <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                    </button>
                    <p class="accordion-button-title">Back-End</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">PHP</p>
                        <p class="accordion-p">Node.js</p>
                        <p class="accordion-p">.NET</p>
                        <p class="accordion-p">Ruby</p>
                        <p class="accordion-p">Java</p>
                        <p class="accordion-p">Golang</p>
                    </div>
                </div>
            </div>
            <div class="scopes-accordion-menu">
                <div class="scopes-accordion-button">
                    <button class="accordion-toggle">
                        <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                    </button>
                    <p class="accordion-button-title">Mobile</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Flutter</p>
                        <p class="accordion-p">Swift</p>
                        <p class="accordion-p">Kotlin</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container tools-wrapper">
        <div class="tools-header">
            <h2 class="header-h2">We Use Industry Standard Tools</h2>
        </div>
        <div class="tools_primary">
            <div class="tools-element">
                <img src="{% static 'img/tools-1.svg' %}" alt="" class="tools-image">
                <p class="tools-element-p-title">Slack</p>
                <p class="tools-element-p">For ongoing daily communication</p>
            </div>
            <div class="tools-element">
                <img src="{% static 'img/tools-2.svg' %}" alt="" class="tools-image">
                <p class="tools-element-p-title">GitLab / GitHub</p>
                <p class="tools-element-p">For code-related matters</p>
            </div>
            <div class="tools-element">
                <img src="{% static 'img/tools-3.svg' %}" alt="" class="tools-image">
                <p class="tools-element-p-title">Google Meet</p>
                <p class="tools-element-p">For video conferencing</p>
            </div>
            <div class="tools-element">
                <img src="{% static 'img/tools-4.svg' %}" alt="" class="tools-image">
                <p class="tools-element-p-title">Jira / Teamwork</p>
                <p class="tools-element-p">For project management</p>
            </div>
            <div class="tools-element">
                <img src="{% static 'img/tools-5.svg' %}" alt="" class="tools-image">
                <p class="tools-element-p-title">Figma</p>
                <p class="tools-element-p">For presenting wireframes & designs</p>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="members-header">
        <p class="header-h2">Our Tech Leadership Team</p>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/harry.jpg' %}" alt="harry" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Harry Gorajscan</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="post-media-wrapper">
                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                        <p class="post">CTO</p>
                    </div>
                    <div class="pagination"></div>
                    <div class="description">
                        <p class="description-p">A former developer, lead software architect, head of engineering, and
                            now our invaluable CTO who makes sure Q's technology strategy serves our business. His
                            technical
                            expertise, leadership, and team-work make him an evangelist to developers. He goes beyond
                            the
                            code to maintain the technical cultire and makes sure we can continue to retain and attract
                            top
                            technical talent.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/goran.jpg' %}" alt="goran" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Goran Posilovic</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="post-media-wrapper">
                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                        <p class="post">Director of Project Delivery & Support</p>
                    </div>
                    <div class="pagination"></div>
                    <div class="description">
                        <p class="description-p">12+ years of experience in the IT industry as a certified Agile
                            Practitioner, PMP, and Tech and PM Lead; won PMI Project of the Year award!</p>
                        <br>
                        <p class="description-p">Responsible for Project Management Team and successful project
                            completion on schedule and within budget.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/josip.jpg' %}" alt="josip" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Josip Barisic</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="post-media-wrapper">
                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                        <p class="post">Director of Server Technologies</p>
                    </div>
                    <div class="pagination"></div>
                    <div class="description">
                        <p class="description-p">Passionate Agilist with 15+ years of working in the ICT department as
                            a developer and manager, creating secure and quality softwares.</p>
                        <br>
                        <p class="description-p">He makes sure the production runs efficiently and effectively on both
                            organizational and technical levels.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container achievements-wrapper">
        <div class="achievements-primary">
            <div class="description">
                <h2 class="description-h2">Moj posao #1 employer 2020, 2021</h2>
                <p class="description-p">Qumans have spoken and brought us the most prestigious regional award for
                    employers
                    for the second year in a row.</p>
            </div>
            <div class="image">
                <img src="{% static 'img/achievements-img.jpg' %}" alt="adria 2021" class="img">
            </div>
        </div>
        <div class="achievements_secondary">
            <div class="achievements-element">
                <p class="achievements-element-p-title">#1</p>
                <p class="achievements-element-p">2020 & 2021<br>Best Employer in Croatia</p>
            </div>
            <div class="achievements-element">
                <p class="achievements-element-p-title">350+</p>
                <p class="achievements-element-p">Experts in our<br>development teams</p>
            </div>
            <div class="achievements-element">
                <p class="achievements-element-p-title">7</p>
                <p class="achievements-element-p">Members is average<br>Agile team size</p>
            </div>
            <div class="achievements-element">
                <p class="achievements-element-p-title">6+</p>
                <p class="achievements-element-p">Years in average seniority<br>of our developers</p>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container review-wrapper">
        <div class="review-text">
            <h2 class="h2">Quality in Numbers</h2>
            <p class="p">*Results show average scores from monthly surveys Conducted in Q3 2021 on all our clients.</p>
        </div>
        <div class="secondary">
            <div class="element">
                <img src="{% static 'img/stars-1.svg' %}" alt="rating" class="img">
                <p class="element-p">2020 & 2021<br>Best Employer in Croatia</p>
            </div>
            <div class="element">
                <img src="{% static 'img/stars-2.svg' %}" alt="rating" class="img">
                <p class="element-p">Experts in our<br>development teams</p>
            </div>
            <div class="element">
                <p class="element-p-title">47%</p>
                <p class="element-p">Members is average<br>Agile team size</p>
            </div>
            <div class="element">
                <img src="{% static 'img/flags.svg' %}" alt="flags" class="img">
                <p class="element-p">Years in average seniority<br>of our developers</p>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="plug-img_wrapper">
        <img src="{% static 'img/plug-5.jpeg' %}" alt="" class="plug_img">
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container form-wrapper">
        <div class="form-description">
            <h2 class="h2">Start building your dedicated team now</h2>
            <p class="p">Let's get started! Please fill in the form below so we can learn more about you and your
                project or just schedule a call.</p>
            <img src="{% static 'img/decoration.svg' %}" alt="" class="decoration">
        </div>
        <div class="form">
            <form action="#">
                <div class="email form-input">
                    <label for="email" class="label">Business email</label>
                    <input type="email" placeholder="Email Address" class="input" id="email">
                </div>
                <div class="info form-input">
                    <label for="text" class="label">Tell us more about your project</label>
                    <textarea name="description" id="text" cols="2" rows="3"></textarea>
                </div>
            </form>
            <p class="p">Let's get started! Please fill in the form above so we can learn more about you and your
                project or just schedule a call.</p>
            <button class="submit">Send</button>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="faq">
        <h2 class="h2">Frequently Asked Questions</h2>
        <div class="faq-accordion-menu">
            <div class="faq-accordion-button">
                <button class="accordion-toggle_2">
                    <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                </button>
                <p class="accordion-button-title">What is a dedicated software development team?</p>
            </div>
            <div class="accordion-content">
                <div class="accordion-text_2">
                    <p class="accordion-p">A dedicated software development team is a team of selected programmers who
                        will be working exclusively on your software solution. They are an outsourced team, either
                        nearshore or offshore.</p>
                </div>
            </div>
        </div>
        <div class="faq-accordion-menu">
            <div class="faq-accordion-button">
                <button class="accordion-toggle_2">
                    <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                </button>
                <p class="accordion-button-title">How is a dedicated team managed?</p>
            </div>
            <div class="accordion-content">
                <div class="accordion-text_2">
                    <p class="accordion-p">A team of dedicated software developers can be managed either by your company
                        or by the project manager from the company that you hired the team from.</p>
                </div>
            </div>
        </div>
        <div class="faq-accordion-menu">
            <div class="faq-accordion-button">
                <button class="accordion-toggle_2">
                    <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                </button>
                <p class="accordion-button-title">What are the most trusted countries where expert, dedicated
                    development
                    teams can be hired?</p>
            </div>
            <div class="accordion-content">
                <div class="accordion-text_2">
                    <p class="accordion-p">Eastern European countries are among the top destinations for hiring
                        dedicated software teams. You can see that If you look at platforms like Clutch.</p>
                    <br>
                    <p class="accordion-p">We are based in Croatia, the youngest member of the EU, in the Central
                        European time zone (Berlin, Paris). Your dedicated developers speak fluent English, are seasoned
                        IT professionals who can be hired at the same rate as a junior-mid developer in London, New York
                        or Zurich.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container offices-wrapper">
        <h2 class="h2">Offices</h2>
        <div class="primary">
            <div class="office-element">
                <div class="image">
                    <img src="{% static 'img/zagreb.jpg' %}" alt="zagreb" class="img">
                </div>
                <div class="description">
                    <h5 class="h5">Zagreb HQ</h5>
                    <a href="https://g.page/Qagency?share" class="link">
                        <p>Reljkoviceva 4, 10000<br>Zagreb, Croatia</p>
                    </a>
                </div>
            </div>
            <div class="office-element">
                <div class="image">
                    <img src="{% static 'img/london.jpg' %}" alt="london" class="img">
                </div>
                <div class="description">
                    <h5 class="h5">London HQ</h5>
                    <a href="https://g.page/Qagency?share" class="link">
                        <p>Borough Yards, 13 Dirty<br>Lane, London, SE1 9PA</p>
                    </a>
                </div>
            </div>
            <div class="office-element">
                <div class="image">
                    <img src="{% static 'img/zurich.jpg' %}" alt="zurich" class="img">
                </div>
                <div class="description">
                    <h5 class="h5">Zürich HQ</h5>
                    <a href="https://g.page/Qagency?share" class="link">
                        <p>Brandstrasse 33, 8952<br>Schlieren/Zurich,<br>Switzerland</p>
                    </a>
                </div>
            </div>
            <div class="office-element">
                <div class="image">
                    <img src="{% static 'img/belgrade.jpg' %}" alt="belgrade" class="img">
                </div>
                <div class="description">
                    <h5 class="h5">Belgrade HQ</h5>
                    <a href="https://g.page/Qagency?share" class="link">
                        <p>Vitezova Karadordeve<br>zvezde 50, 11000<br>Belgrade, Serbia</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
{% endblock %}
</body>