{% extends 'utility/base.html' %}
{% load tags %}
{% load static %}
{% block content %}
    <div class="post-info">
        <p class="p date">{{ post.created_at|date:'F d, Y' }}{% if post.time_to_read %} - {{ post.time_to_read }}{% endif %}</p>
        <h1 class="h1 heading">{{ post.heading }}</h1>
        <div class="author">
            <img src="{{ post.author.avatar.url }}" alt="" class="img-author">
            <p class="p name">{{ post.author.name }}</p>
            <p class="p post">{{ post.author.occupation }}</p>
        </div>
        <div class="share">
            <p class="p">Share:</p>
        </div>
    </div>
    <div class="cover-image">
        <img src="{{ post.picture.url }}" alt="" class="cover">
    </div>
    <div class="primary-container">
        <div class="primary">
            {{ post.content|safe }}
        </div>
    </div>
    <div class="content_container">
        <div class="share-bottom-wrapper">
            <div class="share-primary">
                <p class="p">Give Kudos by sharing the post!</p>
                <div class="share">
                    <p class="p">Share:</p>
                </div>
            </div>
        </div>
        <div class="author-bottom">
            <h6 class="h6">ABOUT AUTHOR</h6>
            <div class="author-info">
                <div class="author">
                    <div class="container">
                        <div class="img">
                            <img src="{{ post.author.avatar.url }}" alt="" class="img-author">
                        </div>
                        <div class="name-post">
                            <p class="name">{{ post.author.name }}</p>
                            <p class="post">{{ post.author.occupation }}</p>
                        </div>
                    </div>
                </div>
                <div class="description">
                    <p class="p">{{ post.author.about }}</p>
                </div>
            </div>
        </div>
        <div class="category">
            <h6 class="h6">CATEGORY</h6>
            <div class="tags-list">
                <p class="p-tag">{{ post.category }}</p>
            </div>
        </div>
    {% if tags %}
        <div class="tags">
            <h6 class="h6">TAGS</h6>
            <div class="tags-list">
                {% for tag in tags %}
                    <p class="p-tag">{{ tag.name }}</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
        <div class="suggestions">
            {% for post in related_posts %}
                <a href="{% url 'post' post.id %}" class="post-link">
                    <div class="blog-element">
                        <div class="image">
                            <img src="{{ post.picture.url }}" alt="" class="img">
                        </div>
                        <div class="post-details">
                            <div class="author-image">
                                <img src="{{ post.author.avatar.url }}" alt="" class="img">
                            </div>
                            <div class="details">
                                <p class="p author">{{ post.author.name }}</p>
                                <p class="p date">{{ post.created_at|date:'F d, Y' }} - {{ post.time_to_read }}</p>
                            </div>
                        </div>
                        <h4 class="h4">{{ post.heading }}</h4>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}