{% extends 'utility/base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <div class="primary">
            <h2>Privacy Policy</h2>
            <div class="element first-element">
                <div class="heading">
                    <p class="number">01</p>
                    <h4>Information We Collect.</h4>
                </div>
                <div class="description">

                    <p>When you visit our website or use our services, we may collect certain information about you,
                        including:</p>

                    <ul>
                        <li>Personal information such as your name, address, and payment information.</li>
                        <li>Information about your device, such as your IP address, browser type, and operating
                            system.
                        </li>
                        <li>Information about how you use our website and services, including pages you visit, features
                            you use, and the time and date of your visits.
                        </li>
                    </ul>

                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">02</p>
                    <h4>How We Use Your Information.</h4>
                </div>
                <div class="description">

                    <p>We may use the information we collect for the following purposes:</p>

                    <ul>
                        <li>To provide and improve our products and services.</li>
                        <li>To personalize your experience on our website.</li>
                        <li>To analyze trends and usage of our website and services.</li>
                        <li>To comply with legal or regulatory requirements.</li>
                    </ul>

                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">03</p>
                    <h4>How We Protect Your Information.</h4>
                </div>
                <div class="description">
                    <p>We take reasonable measures to protect your personal information from unauthorized access,
                        disclosure, alteration, and destruction. We use industry-standard security measures such as
                        firewalls, encryption, and secure socket layer (SSL) technology to protect your data.</p>
                    <p>However, no method of transmission over the internet or method of electronic storage is
                        completely secure, and we cannot guarantee absolute security of your data.</p>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">04</p>
                    <h4>Sharing Your Information.</h4>
                </div>
                <div class="description">
                    <p>We may share your personal information with our partners or third-party service providers to help
                        us provide and improve our services. We require these partners and providers to comply with our
                        Privacy Policy and to protect your personal information.</p>

                    <p>We may also disclose your personal information if required by law or to protect our rights or
                        property.</p>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">05</p>
                    <h4>Updates to Our Privacy Policy.</h4>
                </div>
                <div class="description">
                    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting
                        the updated policy on our website and updating the "Last Updated" date at the top of this
                        page.</p>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">06</p>
                    <h4>Contact Us.</h4>
                </div>
                <div class="description">
                    <p>If you have any questions or concerns about our Privacy Policy, please contact us through our
                        website's contact form.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}