{% extends 'utility/base.html' %}
{% load static %}
{% block content %}
    <div class="landing_container">
        <div class="landing_message">
            <div class="landing_message__wrapper">
                <h1 class="landing-h1">Translate Ideas Into Digital Innovation</h1>
                <p class="landing-p">Outstanding companies know constant innovation is the new normal.</p>
                <a href="{% url 'contact' %}" class="landing-button_link">Let's innovate together</a>
            </div>
        </div>
        <div class="top-right_image"></div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container text-image-lr">
        <div class="text">
            <h3 class="h3">Idea Maturity Assessment</h3>
            <p class="p">Prior to the collaboration, we assess what further steps you need to take to:</p>
            <ul>
                <li class="li">Accelerate innovation</li>
                <li class="li">Increase market adoption</li>
                <li class="li">Push technical boundaries</li>
            </ul>
        </div>
        <div class="image">
            <img src="{% static 'img/text-image-1.jpg' %}" alt="IMA">
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container description-vertical">
        <h2 class="h2">Solutions for Every Stage of Your Product Life Cycle</h2>
        <p class="p">Whether you want to build an end-to-end solution, tweak a project direction or scale up your team,
            Q is ready to push design, innovation and technical boundaries to stir your business growth.</p>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container description-horizontal-lr">
        <h2 class="h2">Idea Exploration</h2>
        <p class="p">Gathering evidence around ideas through research and experimentation to make fast, informed,
            and de-risked decisions. It’s a process that starts with an idea and ends with a tech exploration.</p>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container text-image-rl product-strategy accordion-rl">
        <div class="image">
            <img src="{% static 'img/image-text-1.jpg' %}" alt="" class="img">
        </div>
        <div class="text">
            <h3 class="h3">Product Strategy</h3>
            <p class="p">Creative yet structured process where we identify and prioritise high-potential opportunities
                regarding your idea based on the customer's problems and market needs.</p>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Framing the Problem</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">User research</p>
                        <p class="accordion-p">Business context research</p>
                        <p class="accordion-p">Opportunity areas mapping</p>
                        <p class="accordion-p">Value proposition definition</p>
                        <p class="accordion-p">Data and analytic insights</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Ideation and Validation</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">AI & ML proof of concept</p>
                        <p class="accordion-p">Solution(s) iteration</p>
                        <p class="accordion-p">Fast validation</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Strategic Product Definition</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Business model definition</p>
                        <p class="accordion-p">Product direction (communication & visual)</p>
                        <p class="accordion-p">Product planning</p>
                        <p class="accordion-p">Pitch doc for sponsors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content_container text-image-lr product-discovery accordion-lr">
        <div class="text">
            <h3 class="h3">Product Discovery</h3>
            <p class="p">Together in an interactive and transparent way, we create a seamless user journeys and prepare
                the product for software development using various visualisation and product definition forms.</p>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Product Ideation</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Solution exploration</p>
                        <p class="accordion-p">Challenge value proposition</p>
                        <p class="accordion-p">Product objectives</p>
                        <p class="accordion-p">Prioritisation</p>
                        <p class="accordion-p">Tech possibilities exploration</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Digital Product Definition</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">User flow</p>
                        <p class="accordion-p">Solution visualisation</p>
                        <p class="accordion-p">Wireframe development</p>
                        <p class="accordion-p">Tech stack definition</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Estimates and Roadmap</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Product backlog</p>
                        <p class="accordion-p">Development estimates</p>
                        <p class="accordion-p">Development roadmap</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="{% static 'img/text-image-2.jpg' %}" alt="" class="img">
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container description-horizontal-lr product_building">
        <h2 class="h2">Product Building</h2>
        <p class="p">Having learned all the priority functionalities of your product, we begin translating them into a
            software solution. We follow the Scrum process, and we build products in 2-week sprints.</p>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container product_design accordion-rl">
        <div class="image">
            <img src="{% static 'img/text-image-3.jpg' %}" alt="" class="img">
        </div>
        <div class="text">
            <h3 class="h3">Product Design</h3>
            <p class="p">Designing a fantastic product experience is about a human-first approach that delights desired
                customers in a simple way.</p>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">User Experience Design</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">User flow</p>
                        <p class="accordion-p">Wireframes Information architecture</p>
                        <p class="accordion-p">Prototyping</p>
                        <p class="accordion-p">User personas</p>
                        <p class="accordion-p">User stories</p>
                        <p class="accordion-p">Usability testing</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">User Interface Design</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Interaction design</p>
                        <p class="accordion-p">Motion design</p>
                        <p class="accordion-p">Prototyping</p>
                        <p class="accordion-p">Design systems</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content_container product_development text-image-lr accordion-lr">
        <div class="text">
            <h3 class="h3">Product Development</h3>
            <p class="p">Translating seamless user experiences into a software solution in an agile and scalable way
                covering a vast array of technologies.</p>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Web Development</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Applications</p>
                        <p class="accordion-p">Websites</p>
                        <p class="accordion-p">eCommerce</p>
                        <p class="accordion-p">Platforms</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Mobile Development</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Android</p>
                        <p class="accordion-p">iOS</p>
                        <p class="accordion-p">Cross platform</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Machine Learning</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Virtual reality apps</p>
                        <p class="accordion-p">Augmented reality apps</p>
                        <p class="accordion-p">Mixed reality apps</p>
                        <p class="accordion-p">MLOps</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Complex Infrastructure</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Internet of things</p>
                        <p class="accordion-p">DevOps</p>
                        <p class="accordion-p">Custom software</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="{% static 'img/text-image-4.jpg' %}" alt="" class="img">
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container description-horizontal-lr">
        <h2 class="h2">Product Scaling</h2>
        <p class="p">Once a product is launched, it needs nourishment to thrive. Q can help you extend or build your
            product development team, so you can remain at the forefront of business advancement and innovation.</p>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container accordion-rl strategic-support">
        <div class="image">
            <img src="{% static 'img/text-image-5.jpg' %}" alt="" class="img">
        </div>
        <div class="text">
            <h3 class="h3">Strategic support</h3>
            <p class="p">To keep up with users' behaviour, we strongly advise you to analyse it while challenging
                product features and areas of monetisation.</p>
            <p class="desc-p">Business analytics</p>
            <p class="desc-p">Data aggregation & analytics</p>
            <p class="desc-p">User acquisition</p>
            <p class="desc-p">UX/UI improvements</p>
            <p class="desc-p">New areas of monetization</p>
            <p class="desc-p">New pricing strategies</p>
            <p class="desc-p">Investor pitch 2.0</p>
            <p class="desc-p">Business support</p>
            <p class="desc-p">Design support</p>
            <div class="button">
                <a href="{% url 'contact' %}" class="btn">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="content_container accordion-lr team-scaling">
        <div class="text">
            <h3 class="h3">Team Scaling</h3>
            <p class="p">A digital product is just like a machine, it requires constant maintenance and care to ensure
                optimal running capacity. We can support your expansion as well as build new exciting features.</p>
            <p class="desc-p">Agile Product teams</p>
            <p class="desc-p">Team augmentation</p>
            <p class="desc-p">Product ownership</p>
            <p class="desc-p">Data & Analytic support</p>
            <p class="desc-p">DevOps</p>
            <div class="button">
                <a href="{% url 'contact' %}" class="btn">Contact Us</a>
            </div>
        </div>
        <div class="image">
            <img src="{% static 'img/text-image-6.jpg' %}" alt="" class="img">
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container description-vertical innovation-experts">
        <h2 class="h2">Q Innovation Experts</h2>
        <p class="p">Our innovation team leaders deeply value client relationships and engage in long-term partnerships
            to accelerate innovation and client business growth.</p>
        <p class="p">They are masters in managing all processes from ideation to product scaling while encouraging their
            team members to apply Q values (move fast, do more, be kind) to every engagement.</p>
    </div>
    <section class="divider-desktop"></section>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/ema.jpg' %}" alt="harry" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Ema Gerovac</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="post-media-wrapper">
                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                        <p class="post">Product Strategist & User Research Team Lead</p>
                    </div>
                    <div class="pagination"></div>
                    <div class="description">
                        <p class="description-p">Ema is a product strategist working with companies to help simplify and
                            humanize complex business systems by transforming them into new opportunity areas.</p>
                        <br>
                        <p class="description-p">Last 7 years she has been working on strategic and user research
                            projects in London based agencies for clients such as Samsung, Corona, HP, Disney+, BI and
                            many
                            others.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/rebeka.jpg' %}" alt="harry" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Rebeka Belavic</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="post-media-wrapper">
                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                        <p class="post">Head of Product Strategy</p>
                    </div>
                    <div class="pagination"></div>
                    <div class="description">
                        <p class="description-p">15+ years' experience, with 5+ at Deutsche Telekom and Infobip, the
                            first Croatian unicorn, where she was responsible for industry monetization, product
                            management,
                            and GTM Strategy of cloud services in the B2B market.</p>
                        <br>
                        <p class="description-p">Holds Masters in Engineering and MBA.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/goran.jpg' %}" alt="goran" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Goran Posilovic</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="post-media-wrapper">
                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                        <p class="post">Director of Project Delivery & Support</p>
                    </div>
                    <div class="pagination"></div>
                    <div class="description">
                        <p class="description-p">12+ years of experience in the IT industry as a certified Agile
                            Practitioner, PMP, and Tech and PM Lead; won PMI Project of the Year award!</p>
                        <br>
                        <p class="description-p">Responsible for Project Management Team and successful project
                            completion on schedule and within budget.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/josip.jpg' %}" alt="josip" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Josip Barisic</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="post-media-wrapper">
                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                        <p class="post">Director of Server Technologies</p>
                    </div>
                    <div class="pagination"></div>
                    <div class="description">
                        <p class="description-p">Passionate Agilist with 15+ years of working in the ICT department as
                            a developer and manager, creating secure and quality softwares.</p>
                        <br>
                        <p class="description-p">He makes sure the production runs efficiently and effectively on both
                            organizational and technical levels.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="text-button-c">
        <h3 class="h3">Let's spark innovation together!</h3>
        <a href="{% url 'contact' %}" class="btn">Get in touch</a>
    </div>
    <section class="divider-desktop"></section>
    <h2 class="h2 content_container example-heading">Check Out How We Do It</h2>
    <div class="example-element" style="background-color: {{ latest_work.color }}">
        <a href="{% url 'works_details' latest_work.id %}" class="cover-link">
            <div class="element">
                <div class="text-logo">
                    <img src="{{ latest_work.logo_light.url }}" alt="" class="logo">
                    <h3 class="h3">{{ latest_work.heading }}</h3>
                    <p class="p">{{ latest_work.brief }}</p>
                    <div class="button">
                        <div class="button-wrapper">
                            <p class="p">View case study</p>
                            <img src="{% static 'img/arrow.svg' %}" alt="" class="arrow">
                        </div>
                    </div>
                </div>
                <div class="image">
                    <img src="{{ latest_work.preview_picture.url }}" alt="" class="img">
                </div>
            </div>
        </a>
    </div>
    <section class="divider-desktop"></section>
{% endblock %}