{% extends 'utility/base.html' %}
{% load static %}
{% block content %}
    <div class="landing_container">
        <div class="landing_message">
            <div class="landing_message__wrapper">
                <h1 class="landing-h1">Transform concepts into digital advancements</h1>
                <p class="landing-p">Exceptional businesses understand that ongoing innovation is the prevailing
                    standard.</p>
                <a href="{% url 'contact' %}" class="landing-button_link">Let's create something new together</a>
            </div>
        </div>
        <div class="top-right_image"></div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container text-image-lr idea-maturity">
        <div class="text">
            <h3 class="h3">Assessment of Idea Readiness</h3>
            <p class="p">Before we commence collaboration, we evaluate the additional measures that must be taken
                to:</p>
            <ul>
                <li class="li">Foster innovation</li>
                <li class="li">Enhance market acceptance</li>
                <li class="li">Extend technical capabilities</li>
            </ul>
        </div>
        <div class="image">
            <img src="{% static 'img/staff/047A1967_cropped.jpg' %}" alt="IMA">
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container description-vertical">
        <h2 class="h2">Remedies for Every Phase of Your Product's Life Cycle</h2>
        <p class="p">If you aspire to create a comprehensive solution, adjust your project trajectory, or expand your
            team size, we are fully equipped to push the limits of design, innovation and technology to accelerate your
            business growth.</p>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container description-horizontal-lr">
        <h2 class="h2">Exploring Ideas</h2>
        <p class="p">Collecting data and conducting experiments to gather evidence around ideas, enabling quick,
            informed and low-risk decision-making. It's a process that commences with an idea and culminates in a
            technological investigation.</p>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container text-image-rl product-strategy accordion-rl">
        <div class="image">
            <img src="{% static 'img/staff/047A1938_cropped.jpg' %}" alt="" class="img">
        </div>
        <div class="text">
            <h3 class="h3">Product Planning</h3>
            <p class="p">A methodical yet imaginative process in which we recognize and rank high-potential
                opportunities for your concept based on the customer's challenges and market requirements.</p>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Defining the Problem</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Exploring user needs</p>
                        <p class="accordion-p">Investigating business context</p>
                        <p class="accordion-p">Mapping opportunity areas</p>
                        <p class="accordion-p">Formulating value proposition</p>
                        <p class="accordion-p">Leveraging data and analytics insights</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Brainstorming and Verification</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Iterating solution(s)</p>
                        <p class="accordion-p">Rapid validation</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Strategic Definition of Product</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Defining business model</p>
                        <p class="accordion-p">Determining product direction (communication & visual)</p>
                        <p class="accordion-p">Planning product development</p>
                        <p class="accordion-p">Preparing pitch document for sponsors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content_container text-image-lr product-discovery accordion-lr">
        <div class="text">
            <h3 class="h3">Product Exploration</h3>
            <p class="p">Collaboratively and transparently, we create user journeys that flow seamlessly and prepare the
                product for software development using various visualization and product definition methods.</p>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Product Brainstorming</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Exploration of possible solutions</p>
                        <p class="accordion-p">Value proposition</p>
                        <p class="accordion-p">Establishing product objectives</p>
                        <p class="accordion-p">Prioritizing features</p>
                        <p class="accordion-p">Exploring technical possibilities</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Definition of Digital Products</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">User journey mapping</p>
                        <p class="accordion-p">Visual representation of the solution</p>
                        <p class="accordion-p">Wireframe design and development</p>
                        <p class="accordion-p">Technology stack identification</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Estimations and Roadmap Planning</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Product backlog creation</p>
                        <p class="accordion-p">Development time and cost estimation</p>
                        <p class="accordion-p">Development roadmap planning</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="{% static 'img/staff/047A1963_cropped1.jpg' %}" alt="" class="img">
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container description-horizontal-lr product_building">
        <h2 class="h2">Product Development</h2>
        <p class="p">After we have identified the key functionalities of your product, we start converting them into a
            software solution.</p>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container product_design accordion-rl">
        <div class="image">
            <img src="{% static 'img/staff/047A2036_cropped.jpg' %}" alt="" class="img">
        </div>
        <div class="text">
            <h3 class="h3">Product Designing</h3>
            <p class="p">Designing a great product experience involves a customer-centric approach that impresses the
                target audience in an easy and efficient way.</p>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">User Experience Design</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">User journey mapping</p>
                        <p class="accordion-p">Wireframes and information architecture design</p>
                        <p class="accordion-p">Interactive prototyping</p>
                        <p class="accordion-p">User personas and scenarios</p>
                        <p class="accordion-p">User stories and task flows</p>
                        <p class="accordion-p">Usability testing and analysis</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">User Interface Design</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Visual design and interaction design</p>
                        <p class="accordion-p">Animation and motion design</p>
                        <p class="accordion-p">Prototyping and design validation</p>
                        <p class="accordion-p">Design systems and style guides</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content_container product_development text-image-lr accordion-lr">
        <div class="text">
            <h3 class="h3">Software Development Solutions</h3>
            <p class="p">We transform user needs into efficient and scalable software solutions using cutting-edge
                technologies.</p>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Web Development</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Build Applications</p>
                        <p class="accordion-p">Create Websites</p>
                        <p class="accordion-p">Design eCommerce solutions</p>
                        <p class="accordion-p">Develop Platforms</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Mobile Development</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Android</p>
                        <p class="accordion-p">iOS</p>
                        <p class="accordion-p">Cross-platform solutions</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Machine Learning</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Virtual reality apps</p>
                        <p class="accordion-p">Augmented reality apps</p>
                        <p class="accordion-p">Mixed reality apps</p>
                        <p class="accordion-p">MLOps</p>
                    </div>
                </div>
            </div>
            <div class="accordion-menu">
                <div class="accordion-button">
                    <div>
                        <button class="accordion-toggle">
                            <img src="{% static 'img/btn-img.svg' %}" alt="btn-img" class="btn-img">
                        </button>
                    </div>
                    <p class="accordion-button-title">Complex Infrastructure</p>
                </div>
                <div class="accordion-content">
                    <div class="accordion-text">
                        <p class="accordion-p">Internet of things</p>
                        <p class="accordion-p">DevOps</p>
                        <p class="accordion-p">Custom software</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="{% static 'img/staff/047A1984_cropped.jpg' %}" alt="" class="img">
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container description-horizontal-lr">
        <h2 class="h2">Product Expansion</h2>
        <p class="p">After launching a product, it requires ongoing support to succeed. We can assist you in expanding
            or creating your product development team, allowing you to stay ahead of the curve in terms of business
            progress and innovation.</p>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container accordion-rl strategic-support">
        <div class="image">
            <img src="{% static 'img/staff/047A1801.JPG' %}" alt="" class="img">
        </div>
        <div class="text">
            <h3 class="h3">Supporting your strategy</h3>
            <p class="p">To keep up with the changing user behaviour, it is crucial to analyze and challenge product
                features and areas of revenue generation. We can assist you in this regard by offering a range of
                services:</p>
            <p class="desc-p">Business intelligence and analytics</p>
            <p class="desc-p">Data collection and analysis</p>
            <p class="desc-p">User acquisition strategies</p>
            <p class="desc-p">Improving UX/UI</p>
            <p class="desc-p">Exploring new areas of revenue generation</p>
            <p class="desc-p">Developing new pricing strategies</p>
            <p class="desc-p">Enhancing investor pitch</p>
            <p class="desc-p">Business support services</p>
            <p class="desc-p">Design support services</p>
            <div class="button">
                <a href="{% url 'contact' %}" class="btn">Contact Us</a>
            </div>
        </div>
    </div>
    {#    <div class="content_container accordion-lr team-scaling">#}
    {#        <div class="text">#}
    {#            <h3 class="h3">Product Team Expansion</h3>#}
    {#            <p class="p">Similar to a well-oiled machine, a digital product requires constant care and attention to#}
    {#                ensure it runs optimally. We can assist with your product expansion, as well as develop and integrate#}
    {#                exciting new features.</p>#}
    {#            <p class="desc-p">Team augmentation</p>#}
    {#            <p class="desc-p">Product ownership</p>#}
    {#            <p class="desc-p">Data and analytics support</p>#}
    {#            <p class="desc-p">DevOps</p>#}
    {#            <div class="button">#}
    {#                <a href="{% url 'contact' %}" class="btn">Contact Us</a>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="image">#}
    {#            <img src="{% static 'img/text-image-6.jpg' %}" alt="" class="img">#}
    {#        </div>#}
    {#    </div>#}
    <section class="divider-desktop"></section>
    <div class="content_container description-vertical innovation-experts">
        <h2 class="h2">Innovation Specialists</h2>
        <p class="p">Our team leaders are experts in innovation, and they highly cherish the relationships they build
            with clients, fostering long-term partnerships that promote innovation and growth in their clients'
            businesses.</p>
        <p class="p">They excel in managing all phases of the product lifecycle, from ideation to scaling, while
            motivating their team members to incorporate values (act quickly, achieve more, be empathetic) in all their
            endeavors.</p>
    </div>
    <section class="divider-desktop"></section>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/staff/047A1888.JPG' %}" alt="goran" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Alisher Kozimkhonov</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                    </div>
                    <div class="post-media-wrapper">
{#                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">#}
                        <p class="post">Project Manager</p>
                    </div>

                    <div class="description">
                        <p class="description-p">Alisher is the Project Manager at Koodrick and possesses vast
                            experience in managing and delivering successful projects for clients. His expertise in
                            project management is the reason why we can offer you high-quality project management
                            that align with your business needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/staff/047A1837.JPG' %}" alt="kamilla" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Kamilla Khatamova</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                    </div>
                    <div class="post-media-wrapper">
{#                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">#}
                        <p class="post">HR Manager</p>
                    </div>

                    <div class="description">
                        <p class="description-p">Kamilla is the HR manager at Koodrick and plays a vital role in
                            ensuring that we have the right talent in our software development team. Her expertise in
                            recruiting, onboarding, and managing human resources is the reason why we can offer you a
                            dedicated software development team.</p>
                        <br>
                        <p class="description-p">With her commitment and persistent effort, Kamilla ensures that
                            our team members are well-supported and motivated to deliver high-quality work.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="members-container">
        <div class="members-wrapper">
            <div class="members-primary">
                <div class="members-image">
                    <img src="{% static 'img/staff/IMG_1904.JPG' %}" alt="harry" class="member-img">
                </div>
                <div class="members-description">
                    <div class="name-buttons-wrapper">
                        <div class="members-name">
                            <p class="name">Zinaida Zotova</p>
                        </div>
                        <div class="buttons">
                            <div class="button-prev button">
                                <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                            </div>
                            <div class="button-next button">
                                <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                        <span class="pagination-element"></span>
                    </div>
                    <div class="post-media-wrapper">
{#                        <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">#}
                        <p class="post">Brand Manager</p>
                    </div>

                    <div class="description">
                        <p class="description-p">Zinaida is the Brand Manager at Koodrick and brings a wealth of
                            experience
                            in building successful brand strategies for clients. Her expertise in branding and marketing
                            is the reason why we can offer you a comprehensive brand strategy that aligns with your
                            business goals.</p>
                        <br>
                        <p class="description-p">Zina's dedication and hard work guarantee that our clients' brands not
                            only stand out in the market but also achieve their intended objectives.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="divider-desktop"></section>
    <div class="text-button-c">
        <h3 class="h3">Let's spark innovation together!</h3>
        <a href="{% url 'contact' %}" class="btn">Get in touch</a>
    </div>
    {% if latest_work %}
        <section class="divider-desktop"></section>
        <h2 class="h2 content_container example-heading">Check Out How We Do It</h2>
        <div class="example-element" style="background-color: {{ latest_work.color }}">
            <a href="{% url 'works_details' latest_work.id %}" class="cover-link">
                <div class="element">
                    <div class="text-logo">
                        <img src="{{ latest_work.logo_light.url }}" alt="" class="logo">
                        <h3 class="h3">{{ latest_work.heading }}</h3>
                        <p class="p">{{ latest_work.brief }}</p>
                        <div class="button">
                            <div class="button-wrapper">
                                <p class="p">View case study</p>
                                <img src="{% static 'img/arrow.svg' %}" alt="" class="arrow">
                            </div>
                        </div>
                    </div>
                    <div class="image">
                        <img src="{{ latest_work.preview_picture.url }}" alt="" class="img">
                    </div>
                </div>
            </a>
        </div>
    {% endif %}
    <section class="divider-desktop"></section>
{% endblock %}