{% extends 'utility/base.html' %}
{% load static %}
{% block content %}
    <div class="landing_container">
        <div class="landing_message">
            <div class="landing_message__wrapper">
                <h1 class="landing-h1">Bringing Your Vision to Life</h1>
                <p class="landing-p">From concept to launch and beyond.</p>
                <a href="{% url 'works' %}" class="landing-button_link">See Our work</a>
            </div>
        </div>
        <div class="top-right_image"></div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container text-image-lr">
        <div class="text">
            <h3 class="h3">Our Approach</h3>
            <p class="p">In today's highly competitive market, it takes more than just good product form and
                functionality to succeed. That's why we focus on creating smart, user-centric products that connect with
                people on a deeper level. Our approach is rooted in user insights and driven by simplicity and
                human-centered design.</p>
        </div>
        <div class="image">
            <img src="{% static 'img/staff/047A1915_cropped.jpg' %}" alt="" class="img">
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container list-wrapper roadmap">
        <div class="list-primary_wrapper">
            <div class="element first-element">
                <div class="heading">
                    <p class="number">01</p>
                    <h4 class="h4">Discovery</h4>
                </div>
                <div class="description">
                    <ul class="list half">
                        <li class="list-element">Product vision</li>
                        <li class="list-element">User research</li>
                        <li class="list-element">Customer journey mapping</li>
                        <li class="list-element">Analytics maturity gap analysis</li>
                        <li class="list-element">Market analysis</li>
                        <li class="list-element">Competitive analysis</li>
                    </ul>
                    <ul class="list half">
                        <li class="list-element">Business objectives alignment</li>
                        <li class="list-element">Defining product vision and strategy</li>
                        <li class="list-element">Building the product roadmap</li>
                        <li class="list-element">Product market fit validation</li>
                        <li class="list-element">AI/ML opportunity discovery</li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">02</p>
                    <h4 class="h4">Design</h4>
                </div>
                <div class="description">
                    <ul class="list half">
                        <li class="list-element">UX/UI Design</li>
                        <li class="list-element">User flow mapping</li>
                        <li class="list-element">Wireframes and Mockups</li>
                    </ul>
                    <ul class="list half">
                        <li class="list-element">Design system development</li>
                        <li class="list-element">Prototyping</li>
                        <li class="list-element">Usability testing</li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">03</p>
                    <h4 class="h4">Development</h4>
                </div>
                <div class="description">
                    <ul class="list half">
                        <li class="list-element">Technical product exploration</li>
                        <li class="list-element">Mobile app development</li>
                        <li class="list-element">Web application development</li>
                        <li class="list-element">Web platform creation</li>
                        <li class="list-element">eCommerce website development</li>
                    </ul>
                    <ul class="list half">
                        <li class="list-element">Internet of Things development</li>
                        <li class="list-element">Infrastructure creation</li>
                        <li class="list-element">Machine learning development</li>
                        <li class="list-element">Data science development</li>
                        <li class="list-element">QA Automation testing</li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">04</p>
                    <h4 class="h4">Product/Team Scaling</h4>
                </div>
                <div class="description">
                    <ul class="list half">
                        <li class="list-element">Team augmentation / dedicated team formation</li>
                        <li class="list-element">Agile product team creation</li>
                        <li class="list-element">Product ownership support</li>
                        <li class="list-element">DevOps implementation</li>
                    </ul>
                    <ul class="list half">
                        <li class="list-element">MLOps integration</li>
                        <li class="list-element">Cloud migration support</li>
                        <li class="list-element">Systems integration assistance</li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">05</p>
                    <h4 class="h4">Assistance with Strategy</h4>
                </div>
                <div class="description">
                    <ul class="list half">
                        <li class="list-element">Evaluation of Business and Products</li>
                        <li class="list-element">Gathering and Analyzing Data</li>
                    </ul>
                    <ul class="list half">
                        <li class="list-element">Improving User Conversion</li>
                        <li class="list-element">Refining Investor Presentation 2.0</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="plug-img">
        <img src="{% static 'img/staff/047A1993_cropped.jpg' %}" alt="" class="plug-image">
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container list-wrapper client-approach">
        <div class="heading">
            <h2 class="h2">Client Approach</h2>
        </div>
        <div class="list-primary_wrapper">
            <div class="element first-element">
                <div class="heading">
                    <p class="number">01</p>
                    <h4 class="h4">Transparency & Partnership</h4>
                </div>
                <div class="description">
                    <p class="p">We believe in honest communication and partnership with our clients, and we expect the
                        same level of transparency from them. Our goal is to provide warnings about potential risks and
                        challenges, and we hope to receive the same kind of updates from our clients.</p>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">02</p>
                    <h4 class="h4">Digging Deeper</h4>
                </div>
                <div class="description">
                    <p class="p">Our team's creativity and collaboration foster innovative solutions for our clients.
                        With vast experience in multiple industries and markets, and always keeping the user in mind, we
                        take responsibility for the solutions we deliver to the market.</p>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">03</p>
                    <h4 class="h4">Tailored Approach</h4>
                </div>
                <div class="description">
                    <p class="p">We understand that each project is unique and requires a tailored approach that
                        addresses specific customer and market problems and needs.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container collaborate-button">
        <h3 class="h3">Need to start a project or just want to get in touch?</h3>
        <a href="{% url 'contact' %}" class="button">Let's connect</a>
    </div>
    <section class="divider-desktop"></section>
{% endblock %}