{% extends 'utility/base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="landing_container">
        <div class="landing_message">
            <div class="landing_message__wrapper">
                <h1 class="landing-h1">Closing the Gap Between Your Idea and Product</h1>
                <p class="landing-p">From idea to product launch and beyond.</p>
                <a href="{% url 'works' %}" class="landing-button_link">Our work</a>
            </div>
        </div>
        <div class="top-right_image"></div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container text-image-lr">
        <div class="text">
            <h3 class="h3">What We Do</h3>
            <p class="p">Product form and functionality alone are not enough to compete in an extremely competitive
                market. To stand out, we design smart, simple, and human-centric products based on user insight that
                connect with people on a deeper level.</p>
        </div>
        <div class="image">
            <img src="{% static 'img/services-image-1.jpg' %}" alt="" class="img">
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container list-wrapper roadmap">
        <div class="list-primary_wrapper">
            <div class="element first-element">
                <div class="heading">
                    <p class="number">01</p>
                    <h4 class="h4">Strategy</h4>
                </div>
                <div class="description">
                    <ul class="list half">
                        <li class="list-element">Product vision</li>
                        <li class="list-element">User research</li>
                        <li class="list-element">Customer journey mapping</li>
                        <li class="list-element">AI & ML proof of concept</li>
                        <li class="list-element">Brand strategy</li>
                        <li class="list-element">Market Scan</li>
                    </ul>
                    <ul class="list half">
                        <li class="list-element">Strategy product discovery</li>
                        <li class="list-element">Defining AI vision & strategy</li>
                        <li class="list-element">Analytics maturity gap analysis</li>
                        <li class="list-element">AI value opportunity discovery</li>
                        <li class="list-element">Building the client AI roadmap</li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">02</p>
                    <h4 class="h4">Design</h4>
                </div>
                <div class="description">
                    <ul class="list half">
                        <li class="list-element">UX/UI Design</li>
                        <li class="list-element">User flow</li>
                        <li class="list-element">Wireframes</li>
                    </ul>
                    <ul class="list half">
                        <li class="list-element">Prototyping</li>
                        <li class="list-element">Brand identity</li>
                        <li class="list-element">Usability testing</li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">03</p>
                    <h4 class="h4">Development</h4>
                </div>
                <div class="description">
                    <ul class="list half">
                        <li class="list-element">Technical product discovery</li>
                        <li class="list-element">Mobile apps</li>
                        <li class="list-element">Web apps</li>
                        <li class="list-element">Web platforms</li>
                        <li class="list-element">eCommerce</li>
                    </ul>
                    <ul class="list half">
                        <li class="list-element">IoT</li>
                        <li class="list-element">Infrastructure</li>
                        <li class="list-element">Machine learning</li>
                        <li class="list-element">Data science</li>
                        <li class="list-element">QA Automation</li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">04</p>
                    <h4 class="h4">Product/Team Scaling</h4>
                </div>
                <div class="description">
                    <ul class="list half">
                        <li class="list-element">Team augmentation / dedicated team</li>
                        <li class="list-element">Agile product teams</li>
                        <li class="list-element">Product ownership</li>
                        <li class="list-element">DevOps</li>
                    </ul>
                    <ul class="list half">
                        <li class="list-element">MLOps</li>
                        <li class="list-element">Cloud migration</li>
                        <li class="list-element">Systems integration</li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">05</p>
                    <h4 class="h4">Strategic Support</h4>
                </div>
                <div class="description">
                    <ul class="list half">
                        <li class="list-element">Business & product analysis</li>
                        <li class="list-element">Data aggregation & analysis</li>
                    </ul>
                    <ul class="list half">
                        <li class="list-element">User Conversion</li>
                        <li class="list-element">Investor pitch 2.0</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="plug-img">
        <img src="{% static 'img/services-image-2.jpg' %}" alt="" class="plug-image">
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container list-wrapper client-approach">
        <div class="heading">
            <h2 class="h2">Q Client Approach</h2>
        </div>
        <div class="list-primary_wrapper">
            <div class="element first-element">
                <div class="heading">
                    <p class="number">01</p>
                    <h4 class="h4">Transparency & Partnership</h4>
                </div>
                <div class="description">
                    <p class="p">Our communication and intentions are honest, and we expect the same from your side.
                        We are here to warn you about possible risks and challenges, and we expect the same from your
                        side regarding any changes that might occur on the journey.</p>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">02</p>
                    <h4 class="h4">Digging Deeper</h4>
                </div>
                <div class="description">
                    <p class="p">Our unique culture of creativity and collaboration drives innovative and better results
                        for our clients. Having extensive experience across multiple industries, markets and always
                        putting users first, we hold ourselves accountable for the solutions we put on the market.</p>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">03</p>
                    <h4 class="h4">Tailored Approach</h4>
                </div>
                <div class="description">
                    <p class="p">Every project is unique and requires a tailored-made approach that acknowledges
                        customer and market problems and needs.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container collaborate-button">
        <h3 class="h3">Do you have a project, or want to say hello?</h3>
        <a href="{% url 'contact' %}" class="button">Let's collaborate</a>
    </div>
    <section class="divider-desktop"></section>
{% endblock %}
</body>