{% extends 'utility/base.html' %}
{% load static %}
{% block content %}
    <div class="content_container example-heading">
        <img src="{{ work.logo_dark.url }}" alt="" class="logo">
        <h1 class="h1">{{ work.heading }}</h1>
        <p class="p-tags">{{ work.description }}</p>
    </div>
    <div class="image-wrapper">
        <img src="{{ work.picture1.url }}" alt="" class="img-times">
    </div>
    <div class="content_container details-wrapper">
        <h2 class="h2">What We Did</h2>
        {{ work.what_we_did|safe }}
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container text-variations">
        <div class="columns">
            <div class="paragraph">
                <h3 class="h3">Brief</h3>
                <p class="p">{{ work.brief }}</p>
            </div>
            <div class="paragraph">
                <h3 class="h3">Approach</h3>
                <p class="p">{{ work.approach }}</p>
            </div>
        </div>
        <div class="column-border">
            {% if work.impact %}
                <div class="paragraph">
                    <h6 class="h6">IMPACT</h6>
                    <p class="p">{{ work.impact }}</p>
                </div>
            {% endif %}
            {% if work.metric %}
                <div class="paragraph">
                    <h6 class="h6">NORTH STAR METRIC</h6>
                    <p class="p">{{ work.metric }}</p>
                </div>
            {% endif %}
            {% if work.interesting_features %}
                <div class="paragraph">
                    <h6 class="h6">INTERESTING FEATURES</h6>
                    <p class="p">{{ work.interesting_features }}</p>
                </div>
            {% endif %}
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="image-wrapper-variation">
        <img src="{{ work.picture2.url }}" alt="" class="img-times">
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container text-variations">
        <div class="columns">
            <div class="paragraph paragraph-variation">
                <h3 class="h3">What We Built</h3>
                <p class="p">{{ work.what_we_built }}</p>
            </div>
        </div>
        <div class="column-border">
            <div class="paragraph">
                <h6 class="h6">DELIVERABLES</h6>
                {{ work.deliverables|safe }}
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="image-wrapper-variation-400">
        <img src="{{ work.picture3.url }}" alt="" class="img-times">
    </div>
    <section class="divider-desktop"></section>
    <div class="work_content">
        {{ work.content|safe }}
    </div>
    <section class="divider-desktop"></section>
    {% if next_in_line %}
        <div class="next-example">
            <div class="content_container heading">
                <h2 class="h2">Next in Line</h2>
            </div>
            <div class="example-element" style="background-color: {{ next_in_line.color }}">
                <a href="{% url 'works_details' next_in_line.id %}" class="cover-link">
                    <div class="element">
                        <div class="text-logo">
                            <img src="{{ next_in_line.logo_light.url }}" alt="" class="logo">
                            <div class="text">
                                <h3 class="h3">{{ next_in_line.heading }}</h3>
                                <p class="p">{{ next_in_line.brief }}</p>
                            </div>
                            <div class="button">
                                <div class="button-wrapper">
                                    <p class="p">View case study</p>
                                    <img src="{% static 'img/arrow.svg' %}" alt="" class="arrow">
                                </div>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ next_in_line.preview_picture.url }}" alt="" class="img">
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <section class="divider-desktop"></section>
    {% endif %}
    <div class="content_container collaborate-button">
        <h3 class="h3">Have a project, or want to say hello?</h3>
        <a href="{% url 'contact' %}" class="button">Let's collaborate</a>
    </div>
    <section class="divider-desktop"></section>
{% endblock %}