{% extends 'utility/base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="landing_container">
        <div class="landing_message">
            <div class="landing_message__wrapper">
                <h1 class="landing-h1">Practical Innovators With Passion for Digital</h1>
                <p class="landing-p">Working in various businesses across 20 countries worldwide, we exceed industry
                    boundaries each day.</p>
            </div>
        </div>
        <div class="top-right_image"></div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container text-image">
        <div class="text">
            <h3 class="h3">Life at Q</h3>
            <p class="p">Our experts are dedicated to agility, creativity, flexibility, and quality to create digital
                products that impact people’s lives.</p>
            <p class="p">Our solutions cover all phases of the digital product lifecycle, from idea to technical and
                strategic support.</p>
        </div>
        <div class="image">
            <img src="{% static 'img/culture/culture-image-01.jpg' %}" alt="" class="img">
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content-container achievements">
        <div class="element element-active">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>
        <div class="element">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>
        <div class="element">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>
        <div class="element">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>
        <div class="description">
            <div class="tab-content">
                <div class="caret"></div>
                <div class="text-wrapper">
                    <div class="text-button">
                        <p class="p-medium">Best Employer Brand Adria</p>
                        <img src="{% static 'img/culture/close.svg' %}" alt="" class="img">
                    </div>
                    <p class="p-small">Q begins and ends with its people, and we've been working hard on putting those
                        words to action!</p>
                </div>
            </div>
        </div>
        <div class="element">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>
        <div class="element">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>
        <div class="element">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>
        <div class="element">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>
        <div class="element">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>
        <div class="element">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>
        <div class="element">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>
        <div class="element">
            <div class="image">
                <img src="{% static 'img/culture/culture-achievement.svg' %}" alt="" class="img">
            </div>
            <div class="text">
                <p class="p">Best Employer Brand Adria 2021</p>
            </div>
        </div>

    </div>
    <section class="divider-desktop"></section>
    <div class="content_container experiences-description">
        <h3 class="h3">Creating Experiences</h3>
        <div class="text-wrapper">
            <div class="text">
                <p class="p">Since 2013 we have been providing global headquarters with exceptional digital solutions,
                    from mobile apps to complex infrastructure.</p>
                <p class="p">Nowadays, Q is recognized for creating experiences across countries while challenging
                    boundaries across industries and exceeding users’ expectations.</p>
            </div>
            <div class="text">
                <p class="p">We bring our services to our clients’ doorstep with five global offices in Zagreb, London,
                    Belgrade, Belfast, New York, and Zürich. This approach led us to long-term relationships resulting
                    in many award-winning products.</p>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="video">
        <div class="video-wrapper content_container">
            <div class="YT-embedded">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/MhvQoZbpYcM"
                        title="Q VALUES | Move Fast. Be Kind. Do More." frameborder="0" allow="accelerometer;
                    autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="text">
                <p class="p">Our core (Q) values support the company vision and shape its culture.</p>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container list-wrapper roadmap">
        <div class="list-primary_wrapper">
            <div class="element first-element">
                <div class="heading">
                    <p class="number">01</p>
                    <h4 class="h4">Move Fast.</h4>
                </div>
                <div class="description">
                    <p class="p">We constantly educate ourselves about market and tech trends to stay ahead of the curve
                        and understand user needs regarding specific problems.</p>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">02</p>
                    <h4 class="h4">Be Kind.</h4>
                </div>
                <div class="description">
                    <p class="p">In Q, we keep our word and never break promises. We value others, always look for
                        win-win scenarios, and put ourselves in the shoes of others. Whatever the situation, we are
                        candid, appreciative of other people’s views, and make time to help and support each other.</p>
                </div>
            </div>
            <div class="element">
                <div class="heading">
                    <p class="number">03</p>
                    <h4 class="h4">Do more.</h4>
                </div>
                <div class="description">
                    <p class="p">Going the extra mile is what we always do in our work. We take the initiative, deliver
                        more than expected, and push our boundaries each day.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="management-wrapper">
        <div class="content_container heading">
            <h2 class="h2">Our Management</h2>
        </div>
        <div class="members-container">
            <div class="members-wrapper">
                <div class="members-primary">
                    <div class="members-image">
                        <img src="{% static 'img/culture/team-image-filip.jpg' %}" alt="harry" class="member-img">
                    </div>
                    <div class="members-description">
                        <div class="name-buttons-wrapper">
                            <div class="members-name">
                                <p class="name">Filip Ljubic</p>
                            </div>
                            <div class="buttons">
                                <div class="button-prev button">
                                    <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                                </div>
                                <div class="button-next button">
                                    <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                                </div>
                            </div>
                        </div>
                        <div class="post-media-wrapper">
                            <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                            <p class="post">CEO</p>
                        </div>
                        <div class="pagination"></div>
                        <div class="description">
                            <p class="description-p">An energetic and passionate leader with a strong international
                                background. With 15 years of executive experience, Filip can seal any deal. His
                                attention to detail is causing many headaches, but that’s only because he’s a
                                perfectionist in everything he does. He knows no limits, and for him, “boundaries” is
                                just another word.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="members-container">
            <div class="members-wrapper">
                <div class="members-primary">
                    <div class="members-image">
                        <img src="{% static 'img/harry.jpg' %}" alt="harry" class="member-img">
                    </div>
                    <div class="members-description">
                        <div class="name-buttons-wrapper">
                            <div class="members-name">
                                <p class="name">Harry Gorajscan</p>
                            </div>
                            <div class="buttons">
                                <div class="button-prev button">
                                    <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                                </div>
                                <div class="button-next button">
                                    <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                                </div>
                            </div>
                        </div>
                        <div class="post-media-wrapper">
                            <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                            <p class="post">CTO</p>
                        </div>
                        <div class="pagination"></div>
                        <div class="description">
                            <p class="description-p">A former developer, lead software architect, head of engineering,
                                and now our invaluable CTO who makes sure Q’s technology strategy serves our business.
                                His technical expertise, leadership, and team-work make him an evangelist to developers.
                                He goes beyond the code to maintain the technical culture and makes sure we can continue
                                to retain and attract top technical talent.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="members-container">
            <div class="members-wrapper">
                <div class="members-primary">
                    <div class="members-image">
                        <img src="{% static 'img/culture/team-image-dado.jpg' %}" alt="harry" class="member-img">
                    </div>
                    <div class="members-description">
                        <div class="name-buttons-wrapper">
                            <div class="members-name">
                                <p class="name">Dalibor Jurgec</p>
                            </div>
                            <div class="buttons">
                                <div class="button-prev button">
                                    <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                                </div>
                                <div class="button-next button">
                                    <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                                </div>
                            </div>
                        </div>
                        <div class="post-media-wrapper">
                            <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                            <p class="post">COO</p>
                        </div>
                        <div class="pagination"></div>
                        <div class="description">
                            <p class="description-p">Dalibor’s extensive experience includes a long list of clients and
                                endless projects, both small and large enterprise solutions. With over 200 completed web
                                projects using an impressive range of technologies, he’s seen it all. Known for thinking
                                fast, being highly analytical and solving problems with ease, complex projects and
                                business processes make him feel at home.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="members-container">
            <div class="members-wrapper">
                <div class="members-primary">
                    <div class="members-image">
                        <img src="{% static 'img/culture/team-image-vedran.jpg' %}" alt="harry" class="member-img">
                    </div>
                    <div class="members-description">
                        <div class="name-buttons-wrapper">
                            <div class="members-name">
                                <p class="name">Vedran Tolic</p>
                            </div>
                            <div class="buttons">
                                <div class="button-prev button">
                                    <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                                </div>
                                <div class="button-next button">
                                    <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                                </div>
                            </div>
                        </div>
                        <div class="post-media-wrapper">
                            <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                            <p class="post">CBO</p>
                        </div>
                        <div class="pagination"></div>
                        <div class="description">
                            <p class="description-p">Always keeping a 360-degree view of the end-user’s experience and
                                adapts fullest to the client’s needs. Experienced in business and product development,
                                he connects the two worlds and helps the client grow their digital products. No one can
                                handle infinite business trips and so many projects at the same time. He hides his ears
                                behind AirPods, and if you think he’s talking to you, don’t raise your hopes too high,
                                he is probably having a meeting.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="members-container">
            <div class="members-wrapper">
                <div class="members-primary">
                    <div class="members-image">
                        <img src="{% static 'img/culture/team-image-goran.jpg' %}" alt="harry" class="member-img">
                    </div>
                    <div class="members-description">
                        <div class="name-buttons-wrapper">
                            <div class="members-name">
                                <p class="name">Goran Kovacevic</p>
                            </div>
                            <div class="buttons">
                                <div class="button-prev button">
                                    <img src="{% static 'img/arrow-prev.svg' %}" alt="prev" class="arrow">
                                </div>
                                <div class="button-next button">
                                    <img src="{% static 'img/arrow-next.svg' %}" alt="next" class="arrow">
                                </div>
                            </div>
                        </div>
                        <div class="post-media-wrapper">
                            <img src="{% static 'img/linkedin_custom.svg' %}" alt="linkedin" class="likedin">
                            <p class="post">CEO</p>
                        </div>
                        <div class="pagination"></div>
                        <div class="description">
                            <p class="description-p">Always keeping a 360-degree view of the end-user’s experience and
                                adapts fullest to the client’s needs. Experienced in business and product development,
                                he connects the two worlds and helps the client grow their digital products. No one can
                                handle infinite business trips and so many projects at the same time. He hides his ears
                                behind AirPods, and if you think he’s talking to you, don’t raise your hopes too high,
                                he is probably having a meeting.</p>
                            <br>
                            <p class="description-p">Goran is an amateur basketball player, pro at skiing and master of
                                loosing in house pool tournament finals.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container text-image-variations">
        <div class="text">
            <h2 class="h2">Community</h2>
            <p class="p">In Q, we build and nurture a caring culture, which means giving back to the community by
                starting different initiatives. We are proud of our Qumans for investing their valuable time broadening
                the Q Community.</p>
        </div>
        <div class="culture-text-image">
            <div class="text">
                <h3 class="h3">Meetups</h3>
                <p class="p">Q actively supports knowledge sharing by organising different online and offline meet-up
                    events for our employees and everyone interested in new market trends.
                </p>
            </div>
            <div class="image">
                <img src="{% static 'img/culture/culture-image-02.jpg' %}" alt="" class="img">
            </div>
        </div>
        <div class="culture-text-image">
            <div class="text">
                <h3 class="h3">Q Wellbeing Talks</h3>
                <p class="p">Every other month we will host famous people who made an impact in our society. Through 30
                    minutes Qumans will get to ask questions and get inspired by top notch entrepreneurs, scientists,
                    sportsmen…</p>
            </div>
            <div class="image">
                <img src="{% static 'img/culture/culture-image-03.jpg' %}" alt="" class="img">
            </div>
        </div>
        <div class="culture-text-image">
            <div class="text">
                <h3 class="h3">Q Inspirational Talks</h3>
                <p class="p">Every other month we will host famous people who made an impact in our society. Through 30
                    minutes Qumans will get to ask questions and get inspired by top notch entrepreneurs, scientists,
                    sportsmen…</p>
                <img src="{% static 'img/culture/decoration.svg' %}" alt="" class="decoration">
            </div>
            <div class="image doubled">
                <img src="{% static 'img/culture/culture-image-04.jpg' %}" alt="" class="img">
                <img src="{% static 'img/culture/culture-image-05.jpg' %}" alt="" class="img">
            </div>
        </div>
        <div class="culture-text-image">
            <div class="text">
                <h3 class="h3">Q Scrubs</h3>
                <p class="p">A program that supports talented IT students by inviting them to participate in the daily
                    activities regarding actual projects.</p>
            </div>
            <div class="image">
                <img src="{% static 'img/culture/culture-image-06.jpg' %}" alt="" class="img">
            </div>
        </div>
        <div class="culture-text-image">
            <div class="text">
                <h3 class="h3">Qumanitarian</h3>
                <p class="p">Through organized volunteering, collecting goods, and donating, Q tries to help the
                    community. Q continuously supports Brezovica children’s hospital by collecting needed goods.</p>
                <br>
                <p class="p">Moreover, we are very proud of our Qumans that have been actively involved in Zagreb and
                    Petrinja earthquake initiatives.</p>
            </div>
            <div class="image">
                <img src="{% static 'img/culture/culture-image-07.jpg' %}" alt="" class="img">
            </div>
        </div>
        <div class="culture-text-image">
            <div class="text">
                <h3 class="h3">Q Sponsorship</h3>
                <p class="p">We support young athletes on their mission to become the world’s best players. We are
                    incredibly proud of Laura Hrle, number 1 tennis player under 12 in Croatia.</p>
            </div>
            <div class="image">
                <img src="{% static 'img/culture/culture-image-08.jpg' %}" alt="" class="img">
            </div>
        </div>
        <div class="culture-text-image">
            <div class="text">
                <h3 class="h3">Conferences</h3>
                <p class="p">Keeping up with user behaviour and needs means that you should constantly monitor market
                    trends, customer needs, and monetisation opportunities to improve your product to stay relevant.</p>
                <img src="{% static 'img/culture/decoration.svg' %}" alt="" class="decoration">
            </div>
            <div class="image doubled">
                <img src="{% static 'img/culture/culture-image-09.jpg' %}" alt="" class="img">
                <img src="{% static 'img/culture/culture-image-10.jpg' %}" alt="" class="img">
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="video">
        <div class="video-wrapper content_container">
            <div class="YT-embedded">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/TYtTMuV1mPw"
                        title="Thank you, Qumans! 2021" frameborder="0" allow="accelerometer;
                         autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="text">
                <p class="p">Our core (Q) values support the company vision and shape its culture.</p>
            </div>
        </div>
    </div>
    <section class="divider-desktop"></section>
    <div class="content_container collaborate-button">
        <h3 class="h3">Do you have a project, or want to say hello?</h3>
        <a href="{% url 'contact' %}" class="button">Let's collaborate</a>
    </div>
    <section class="divider-desktop"></section>
{% endblock %}
</body>